RewriteEngine On

# Muster:

# Von `irgendwas-xxxx/1234`                  umleiten nach: `./?id=1234`
# Von `irgendwas-xxxx-yyyy/4321`             umleiten nach: `./?id=4321`
# Von `irgendwas-xxxx-yyyy-zzzz/5555`        umleiten nach: `./?id=5555`

# Beispiele:

# Von `robi-tobi-cam/7`                      umleiten nach: `./?id=7`
# Von `lenovo-thinkvision-t32h-30-monitor/8` umleiten nach: `./?id=8`

# Echte Dateien/Verzeichnisse (z. B. parts/, partials/, index.html) nicht umschreiben
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^.*/(\d+)/?$			./?id=$1 [QSA,L]
