<%init>
	my %args = $m->caller_args(0);

	my $C     = $args{C};
	my $A     = $args{A};
	my $debug = $args{debug};
	my $perm  = $args{perm};
	my $usr_ident = $args{usr_ident};

	my $sids = $args{sids};

	my $check_tag = $C->check_tag_tracking();
</%init>
<div class="portlet-header border-bottom">
	<div class="float-end">
		Bsp. <a href="/info-collection-order.html">Abholauftrag</a>
	</div>
	<span>Datums-Picker</span>
</div>

<div class="portlet-body">

% #	=============================================================================================================================================
	<p>
		Date-Picker
	</p>

	<code>
		&lt;& inc_datetimepick.html, name=&gt;"mydate_1", offset=&gt;1, style=&gt;1 &&gt;
	</code><br /><br />

	<div class="row">
		<div class="col-md-6">
			<& inc_datetimepick.html, name=>"mydate_1", offset=>1, style=>1, C=>$C &>
		</div>
		<div class="col-md-6">
			<& inc_datetimepick.html, name=>"mydate_2", offset=>7, C=>$C &>
		</div>
	</div>
% #	=============================================================================================================================================
	<hr />
	<p class="mt-3">
		Range-Picker
	</p>
	<input type="text" name="dates" class="form-control" />
	<script>
		$(document).ready(function(){
			$('input[name="dates"]').daterangepicker({ startDate: moment(), endDate: moment().add(2, 'day')});
		})
	</script>
% #	=============================================================================================================================================

%	if ($usr_ident->{uid}) {
		<p class="mt-3 font-weight-bold">
			Ich habe Sie erkannt. Guten Tag, <% $usr_ident->{uinf}->{firstname} %> <% $usr_ident->{uinf}->{lastname} %>!
			&ndash; <% $usr_ident->{uinf}->{email} %> &ndash; lang = "<% $usr_ident->{uinf}->{lang} %>"
		</p>
%	}

%	if ($check_tag->{rows}) {
		<h4><% $check_tag->{rows} %> Tracking Tags gefunden</h4>
		<p>
			Aktueller Tag: <span
				class="btn row-pill btn-sm bg-gradient-warning b-0 py-1 mb-0 XXfloat-start mt--n3"><% $check_tag->{tags}->[0]->{tag} %></span>
					vom <% $C->trans_date_short( $check_tag->{tags}->[0]->{ts} ) %>
		</p>
%		foreach (sort keys %$check_tag) {
%			next if $_ eq 'tags' or $_ eq 'rows';
			[ check_tag_tracking ] &middot; <b><% $_ %></b> = <code><% $check_tag->{$_} %></code><br>
%		}
%		foreach my $t (@{ $check_tag->{tags} }) {
			&bull; ID <% $t->{id} %>: Tag <b><% $t->{tag} %></b> von <% $C->trans_date_short($t->{ts}) %>
%			if ($perm->{is_devel}) {
				&rarr; <a href="/adm_db_edit.html?table=work&wcl=id%3D<% $t->{id} %>">Edit</a>
%			}
			<br />
%		}
		<br />
%	}

	<br />

 	<div class="pt--20"> <& ../include/inc_sample_modal_ajax.html, C=>$C &> </div>

% #	Does not work in this page variant but everything else common open stuff does
% # XX	<& inc_modal_link.html, label=>'Modal sm',   href=>'_ajax/modal_foo.html',       size=>'sm',   C=>$C, group_icon=>'fi fi-search' &>

	<div class="alert alert-success mt-2 text-center" id="div52_401141"></div>

	<div class="alert alert-info mt-2 text-center" id="div81_307071">jQuery ist inaktiv</div>
</div>
