<%init>
	my %args = $m->caller_args(0);

	my $C     = $args{C};
	my $A     = $args{A};
	my $debug = $args{debug};
	my $perm  = $args{perm};
	my $usr_ident = $args{usr_ident};
</%init>
<div class="portlet-header border-bottom">
	<span>Registrierung</span>
</div>

<div class="portlet-body">

%	if ($usr_ident->{uid}) {
		<p class="mt-3 font-weight-bold">
			Ich habe Sie erkannt. Guten Tag, <% $usr_ident->{uinf}->{firstname} %> <% $usr_ident->{uinf}->{lastname} %>!
			&ndash; <% $usr_ident->{uinf}->{email} %> &ndash; lang = "<% $usr_ident->{uinf}->{lang} %>"
		</p>
%	}

	<a href="#" id="modal_404111_23"
		class="js-ajax-modal btn btn-sm btn-primary btn-pill"
		data-href="/_ajax/modal_signin_md.html" data-ajax-modal-size="modal-md" data-ajax-modal-centered="true" data-ajax-modal-backdrop="static">

		<span class="group-icon">
			<i class="fi fi-user-male"></i>
		</span>
		<span id="modal_404111_30">Registrieren</span>
	</a>

	<p>
	<% ${ $A->modal( label=>'Neue Reg.',
		url=>'/_ajax/modal_prism_signin.html?css_id=402171_19&show_reg=1&gugu=gaga', css_id=>'402171_19') } %>
	</p>

	<br>

<%doc>
	<div class="timer-autohide alert alert-danger mt-3" data-timer-autohide="6000">
		<i class="fi fi-close mr-2"></i>
		Text der Applikations-Meldung f&uuml;r 6 Sekunden
	</div>
</%doc>

	<div class="alert alert-info mt-2" id="div81_307071">jQuery ist inaktiv</div>
</div>
