<%init>
	my %args = $m->caller_args(0);
	my $C = $args{CORE};
	my $A = $args{A};
	my $par = $m->caller(1);

	my $SID = $C->getSID();
	my $sth = $C->{dbh}->prepare("select `key`, val from session where sid=$SID ORDER BY id DESC LIMIT 99");
	   $sth->execute();
	my %sess_key_memo = ();

	# my $this_title = $m->current_comp->title;

	my $order_id = $C->getSessData('order_id');
	my $voucher  = $C->getSessData('voucher');
</%init>
%
<br>
<div style='font-size:92%; color:maroon; background-color:#f0f0f0'>

% unless (defined $A) {
	<b style='color:red; font-size:20px'>*** WARNING!! &rarr; Call with $A! ***</b><br>
% }

[ <% $par->title %> ] &mdash; Cur. SID <% $SID %> &mdash; <b>CGI:</b><br>
% foreach my $k ($C->{CGI}->all_parameters) {
	&bull; <% $k %> = "<% $C->{CGI}->param($k) %>"<br>
% }
<br>

% while(my $r = $sth->fetch()) {
%	my ($k, $v) = @{$r};
%	unless ($sess_key_memo{$k}) {
		&bull; [Sess] <%$k%> = "<%$v%>"<br>
%		$sess_key_memo{$k} = 1;
%	}
% }
</div>

% if ($order_id) {
%	my $amount_incl_vat = $C->query("select amount_incl_vat FROM orders WHERE id=$order_id")->[0];
	<hr noshade size=1>
	<h2>Order ID <%$order_id%></h2>
	amount_incl_vat = <%$amount_incl_vat%> (from orders)<br>
%	my $sth = $C->{dbh}->prepare("select xkey, xval FROM orders_details WHERE order_id=$order_id AND xval > ' ' ORDER BY xkey");
%	   $sth->execute();
%	while(my $r = $sth->fetch()) {
%		next unless $r->[1];
		&ndash; <b><%$r->[0]%></b> = <%$r->[1]%><br>
%	}
% }

% if ($voucher && defined $A) {
%	my $voucher_info = $A->get_voucher_info($voucher);
	<hr noshade size=1>
	Voucher <%$voucher%><br>
	Current Value: <%$A->get_cur_voucher_value()%><br>
%	foreach (sort keys %{$voucher_info}) {
%		next unless $voucher_info->{$_};
		<b><%$_%></b> = "<%$voucher_info->{$_}%>"<br>
%	}
% }
