<%init>
	my %args = $m->caller_args(0);

	my $C    = $args{C};
	my $A    = $args{A};
	my $id   = $args{id};

	my $d           = $A->get_product($id);
	my $lang        = 'de';
	my $spec_sale   = $d->{price_incl_vat} != $d->{price_orig_incl_vat} ? 1 : 0;
	my $in_basket   = $C->query("select id FROM basket WHERE sid=$args{SID} AND prod_id=$id")->[0];
	my $sold_out    = $d->{condition} eq 'SO' && $d->{count} < 1 ? 1 : 0;

	my $has_mandatory_options = $C->query(qq~SELECT mandatory FROM voptions WHERE mandatory=1 AND
		id IN (SELECT substr(featkey, 3, 8) from products_feat WHERE product_id=$id AND featkey LIKE '_o%') and lang='de'
		LIMIT 1
	~)->[0];
	my $is_offer = $d->{price_incl_vat} != $d->{price_orig_incl_vat} ? 1 : 0;
	my $cat_name = $C->query("select label from categories where id=$d->{cat_id} and lang='de'")->[0];
</%init>
% if ($in_basket) {
	<div class="float-right mt-0 ml-1">
		<a class="collapsed" data-toggle="collapse" href="#collapseExample<% $in_basket %>"
			role="button" aria-expanded="false" aria-controls="collapseExample<% $in_basket %>">
			<span class="badge badge-success"><i class="fi fi-check fs--12"></i></span>
		</a>
		<div class="collapse" id="collapseExample<% $in_basket %>">
			<div class="card card-body fs--14">
				&bull; Zur Kasse<br>
				<nobr>&bull; <a href="_del_from_basket.html?id=<% $in_basket %>">Entfernen</a></nobr>
			</div>
		</div>
	</div>
% }

% if ($spec_sale) {
	<div class="float-right mt-0 ml-0">
		<span class="badge badge-pink"><i class="fi fi-star-full fs--10"></i> SALE <% $d->{discount_perc} %> %</span>
	</div>
% }

<p class="card-text">
	<a href="article-<% $id %>-<% $d->{title_enc} %>.html">
	<div class="shadow-md shadow-3d-hover transition-hover-zoom-img overflow-hidden rounded"><img
		src="produkte/p<%$id%>_thmb.jpg" class="floax-left img-fluid"
		style="max-height:125px;<% $in_basket ? ' opacity:.3 !important; filter:alpha(opacity=0);' : '' %>"></div></a>

	<div style="min-height: 200px; display: flex; flex-direction: column; justify-content: space-between; bordex: 7px solid">
		<h5 class="card-title"><a style="color:#222222; font-size:0.9em"
			href="article-<% $id %>-<% $d->{title_enc} %>.html"><% $C->shorten_title($d->{title}, 33) %></a></h5>

		<p style="height:105px">
			<% $C->shorten_title($d->{description}, 88) %>
		</p>
	</div>

	<div style="margin-top: auto; min-height:80px; font-size:0.8rem">
		<span style="color:#121212"><% $cat_name %></span><br />
		<span style="color:#121212"><% $d->{brand} %></span>
	</div>

	<div class="float-left" style="margin-top:<% $spec_sale ? 2 : 25 %>px; paddinx-right:3px;">
%		if ($spec_sale) {
			<span class="lead" style="color:#ce3b48"><b>CHF <% $d->{price_incl_vat} %></b></span><br />
			statt <s>CHF <% $d->{price_orig_incl_vat} %></s>
%		}
%		else {
			<span class="lead"><b>CHF <% $d->{price_incl_vat} %></b></span>
%		}
	</div><br />

	<div class="float-right" stylx="margin-top: auto;">
%		if ($sold_out) {
			<i class="fi fi-support fs--25" style="color:black"></i>
%		}
%		else {
			<a href="#" onclick="JavaScript:add2bask(<% $id %>)">&#128722;</a>
%		}
	</div>
</p>
