<%init>
	my %args = $m->caller_args(0);

	my $C     = $args{C};
	my $hl    = $args{hl};
	my $max_w = $args{max_w} || '25vw';

	my $pic_count = $#{ $hl->{xtra_imgs} } + 1;

	my $css_id = "carouselIndicator$hl->{id}";

	my $sq_class_1 = 'p-5 px-2 rounded z-index-1 text-center overlay-dark-hover overlay-opacity-3 bg-cover lazy position-relative overflow-hidden m-0';
	   $sq_class_1 = 'p-5 px-2 rounded z-index-1 text-right  overlay-dark-hover overlay-opacity-3 bg-cover lazy';
	   $sq_class_1 = 'z-index-1 bg-cover text-right';

	my $disc_perc = sprintf('%.0f', $hl->{discount_perc});
</%init>
<div id="<% $css_id %>" class="carousel slide" data-ride="carousel" data-interval="<% 6000 + int(rand() * 4000) %>">

	<ol class="carousel-indicators">
			<li data-target="#<% $css_id %>" data-slide-to="0" class="active"></li>
%		for (my $j=1; $j < $pic_count + 1; $j++) {
			<li data-target="#<% $css_id %>" data-slide-to="<% $j %>"></li>
%		}
	</ol>

	<div class="carousel-inner">
		<div class="carousel-item active">

		    <a href="/product/<% $hl->{title_enc} %>/<% $hl->{id} %>">
			<center>
			<div class="<% $sq_class_1 %>" data-loaded="true"
	style="background-image: url(&quot;/produkte/p<% $hl->{id} %>_large.<% $hl->{ext_main_pic} %>&quot;); max-width: <% $max_w %>; max-height: 205px !important;">
				<img class="w-100" alt="Produkt <% $hl->{title} %>" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="> 
%				if ($disc_perc) {
					<& inc_discount_label.html, disc_perc=>$disc_perc &>
%				}
			</div>
			</center>
		    </a>

		</div>

%		my $i = 0;
%		foreach (@{$hl->{xtra_imgs}}) {
			<div class="carousel-item">
			    <a href="/product/<% $hl->{title_enc} %>/<% $hl->{id} %>">
				<center>
				<div class="<% $sq_class_1 %>" data-loaded="false"
						style="background-image: url(&quot;/<% $_ %>&quot;); max-width: <% $max_w %>; max-height: 205px">
					<img class="w-100" alt="<% $hl->{title} %>" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="> 
%				if ($disc_perc) {
					<& inc_discount_label.html, disc_perc=>$disc_perc &>
%				}
				</div>
				</center>
			    </a>
			</div>
%			$i++;
%		}
	</div>

<%doc>
	<a class="carousel-control-prev" href="#<% $css_id %>" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>

	<a class="carousel-control-next" href="#<% $css_id %>" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</%doc>

</div>
