<%init>
	my %args = $m->caller_args(0);

	my $C     = $args{C};
	my $A     = $args{A};
	my $debug = $args{debug};
	my $perm  = $args{perm};

	my $sth = $C->{dbh}->prepare(q~
		select	id, last_mod, subject from newsletter where status IN (3,4)
		order	by id desc
		limit	5
	~);
	$sth->execute();
</%init>
<div class="portlet-body p-2">

	<form method="post">
	<h3 class="fs--20 mt--n10 mb-3">Newsletter anmelden</h3>

	<input type="email" class="form-control mb-3" name="email" value="<% $perm->{email} %>" required="required" placeholder="E-Mail">

	<input type="hidden" name="action" value="sub">
	<input type="submit" class="btn btn-sm btn-primary" id="btn-newsletter-sub" value="Newsletter abonnieren">
	<input type="hidden" id="btn-newsletter-unsub">

	<input type="button" class="btn btn-sm btn-secondary ml-3 w--200"
		onclick="document.location='/account.html'" id="btn-newsletter-acc" value="Mein Konto">
	</form><br />
	<span><% $C->prop('newsletter_text') %></span><br />

	<p class="mt-3">
%		if ($perm->{uid} > 0) {
			<a class="link-muted" href="/unsubscribe/u/<% $perm->{email} %>"><% $perm->{email} %> abmelden</a>
%		}
	</p><br />

	<hr class="mt--n3 w--600 float-left" /><br />
	<h3 class="fs--20"><i class="fi fi-star"></i> Unsere bisherigen Newsletter</h3>

%	while(my $r = $sth->fetch()) {
%		my ($id, $last_mod, $subj) = @{$r};
%		my $age = $C->age_of_timestamp_day($last_mod);
		<a href="#" class="js-ajax-modal link-muted"
		        data-href="/_ajax/modal_newsletter.html?id=<% $id %>"
			data-ajax-modal-size="modal-full"
			data-ajax-modal-centered="true"
			data-ajax-modal-backdrop="static">

%		    if ($age < 2) {
			<div style="animation-duration:2s; animation-iteration-count:5; border-color:#919191 !important; XXXbackground-color:#f6e8e8 !important"
				class="alert bg-danger-soft XXXalert-warning mt-4 mb-5 w--600 border pt--5 pb--10 p-3 animate-pulse">
				<p class="fs--14 mt-2 text-gray-800"><i class="fi fi-star"></i> Aktueller Newsletter Nr. <% $id %></p>
				<span class="fs--19 font-weight-bold text-gray-800"><% $subj %></span>
			</div>
%		    }
%		    else {
			<div style="animation-duration:2s; border-color:#d0d0d0 !important"
				class="alert alert-light mt-4 w--600 border pt--5 pb--10 p-3">
				<p class="fs--13 text-gray-600">Newsletter Nr. <% $id %> vom <% $C->trans_date_short_nt($last_mod) %></p>
				<span class="fs--19"><% $subj %></span>
			</div>
%		    }

		</a>
%	}

</div>
