<%init>
	my %args = $m->caller_args(0);

	my $C     = $args{C};
	my $A     = $args{A};
	my $id    = $args{id};
	my $d     = $args{d};
	my $lang  = $args{lang};
	my $xsale = $args{xsale};
	my $debug = $args{debug};
	my $perm  = $args{perm};

	my $discount = 0.0;
	my $is_offer = 0;
	my $msg = my $THIS = '';

	$THIS = $C->this() .' (include)' if $debug;
	my $xtra_sale = $xsale->{suggestion};

	my %feature = my %feat_ident = my %feat_label = ();
	my $max_len_feat = my $feat_count = 0;
	my @features = (); # -- 14Aug2024

	foreach (sort keys %{$d->{pfeat}}) {
		my ($weight, $label, $ident, $val) = split /\t/;
		next if $ident eq 'LONG_DESC';
		$feature{$label}    = $d->{pfeat}->{$_} unless $label =~ /^\_/;
		$feat_ident{$ident} = $d->{pfeat}->{$_} unless $label =~ /^\_/;
		$feat_label{$ident} = $label;
		if ($feat_label{$ident} =~ /^\* .+ \*$/) {
			$feat_label{$ident} = $C->query(
				"SELECT featname FROM products_feat WHERE product_id=$id AND lang='de' AND featkey='$ident'")->[0] .
					" - ($ident) <i class='font-weight-normal'>$lang</i>";
		}
		my %feat = ( k => $feat_label{$ident}, v => $feat_ident{$ident} );
		push(@features, \%feat) if length( $feat_ident{$ident} );
		my $len_feat = length($d->{pfeat}->{$_});
		$max_len_feat = $len_feat if $len_feat > $max_len_feat;
		$feat_count++ unless $label =~ /^\_/;
	}

	my $art_opts = $A->get_opt_from_product($id);
	my %option_h = ();
	my $opt_count = 0;
	foreach my $opt_id (keys %{$art_opts}) {
		my $opt_label = $C->query("select label from options_desc where option_id=$opt_id and lang='$lang'")->[0] || 'N/A';
		$option_h{$opt_id} = $opt_label;
		$opt_count++;
	}

	if ($d->{campaign_id} > 0) {
		my $token_id = $C->getSessData('token_id') + 0;
		unless ($token_id == $d->{campaign_id}) {
			$C->redir('/prozone.html');
		}
	}

	(my $title_enc = $d->{title}) =~ s/"/&quot;/g;
	my $condition  = ($d->{extra} == 1 or $d->{extra} > 3) ?
		q~<span class="btn row-pill btn-sm bg-gradient-warning b-0 py-1 mb-0 float-start XXXmt--n1 mr-1">
			<span class="hidden-sm-up">Neu</span>
			<span class="hidden-xs-down hidden-xl-up hidden-md-up">Neu</span>
			<span class="hidden-sm-down hidden-xl-up">Neuger&auml;t</span>
			<span class="hidden-md-down hidden-lg-down">Neuger&auml;t</span>
		</span>~ : '';
	my $promo_tag = '';
	if ($d->{is_promo} < 0) {
		$promo_tag = qq~<span style="pointer-events:nonx; animation-duration:1s; animation-iteration-count:4; background-color:#FF7F50; color:white"
				data-toggle="tooltip" data-placement="bottom" data-original-title="Weitere Tagesangebote anzeigen"
				class="btn btn-sm rounded-circle-xs py-1 mb-0 mt--n3 float-start btn-pill border XXbg-facebook animate-pulse">
				<i class="fi fi-loud"></i>
				<span>Tagesangebot!</span>
			</span>~;
	}
	elsif ($d->{is_promo}) {
		$promo_tag = qq~<span class="btn row-pill btn-sm bg-gradient-warning b-0 py-1 mb-0 float-start ml-1 hidden-sm-down">
			Promotion</span>~;
	}

	if ($d->{is_promo}) {
		$promo_tag = qq~<a href="/products/dailly-offer/$args{daily_offer_cid}">$promo_tag</a>~;
	}

	my $sq_class_1 = 'p-5 px-2 text-right rounded z-index-1 overlay-dark-hover overlay-opacity-3 rounded XXoverflow-hidden bg-cover lazy';

	my $len_desc = length($d->{description});
	(my $desc_short = $C->shorten_title($d->{description}, 242)) =~ s/<[^>]*>//gs;

	my $len_desc_long = length($d->{desc_long});
	my $len_medium = length($d->{title}) > 25 ? 190 : 255; # -- 10Mar2024
	(my $desc_medium = $C->shorten_title($d->{desc_long}, $len_medium)) =~ s/<[^>]*>//gs;
</%init>
<div class="portlet-header border-bottom mt-n2 mb-n4">
	<div class="float-right mt-1 hide_mobile_404281">
		<a class="text-dark font-weight-light"
			href="/category-<% $d->{cat_id} %>-<% $d->{cat_url_friendly} %>.html"><% $d->{cat_names} %></a> &mdash;
		<a class="text-dark font-weight-light" href="/s~<% $d->{brand} %>.html">Marke: <% $d->{brand} || 'No Brand' %></a>
	</div>
	<% $condition %> <% $promo_tag %>
	<h5 class="card-title mb-4 font-weight-bolder prism-limit-len-500-405041"><% $d->{title} %></h5>
</div>

<div class="portlet-body">
%	if ($debug) {
		<small>DN28307010:</small> <code><% $THIS %></code> &middot; <a href="/_debug.html">Debug</a><br /><br />
%	}

    <div class="row">
	<div class="col-12 col-lg-6">
		<div class="card shadow-md shadow-lg-hover transition-all-ease-250 transition-hover-top XXh--600 border-light bl-0 br-0 bb-0 bw--2">
% #		    <div class="card-body transition-hover-zoom-img">
		    <div class="card-body">
			<p class="card-text">
%			    unless ($d->{_rc} == 3) {
%				if ($#{ $args{xtra_imgs}->{pics} }+1) {
					<& inc_image_slider.html, id=>$args{id}, suppress_modal=>1,
						C=>$C, perm=>$perm, xtra_imgs=>$args{xtra_imgs}, cur_ext=>$args{cur_ext}, debug=>$debug &>
%				}
%				else {
					<img class="img-fluid" alt="<% $title_enc %>" title="<% $title_enc %>" src="/produkte/p<% $id %>_large.<% $args{cur_ext} %>" />
%				}
				<p class="mt-3 fs--14 mb-4"><% $C->txt('image_text', $lang) %></p>

				<div class="truncate-container">
				<div class="truncate-text" id="l_desc_410131" style="display:none; text-wrap:balance;">
%				# =============================================================================================================
%				# =============================================================================================================
%				# =============================================================================================================
					<span class="hidden-md-down hidden-lg-down"><% $d->{desc_long} %></span>
%				if ($len_desc_long > 250) {
					<span class="hidden-sm-down hidden-xl-up fs--13"><% $d->{desc_long} %></span>
					<span class="hidden-xs-down hidden-xl-up hidden-md-up fs--12"><% $d->{desc_long} %></span>
%				}
%				else {
					<span class="hidden-sm-down hidden-xl-up fs--15"><% $d->{desc_long} %></span>
					<span class="hidden-xs-down hidden-xl-up hidden-md-up fs--14"><% $d->{desc_long} %></span>
%				}
					<span class="hidden-sm-up"><% $desc_medium %></span>
%				# =============================================================================================================
%				# =============================================================================================================
%				# =============================================================================================================
				</div>
%				if ($args{trunc_desc}) {
					<a href="#" class="show-more fs--12 pl-0"><svg fill="none" viewBox="0 0 16 16" width="13" height="13"
						aria-hidden="true" class=""><path fill="#000" fill-rule="evenodd" clip-rule="evenodd"
					d="M7.995 1v12.086L4.213 9.343l-.713.707 4.284 4.243L8.5 15l4.999-4.95-.714-.707-3.78 3.743V1z"></path></svg> Mehr anzeigen</a>
%				}
				</div>
%			    }
%				if ($perm->{is_admin}) {
					<div class="float-end mt-2">
						<a class="link-muted" href="/adx/manage-property.html?area=warranty_info"><i
							class="fi fi-pencil fs--17"></i></a>
					</div>
%				}
%				my $cond_type = ($d->{extra} + 0) || 2;
				<p class="fs--20 mt-4 mb--n10 hidden-xs-down">
%					if ($debug) {
						<small>DN404120-137:</small> extra="<code><% $d->{extra} %></code>"
%					}
					<a class="link-muted" href="/info-warranty.html">
						<img src="/assets/images/logo/logo_warranty.svg" alt="Garantie"
							class="img-fluid mt-0" style="max-width:30px"></a>
					<b class="text-red-500">
%						if ($cond_type < 4) {
							<% $C->txt("warranty_info_$cond_type", $lang) %>
%						}
%						else {
							Sonder-Garantie: Siehe Beschreibung
%						}
					</b>
				</p>
			</p>
		    </div>
		</div>
	</div>

	<div class="col-12 col-lg-6" style="min-height:40vh">
%		my $card_style = '';
%		my $height   = ($opt_count * 82 + (sprintf('%.0f', $len_desc / 5)) + ($feat_count * 34) + 500) . 'px';
%		$card_style  = qq~height: $height !important~;
		<div style="<% $card_style %>"
			class="card shadow-md shadow-lg-hover transition-all-ease-500 transition-hover-top border-light bl-0 br-0 bb-0 bw--2">
			<div class="card-body">
%			    if ($perm->{is_admin}) {
				<div class="float-right" style="margin-top:-3px">
					<a href="/adx/edit-product.html?id=<% $id %>"><span
						data-toggle="tooltip" data-placement="top" data-original-title="Dieses Produkt anpassen"
						class="ml-1 btn btn-outline-danger btn-pill btn-sm w--150 mb-0">Edit Product</span></a>
				</div>
%			    }
				<h4 class="card-title" XXXid="dynTotal">
%					if ($args{spec_sale}) {
						<span style="color:#e60021">
							<b style="font-size:1.8rem">CHF <span id="dynTotal"><% $d->{price_incl_vat_fmt} %></span></b><br />
							<span style="font-size:0.95rem">statt <s><% $C->decimal_mark($d->{price_orig_incl_vat}) %></s></span>
						</span>
%					}
%					else {
						CHF <span id="dynTotal"><% $d->{price_incl_vat_fmt} %></span>
%					}
				</h4>
				<p class="card-text">
%					if ($d->{campaign_id}) {
						<p><b><a class="text-dark" href="/prozone.html">PRO-Zone!</a></b></p>
%					}
%					my $fs_desc = '';
%					   $fs_desc = 'fs--15' if $len_desc > 300;
%					   $fs_desc = 'fs--14' if $len_desc > 400;
					<span class="hidden-lg-down <% $fs_desc %>"><% $debug ?
						"<code>len=$len_desc &rarr; $card_style</code> " : '' %><% $d->{description} %></span>
					<span class="hidden-md-down hidden-xl-up fs--12"><% $desc_short %></span>
					<span class="hidden-xs-down hidden-lg-up"><% $d->{description} %></span>
%					# -- Mobile Devices:
					<span class="hidden-sm-up"><% $desc_short %></span>
				</p>
				<table class="table table-sm border table-striped fs--14 mt-4 hidden-md-down">
%				foreach my $feat (@features) {
%					next if $feat->{k} =~ /^URL/; # -- 10Apr2025
					<tr>
					<td nowrap><b><% $feat->{k} %></b></td>
					<td>
%						if ($max_len_feat > 31) {
							<span class="hidden-lg-down"><% $feat->{v} %></span>
							<span class="fs--10 hidden-xl-up hidden-md-down"><% $C->shorten_title($feat->{v}, 31) %></span>
%						}
%						else {
							<% $feat->{v} %>
%						}
					</td>
					</tr>
%				}
				</table>

%				# -- For small devices / Smartphones
%				my $feat_row_count = 0;
				<table class="table table-sm border table-striped fs--12 XXmt--n10 hidden-lg-up mt-4">
%				foreach my $k (sort keys %feat_ident) {
%					last if ++$feat_row_count > 9;
%					my $spec_class='hide_mobile_404281' if $k eq 'DISP' or $k eq 'CONN';
					<tr class="<% $spec_class %>">
%					if ($max_len_feat > 31) {
						<td><b class="fs--10"><% $C->shorten_title($feat_label{$k}, 20) %></b></td>
						<td><span class="fs--10"><% $C->shorten_title($feat_ident{$k}, 31) %></span></td>
%					}
%					else {
						<td><b><% $C->shorten_title($feat_label{$k}, 15) %></b></td>
						<td><% $C->shorten_title($feat_ident{$k}, 31) %></td>
%					}
					</tr>
%				}
				</table>

%				# -- 22Nov2023: von mb-2 zu mb-3 wegen Google
				<p class="fixed-bottom ml-3 mb-3 mobile_403060" style="background-color:white !important">
%					unless ($d->{_rc}) {
						<span class="ml-2 hidden-sm-down" style="color:#73c44d; font-size:0.85rem"><i
							class="fi mdi-check fs--20"></i> <% $d->{count_product} %> Stk. in unserem Lager
						</span>
%					}
					<br><br>

%					foreach my $opt_id (sort keys %option_h) {
%						if ($debug) {
							<span class="fs--10">DN404181-239: Opt-ID <% $opt_id %></span>
%						}
						<span class="font-weight-bold fs--15 hidden-md-down hidden-lg-down"><% $option_h{$opt_id} %></span>
						<span class="font-weight-bold fs--15 hidden-sm-down hidden-xl-up"><% $option_h{$opt_id} %></span>
						<span class="font-weight-bold fs--13 hidden-xs-down hidden-xl-up hidden-md-up"><% $option_h{$opt_id} %></span>
						<span class="font-weight-bold fs--13 hidden-sm-up"><% $C->shorten_title($option_h{$opt_id}, 48) %></span>
						<& inc_prod_option.html, A=>$A, opt_id=>$opt_id, id=>$id, lang=>$lang, debug=>$debug &>
%					}
%					unless ($d->{_rc}) {
						<span class="<% $debug ? '' : 'hide' %>" id="d80_inc_product"></span>
%						# -- In den Warenkorb
						<a href="#" onclick="JavaScript:add2bask(<% $id %>)"
							class="btn btn-sm btn-primary btn-soft mt-3 nav-link mr-2 mb-1"><i
								class="fi fi-cart-2 fs--25"></i> <% $C->prp('btn_into_basket') %></a>
						<span class="float-right mr-2 mb--n10 hidden-md-down">
							<img src="/assets/images/logo/logo_visa_mastercard.png" class="img-fluid" style="max-width:4.0vw" alt="VISA">
							<img src="/assets/images/logo/twint_logo.png"           class="img-fluid" style="max-width:3.3vw" alt="TWINT">
							<img src="/assets/images/logo/logo_paypal.webp"         class="img-fluid" style="margin-top:2px; max-width:2.5vw" alt="PayPal">
						</span>
						<i class="fi fi-truck-speed fs--16"></i> <a class="link-muted fs--14"
							href="/info-delivery.html">Lieferfrist: 2 Werktage mit DHL Schweiz</a>
%					}
%					else {
						<div class="alert alert-warning fixed-bottom XXmb-5 ml-2 mr-2" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span class="fi fi-close" aria-hidden="true"></span>
							</button>
%							if ($d->{_rc} == 4) {
								Das Produkt ist aktuell leider nicht verf&uuml;gbar<br>
								<a href="/products/alternatives/<% $d->{cat_id} %>">Alternativen anzeigen</a>
%							}
%							else {
								<% "Code $d->{_rc} &middot; $d->{_msg}" %>
%							}
						</div>
%					}
				</p>
			</div>
		</div>
	</div>
    </div>

%	if ($args{xmsg}) {
		<div class="timer-autohide alert alert-danger mt-3" data-timer-autohide="10000">
			<i class="fi fi-close mr-2"></i> 
			<% $args{xmsg} %>
		</div>
%	}

%	# -- Wegen Google Merchants Center: 21Nov2023: f. mobile Geraete
	<p>&nbsp;</p>

%	# -- Wegen Google Merchants Center: 09Nov2023: hidden-sm-down f. mobile Geraete
	<h5 class="mt-3 hidden-sm-down">Weitere Empfehlungen</h5>

	<div class="card shadow-md shadow-lg-hover border-light bl-0 br-0 bb-0 bw--2 mt-2 mb-0 hidden-sm-down">
		<div class="card-body">
			<p class="card-text">
				<div class="row">
%				foreach my $d (@{$xtra_sale}) {
					<div class="col-2" style="min-width:99px">
						<a href="/product/<% $C->url_friendly($d->{title}) %>/<% $d->{id} %>">
							<div class="<% $sq_class_1 %>" data-loaded="true"
						style="background-image: url(&quot;/produkte/p<% $d->{id} %>_large.<% $d->{image}->{ext} %>&quot;); max-width: 8vw;">
								<img class="w-100" alt="<% $d->{title} %>" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
%								if ($d->{discount_perc}) {
									<& inc_discount_label.html, disc_perc=>$d->{discount_perc_int}, max_fs=>11 &>
%								}
							</div>
						</a>
					</div>
					<div class="col-10">
%						if ($d->{extra} == 1) {
							<span class="btn row-pill btn-sm bg-gradient-warning b-0 py-1 mb-0 float-end mt--n3">Neu</span>
%						}
						<h4 class="fs--19"><% $d->{title} %></h4>
						<div class="fs--14" style="max-width:600px !important">
							<% $d->{desc} %>
						</div>
						<div class="fs--19" style="color:#e60021">
							<b>CHF <% $d->{price_enduser_fmt} %></b>
						</div>
						<button class="btn btn-soft row-pill py-1 btn-sm btn-primary mt-2"
							onclick="document.location='/product/<% $C->url_friendly($d->{title}) %>/<% $d->{id} %>'">Zum Produkt</button>
						<hr />
					</div>
%				}
				</div>
			</p>
		</div>
	</div>

% if ($debug) {
	<code><% $THIS %> &mdash; $A-&gt;get_product_v2( )</code><br>
	X -- <b>msg</b> = "<% $d->{_msg} %>"<br>
%	foreach my $cats (@{ $d->{categs} }) {
%		foreach (sort keys %$cats) {
			[ categ ] &middot; <b><% $_ %></b> = <code><% $cats->{$_} %></code><br>
%		}
%	}
%	foreach (sort keys %$d) {
%		next if $_ eq 'title' or $_ eq 'desc_long' or $_ eq 'categs' or $_ =~ /^\_.+/ or /^p?feat$/;
%		next unless length( $d->{$_} );
		[ d ] &ndash; <b><% $_ %></b> = <code><% $d->{$_} %></code><br>
%	}
%	foreach (sort keys %{$art_opts}) {
		&bull; [ Opt-id ] <% $_ %><br>
%	}
% }

</div>

<& inc_add2basket_js.html, id=>$id &>
<& inc_image_modal.html, modal_size=>'modal-xl', is_mobile=>$args{is_mobile}, C=>$C, debug=>$debug &>

<script>
$(document).ready(function() {
	document.getElementById('l_desc_410131').style.display='';
	truncateText();
});
</script>

<%doc>
% # -- 23Sep2023
<script>
function loadAjax07() {
  $.ajax({
    url: '/adx/_ajax/inc_foo.html?id=<% $id %>&sid=<% $args{SID} %>',
    type: 'GET',
    dataType: 'html',
    success: function(response) {
     $('#d80_inc_product').html(response);
    },
    error: function(xhr, status, error) {
      console.error(error);
    }
  });
}

$(document).ready(function() {
	loadAjax07();
	setInterval(loadAjax07, 6500); // Funktion alle 10 Sekunden aufrufen
});
</script>
</%doc>
