<%init>
	my %args = $m->caller_args(0);

	my $C         = $args{C};
	my $A         = $args{A};
	my $debug     = $args{debug};
	my $perm      = $args{perm};
	my $lang      = $args{lang};
	# XX my $usr_ident = $args{usr_ident};
	my $uuid      = $args{uuid};

	# XXX my $sth = $C->{dbh}->prepare(qq~
	# XXX	SELECT	service, action, tstamp FROM	log WHERE	sid IN ($sids) ORDER	BY id DESC LIMIT	5
	# XXX ~);

	my $jq = $args{json_decoded};
</%init>
<div class="portlet-header border-bottom">
	<span><% $C->txt('username', $lang) %>: <span class="text-dark ml-1"><% $jq->{uname} %></span></span>
</div>

<div class="portlet-body">
%	if ($args{bChange} && !$args{error}) {
		<p class="mt-3">Das Passwort wurde erfolgreich gesetzt.</p>
%		unless ($perm->{uid} > 0) {
		    <a href="#" id="modal_404111_23"
			class="js-ajax-modal btn btn-sm btn-primary btn-pill w--280 mt-3"
				data-href="/_ajax/modal_signin_md.html" data-ajax-modal-size="modal-md" 
				data-ajax-modal-centered="true" data-ajax-modal-backdrop="static">
	
			<span class="group-icon"><i class="fi fi-user-male"></i></span>
			<span XXXid="modal_404111_30">Anmelden</span>
		    </a>
%		}
%	}
%	else {
%		if ($args{error} == 3) {
			<p>Ung&uuml;ltiges Token</p>
			<script language="JavaScript">
				setTimeout(() => {
					window.location.replace("/");
				}, 3000);
			</script>
%		}
%		else {
			<form method="post" class="w--400">
			<input type="hidden" name="uuid" value="<% $uuid %>">

			<input type="password" class="form-control" name="new_pass" placeholder="<% $C->txt('new_password', $lang) %>">
			<input type="password" class="mt-2 form-control" name="new_pass_2" placeholder="Wiederholen">
			<input type="submit" name="bChange" class="mt-3 btn btn-primary"
				value="<% $C->txt('password', $lang) %> <% $C->txt('save', $lang) %>">
			</form>
%		}
%	}

%	if ($args{error}) {
		<div class="mt-5 timer-autohide alert alert-danger mt-3" data-timer-autohide="6000">
			<i class="fi fi-close mr-2"></i>
			Fehler
		</div>
%	}

</div>
