<%init>
	my %args = $m->caller_args(0);

	my $C    = $args{CORE};
	my $A    = $args{A};
	my $perm = $args{perm};
	my $lang = $args{lang};
	my $x_voucher = $args{voucher}; # -- 23Sep2023

	my $basket_h     = $A->get_basket_items();
	my $prod_options = $A->get_basket_options();

	my $pay_meth = $C->{CGI}->param('checkout_zahlungsart_select') || $C->getSessData('checkout_zahlungsart_select') || '';

	unless ($pay_meth) { # -- "cod", "cc", "paypal", "inv"
		$m->out('ERR: missing pay meth<br>');
	}

	$C->saveSessData('pay_meth', $pay_meth);

	# XXX my $voucher          = $C->trim($C->{CGI}->param('voucher') || $C->getSessData('voucher'));
	my $voucher          = $x_voucher->{code};
	my $basket_total     = $A->get_basket_total();
	# XXX my $voucher_info     = $A->get_voucher_info($voucher);
	my $ship_meth        = $C->getSessData('ship_meth');
	my $ship_meth_amount = $C->{CONFIG}->{"ship_$ship_meth"};
	   $ship_meth_amount = 0 unless $C->{CONFIG}->{shipping_free_as_of} > $basket_total;

	my $pay_cost = sprintf('%.2f', $C->{CONFIG}->{"pay_cost_$pay_meth"} * (1 + $C->{CONFIG}->{vat} / 100));
	my $gr_tot = $args{grand_tot};
</%init>
<div id="summary">
%	if ($perm->{is_devel}) {
%		foreach (sort keys %{ $x_voucher }) {
% # XXX			XX -- <b><% $_ %></b> = <% $x_voucher->{$_} %><br>
%		}
%	}
% if ($args{debug} > 1) {
	<table class="table table-smt table-hover">
%	foreach (sort keys %{$gr_tot}) {
		<tr><td style="width:33%">
%			if (/^basket_total/) {
				&mdash; <% $_ %>
%			}
%			else {
				[ gr_tot ] &middot; <b><% $_ %></b>
%			}
		</td>
		<td style="font-weight:<% $_ =~ /total$/i ? 'bold' : '' %>">
			<% $gr_tot->{$_} %>
		</td></tr>
%	}
	</table>
	<br />
	
% }

	<table stylx="border: 3px solid red;" class="table table-hover <% $args{is_mobile} ? 'table-responsive' : '' %>">
	<tr>
		<th><% $C->txt('piece', $lang) %></th>
		<th><% $C->txt('prod_name', $lang) %></th>
		<th><span class="float-right"><% $C->txt('price_p_piece', $lang) %></span></th>
		<th clasx="float-right" nowrap><span class="float-right"><% $C->txt('price', $lang) %> CHF</span></th>
	</tr>
% if ($basket_h->rows() < 1) {
	<tr><td colspan="4" style="text-align:center"><a href='/categ.html?id=1'><% $C->prop('no_items') %></a></td></tr>
% }
% my $ship_tot = 0; # XX -- Could be read from "get_basket_total.al"
% while(my $r = $basket_h->fetch()) {
%	my ($prod_id, $count, $basket_id) = @{$r};
%	my $d             = $A->get_product_v2(id=>$prod_id, public=>1);
%	my $vat_perc      = $d->{vat};
%	my $details       = $A->get_basket_details($basket_id);
%	my $result        = $A->get_basket_options_by_basket_id_v2(basket_id=>$basket_id, lang=>'de');
%	my $ups_price_tot = $C->query("select sum(price) from basket_details where basket_id=$basket_id")->[0]
%										* (1 + $vat_perc / 100);
%	my $price_incl_vat = sprintf('%.2f', $d->{price_incl_vat} + $ups_price_tot);
%	my $total_line     = $count * $price_incl_vat;
%	$ship_tot += $A->get_shipping( pay_meth => $pay_meth eq 'cod' ? 3 : 4, count => $count ) unless $C->{CONFIG}->{shipping_free_as_of};
	<tr>
		<td><% $count %> &times;</td>
		<td style="width:80%"><b><% $d->{'title'} %></b>
%		if ($d->{discount_perc} > 0.0) {
			&middot; <span style="color:red">Aktion <% sprintf('%.0f', $d->{discount_perc}) %> %</span>
%		}
		<%@{$details} ? '<br />' : ''%>

%		foreach (@{$result->{array}}) {
%			my ($label, $desc, $ref, $opt_id, $price) = split /\t/;
			&bull; <% $label %>: <% $desc %>
%			if ($price > 0.0) {
%				my $price_incl_vat = $price * (1 + $d->{vat} / 100);
				&middot; CHF <% sprintf('%.2f', $price_incl_vat) %>
%			}
			<br>
%		}

%		foreach (@{$details}) {
%			my ($feat_id, $ref, $price) = split /\t/;
%			$price = sprintf('%.2f', $price * (1 + $vat_perc / 100));
%			my $style = $C->query("select style from options where id=$feat_id")->[0];
%			my ($label, $desc) = @{$C->query(
%				"select label, description FROM voptions WHERE id=$feat_id and ref='$ref' and lang='de'")};
%		}
%			if ($args{debug}) {
				[ Debug ] &middot; CHF <% $d->{price_incl_vat} %> (+ <% sprintf('%.2f', $ups_price_tot) %> Sum from basket_id <% $basket_id %>)
%			}
		</td>
		<td><span class="float-right"><% $price_incl_vat %></span></td>
		<td class="text-right"><span class="float-end"><% sprintf('%.2f', $total_line) %></span></td>
	</tr>
% }
% if ($C->{CONFIG}->{shipping_free_as_of}) {
%	$ship_tot = $basket_total < $C->{CONFIG}->{shipping_free_as_of} ? $C->{CONFIG}->{shipping_amount} : 0;
% }
%	$ship_tot += $ship_meth_amount;
	<tr>
		<td></td>
		<td><% $C->prop('delivery_cost') %></td>
		<td>
%			if ($args{debug}) {
				<tt>Debug 114</tt>
%			}
		</td>
		<td class="float-right"><% sprintf('%.2f', $gr_tot->{shipping_amount}) %></td>
	</tr>

% my $grand_tot = sprintf('%.2f', $basket_total + $pay_cost + $ship_tot * (1 + $C->{CONFIG}->{vat} / 100));

% if ($voucher) {
	<tr>
		<td>Voucher <b><%uc $voucher%></b></td>
		<td>
%		my $discount = 0;
%		if ($x_voucher->{valid}) {
			Voucher ist g&uuml;ltig:
%			if ($x_voucher->{categ_id}) {
				<small>(Kategorie <% $x_voucher->{categ_id} %>)</small>
%			}
%			if ($x_voucher->{perc} > 0) {
				<b><% sprintf('%.2f', $x_voucher->{perc}) %> %</b>
%			}
%		}
%		else {
			<span style='color:red'><% $C->prop('voucher_valid') %></span>
			<% $x_voucher->{_msg} %>
%		}
%			if ($args{debug}) {
				<br />
				[ Debug ] - <code>$A->get_basket_total()</code> = <% $basket_total %><br>
				subtotal_basket_incl_vat = <a href="/API/"><% $gr_tot->{subtotal_basket_incl_vat} %></a><br>
				grand_total = <% $gr_tot->{grand_total} %><br />
%				foreach (sort keys %{$args{voucher}}) {
					[ voucher ] <% $_ %> = <% $args{voucher}->{$_} %><br>
%				}
				<a href="/adm_vouchers.html">Edit Vouchers</a>
%			}
		</td>
		</td><td>
		<td class="float-right text-orange-800">-<% sprintf('%.2f', $args{voucher}->{val5}) %></td>
	</tr>
% }

%	# -- Gesamtsumme inkl.
	<tr>
		<td colspan="2"><h5><% $C->prop('sum_total') %> <% $C->prop('mwst') %></h5></td>
		<td colspan="2"><span class="float-end"><h5>CHF <% sprintf('%.2f', $args{total}) %></h5></span></td>
	</tr>

        </table>

</div>
