<%init>
	use ScreenPoint::Auctionline;
	use ScreenPoint::Core;

	my $C = ScreenPoint::Core->new( $r, $m );
	my $A = ScreenPoint::Auctionline->new($C);

	my $debug = $C->{CGI}->param('debug');
	my $lang = $C->getSessData('_current_lang') || 'de';

	$C->load_properties('account');
	my $prop = $C->{property}->{'account'};
	my $l = $lang eq 'de' ? '' : "_$lang";

	my %addr_label = ( 1 => $prop->{"bill_addr$l"}, 2 => $prop->{"deliv_addr$l"} );
</%init>
% if ($debug) {
	<&page_info.html, 'START'&>
% }

<!-- ######################################################################################################## -->
  <form method=post action="_update_cust_addr.html" class="ps-checkout-forms">
<br>
<div class="no-more-tables-responsive">
%		for (my $i = 2; $i > 0; $i--) {
%		my $addr = $A->get_address($i);
<table class="table">
             <thead data-title="<% $addr_label{$i} %>" class="well">
            <tr>
              <th colspan="2"><% $addr_label{$i} %></th>
            </tr>
          </thead>


 <tr>
              <td> <label  for="gender_<%$i%>"><%$C->prop('gender')%><em>*</em></label>
			<select name="gender_<%$i%>">
			<option value="1"><% $C->prop('male') %></option>
			<option value="2"><% $C->prop('female') %></option>
			<option value="0"><% $C->prop('company') %></option>
			</select>

</td>
<td >  <label  for="firstname_<%$i%>"><% $C->prop('surname') %></label>
		<input id="firstname_<%$i%>" type="text"
			name="firstname_<%$i%>" value="<%$addr->{firstname}%>">
</td>

 </tr>

  <tr>
	  <td>	    <label for="lastname_<%$i%>"><% $C->prop('lastname') %></label>
	 				<input id="lastname_<%$i%>" type="text"
			name="lastname_<%$i%>" value="<%$addr->{lastname}%>">
			 </td>
			 <td>	 	    <label for="company_<%$i%>"><% $C->prop('company') %></label>
	  	      <input  type="text" id="company_<% $i %>" value="<% $addr->{company} %>" name="company_<% $i %>">
	  	      </td>


  </tr>
 <tr>

<td>
    	    <label  for="street_<%$i%>"><% $C->prop('adress') %></label>
		<input id="street_<%$i%>"  type="text"
			name="street_<%$i%>" value="<%$addr->{street}%>">
 </td>

  <td>
    	     <label  for="phone_<% $i %>"><% $C->prop('telephone') %></label>
	   		<input id="city_<%$i%>"  type="text"
			name="phone_<% $i %>" value="<% $addr->{phone} %>">
  </td>

  </tr>
 <tr>
<td>
	 	    <label for="zip_<%$i%>"><% $C->prop('postcode') %></label>
	  		<input id="ip_<%$i%>" id="zip_<%$i%>" type="text"
			name="zip_<%$i%>" value="<%$addr->{zip}%>">
</td>
<td>
    	     <label  for="city_<%$i%>"><% $C->prop('city') %></label>
	   		<input id="city_<%$i%>" type="text"
			name="city_<%$i%>" value="<%$addr->{city}%>">
  </td>
  </tr>
</table>
% }
 </div> <!-- end  no-more-tables-->
<input type="hidden" name="bSaveProfile" value="1">
<button type="submit"  class="btn btn-checkout"><% $C->prop('save') %></button>
</form>
</div>

