<%init>
	my %s = %HTML::Mason::Commands::session;

	my $C = $s{C};
	my $A = $s{A};

	# XXX my @env = ();

	$C->saveSessData('_current_lang', 'de');

	my %ship_meth_hr_map = (
		std => 'Standardversand',
		exp => $C->prop('delivery_method_title0'),
		postpac_prio => $C->prop('delivery_method_title_postpac_prio'),
		pic => 'Pickup'
	);

	(my $logo_src = $C->grep_2nd_level_dom( $C->{CONFIG}->{HTTP_HOST} )) =~ tr/\./\_/;

	my $order_stmt = $A->get_order_statement(order_id=>$s{order_id});
	my $odat       = $A->get_order_prepare(order_id=>$s{order_id});
	my $uinf       = $A->get_user_info($odat->{uid});

	my %pay_meth_hr_map = (
		inv => $C->prop('invoice'),
		pre => $C->prop('prepay'),
		pp  => 'PayPal',
		pc  => 'PostFinance Card',
		pc3 => $C->prop('creditcard'),
		twi => 'TWINT',
		prx => 'Payrexx AG (TWINT / Kreditkarte)',
		six => $C->prop('creditcard')
	);

	my %header = (
		h05_mail_order_time      => $odat->{instime_swiss},
		h10_mail_order_nr        => $s{order_id},
		h15_mail_cust_nr         => $odat->{uid},
		h16_telephone            => $odat->{phone},
		h17_emailadress          => $odat->{email},
		h20_mail_payment_method  => $pay_meth_hr_map{$odat->{checkout_zahlungsart_select}} || "* $odat->{checkout_zahlungsart_select} *",
		h30_mail_customer_ust_id => $odat->{ust_id}
	);

	if ($odat->{checkout_zahlungsart_select} eq 'pc3' or $odat->{checkout_zahlungsart_select} eq 'twi'
		or $odat->{checkout_zahlungsart_select} eq 'pc') {
		my %pmeth_hr_map = (
			AMX => 'American Express',
			ECA => 'Mastercard',
			PEF => 'PostFinance',
			PFC => 'PostFinance Card',
			VIS => 'VISA',
			TWI => 'TWINT'
		);
		my $pmeth_hr = $pmeth_hr_map{$odat->{pay_pmethod}} || "* $odat->{pay_pmethod} *";
		$header{h27_authorizationCode} = $odat->{pay_authorizationCode} || 'N/A';
		if ($odat->{pay_pmethod} eq 'TWI') {
			$header{h20_mail_payment_method} = " $pmeth_hr (Handyzahlung)";
		}
		elsif ($odat->{pay_pmethod} eq 'PFC' or $odat->{pay_meth} == 5) {
			$header{h20_mail_payment_method} = " $pmeth_hr (Post)";
		}
		else {
			$header{h20_mail_payment_method} .= " $pmeth_hr Exp $odat->{pay_expm}/$odat->{pay_expy}";
		}
	}

	my $shipping_net = $odat->{shipping_amount} / (1 + $odat->{vat_rate} / 100);
	my $shipping_tax = $odat->{shipping_amount} - $shipping_net;

	my $tax_amount = $C->query("SELECT xval+0 FROM orders_details where order_id=$s{order_id} and xkey='vat_amount'")->[0];
</%init>
<!-- ============================== Confirmation Merchant Start ============================== -->
<html>
<head><title>E-Mail</title></head>
<body style="font-family:Roboto,Calibri,Arial">

	<img style="margin-top:0px; margin-bottom:15px" width="209" XXheight="62"
		src="https://<% $C->{CONFIG}->{HTTP_HOST} %>/images/logo_mailtemplate_<% $logo_src %>.png">

	<p style="font-weight:bold; margin-top:10px">Der folgende Artikel wurde via <% $C->{CONFIG}->{HTTP_HOST} %> verkauft.</p>

<& includes/key_value_table.html, data=>\%header, C=>$C &>
<br />

% if ($odat->{street} eq $odat->{deliv_street} && $C->trim($odat->{company}) eq $C->trim($odat->{deliv_company})) {
	<table cellspacing=0 cellpadding=2><tr><td>
	<b><% $C->prop('invoice') %> / <% $C->prop('deliv_addr') %></b><br>
	<% $C->web_enc($odat->{company}) %><br>
	<% $C->web_enc("$odat->{firstname} $odat->{lastname}") %><br>
	<% $C->web_enc($odat->{street}) %><br>
	<% $odat->{zip} %> <% $C->web_enc($odat->{city}) %><br>
	<% $C->web_enc($odat->{country_decoded}) %><br>
% #	<% $odat->{phone} %>
	</td></tr></table>
% }
% else {
	<table cellspacing=0 cellpadding=2>

	<tr style="height:40px">
	<td><b><% $C->prop('invoice') %></b></td>  <td><b><% $C->prop('deliv_addr') %></b></td>
	</tr>

	<tr>
	<td style="padding-right:60px">
		<% $C->web_enc($odat->{company}) %><br>
		<% $C->web_enc("$odat->{firstname} $odat->{lastname}") %><br>
		<% $C->web_enc($odat->{street}) %><br>
		<% $odat->{zip} %> <% $C->web_enc($odat->{city}) %><br>
		<% $C->web_enc($odat->{country_decoded}) %><br>
	</td>

	<td>
		<% $C->web_enc($odat->{deliv_company}) %><br>
		<% $C->web_enc("$odat->{deliv_firstname} $odat->{deliv_lastname}") %><br>
		<% $C->web_enc($odat->{deliv_street}) %><br>
		<% $odat->{deliv_zip} %> <% $C->web_enc($odat->{deliv_city}) %><br>
		<% $C->web_enc($odat->{deliv_country_decoded}) %>
	</td>
	</tr>

	</table>
% }
<br /><br />

<table cellspacing=0 cellpadding=4 width="98%">
	<% ${$order_stmt->{out}} %>
</table>

<hr noshade size="1" align="left" style="width:98%" />
% if ($odat->{remarks}) {
	<p><b>Kunden-Bemerkerung:</b><br>
	<% $odat->{remarks} %></p>
% }

<p>
	Details: <a 
href="https://<%$C->{CONFIG}->{HTTP_HOST}%>/admix.html?func=orders&id=<%$s{order_id}%>">https://<%$C->{CONFIG}->{HTTP_HOST}%>/admix.html?func=orders&id=<%$s{order_id}%></a>
</p>

<p>
	<center>
		<span style="font-size:0.9rem">Best&auml;tigungs-PDF f&uuml;r Kunde in der Beilage</span>
	</center>
</p>

<br />
<span style="font-size:0.7rem; color:#b0b0b0"><center>[ Vorlage V # 308212-4 &ndash; Prismado &ndash; confirm_merchant_inc_de ]</center></span>
</body>
</html>
<!-- ============================== Confirmation Merchant End ============================== -->
