<%init>
	use ScreenPoint::Core;
	use ScreenPoint::Auctionline;

	my $C = ScreenPoint::Core->new( $r, $m );
	my $A = ScreenPoint::Auctionline->new($C);

	my %args = $m->caller_args(0); # -- In case it's called by a web function

	my $order_id = $C->{CGI}->param('order_id') || $args{order_id};
	   $order_id += 0;

	my $debug = $C->{CGI}->param('debug');

	my $order_stmt = $A->get_order_statement(order_id=>$order_id, debug=>$debug);

	my $odat = $A->get_order_prepare(order_id=>$order_id);
	my $uinf = $A->get_user_info($odat->{uid});

	my $lang_sess = $C->getSessData('_current_lang') || 'de';
	my $lang = $C->{CGI}->param('lang') || $args{lang} || $uinf->{lang} || $lang_sess;
	$C->saveSessData('_current_lang', $lang);

	my %ship_meth_hr_map = (
		std => $C->prop('standard_shipping'),
		exp => $C->prop('delivery_method_title0'),
		postpac_prio => $C->prop('delivery_method_title_postpac_prio'),
		pic => 'Pickup'
	);

	my %pay_meth_hr_map = (
		inv => $C->prop('invoice'),
		pre => $C->prop('prepay'),
		pp  => 'PayPal',
		pc3 => $C->prop('creditcard'),
		six => $C->prop('creditcard')
	);

	my $proto = 'http';
	   $proto = 'https' if $ENV{HTTPS} eq 'on' or $ENV{HTTP_X_FORWARDED_PROTO} eq 'https';

	my $tax_amount = $C->query("SELECT xval+0 FROM `orders_details` where order_id=$order_id and xkey='vat_amount'")->[0];
</%init>
<& mail_v2.css &>
<table><tr><td>
	<img style="width:60%; max-width: 853px;"
		src="<%$proto%>://<% $C->{CONFIG}->{HTTP_HOST} %>/images/logo_mailtemplate.png"><br /><br />

% #	<% $C->prp('genderless_salut') %> <% $C->web_enc("$odat->{firstname} $odat->{lastname}") %>

%	if ($odat->{gender} == 2) {
		<% $C->web_enc($C->prp('mail_salutation_woman') . ' ' . $C->web_enc($odat->{lastname})) %>
%	}
%	else {
		<% $C->web_enc($C->prp('mail_salutation_man') . ' ' . $C->web_enc($odat->{lastname})) %>
%	}
<br /><br />

<% $C->web_enc($C->prop('mail_order_thanks')) %><br />
</td></tr></table>

<& includes/key_value_table.html,
	data=>{
		mail_order_time      => $odat->{instime_swiss},
		mail_invoice_nr      => $order_id,
		mail_payment_method  => $pay_meth_hr_map{$odat->{checkout_zahlungsart_select}},
		mail_customer_ust_id => $odat->{ust_id}
	},
	lang=>$lang, C=>$C &>
<br />

% if ($odat->{street} eq $odat->{deliv_street} && $odat->{company} eq $odat->{deliv_company}) {
	<table cellspacing=0 cellpadding=2><tr><td>
	<b><% $C->prop('invoice') %> / <% $C->prop('deliv_addr') %></b><br>
	<% $C->web_enc($odat->{company}) %><br>
	<% $C->web_enc("$odat->{firstname} $odat->{lastname}") %><br>
	<% $C->web_enc($odat->{street}) %><br>
	<% $odat->{zip} %> <% $C->web_enc($odat->{city}) %><br>
	<% $C->web_enc($odat->{country_decoded}) %>
	</td></tr></table>
% }
% else {
	<table cellspacing=0 cellpadding=2>
	<tr><td><b><% $C->prop('invoice') %></b></td>  <td><b><% $C->prop('deliv_addr') %></b></td></tr>
	<tr>
	<td style="padding-right:60px">
		<% $C->web_enc($odat->{company}) %><br>
		<% $C->web_enc("$odat->{firstname} $odat->{lastname}") %><br>
		<% $C->web_enc($odat->{street}) %><br>
		<% $odat->{zip} %> <% $C->web_enc($odat->{city}) %><br>
		<% $C->web_enc($odat->{country_decoded}) %>
	</td>

	<td>
		<% $C->web_enc($odat->{deliv_company}) %><br>
		<% $C->web_enc("$odat->{deliv_firstname} $odat->{deliv_lastname}") %><br>
		<% $C->web_enc($odat->{deliv_street}) %><br>
		<% $odat->{deliv_zip} %> <% $C->web_enc($odat->{deliv_city}) %><br>
		<% $C->web_enc($odat->{deliv_country_decoded}) %>
	</td>
	</tr>
	</table>
% }
<br />

<table cellspacing=0 cellpadding=2 width="98%">
<% ${$order_stmt->{out}} %>
</table>

<%doc>
XXX:
<table cellspacing=0 cellpadding=2 width="98%">
<thead>
	<tr class="row_small" style="font-weight:bold">
	<td class="hidden-xs" style="min-width: 35px;">Pos.</td>
	<td><% $C->prop('prod_name') %></td>
	<td style="text-align:right; padding-right:20px"><% $C->web_enc($C->prop('mail_item_count')) %></td>
	<td class="hidden-xs">Art No</td>
	<td style="text-align:right; padding-right:20px"><% $C->prop('mail_unit_price') %></td>
	<td></td>
	<td nowrap style="text-align:right"><%$C->prop('price')%> <% $odat->{currency} %></td>
	</tr>
</thead>

% while(my $row = $A->get_order_positions()) {
	<tr valign="top" class="row_small">
	<td class="hidden-xs"><% $row->{position} %></td>
	<td><b><% $C->web_enc($row->{title}) %></b><br>
%		if ($row->{option_id_0}) {
			<% $row->{option_name_0} %><br>
%		}
%		if ($row->{option_id_1}) {
			<% $row->{option_name_1} %><br>
%		}
	</td>
	<td style="text-align:right; padding-right:20px"><% $row->{count} %></td>
	<td class="hidden-xs" style="padding-right:20px"><% $row->{art_no} %></td>
	<td style="text-align:right; padding-right:20px"><% $C->decimal_mark($row->{price}) %></td>
	<td style="padding-right:20px"><small><% $row->{order_discount_perc} ? "-$row->{order_discount_perc}%" : '' %></small></td>
	<td style="text-align:right"><% $C->decimal_mark($row->{total_line_incl_surcharge}) %></td>
	</tr>
% }

<tr class="row_small">
	<td class="hidden-xs"><% $odat->{positions} + 1 %></td>
	<td colspan="3"><% $ship_meth_hr_map{$odat->{ship_meth}} || "* $odat->{ship_meth} *" %></td>
	<td class="hidden-xs"></td>
	<td></td>
	<td style="text-align:right"><% $odat->{shipping_amount} %></td>
</tr>

<tr>
	<td class="hidden-xs"></td>
	<td colspan="3">Subtotal</td>
	<td class="hidden-xs"></td>
	<td></td>
	<td style="text-align:right"><% $C->decimal_mark( $odat->{basket_total_incl_shipping_rounded} ) %></td>
</tr>

<tr>
	<td class="hidden-xs"></td>
	<td colspan="3"><% $C->prop('vat') %></td>
	<td class="hidden-xs"></td>
	<td></td>
	<td style="text-align:right"><% $C->round_amount($odat->{tax_amount}) %></td>
</tr>

<tr style="font-weight:bold;">
	<td class="hidden-xs"></td>
	<td colspan="3"><% $C->prop('mail_total_incl_tax') %></td>
	<td class="hidden-xs"></td>
	<td></td>
	<td style="text-align:right; text-decoration-line: underline; text-decoration-style: double;">
		<% $C->decimal_mark( $odat->{amount_incl_vat} ) %>
	</td>
</tr>

</table>
/XXX
</%doc>

<table><tr><td>
% if ($odat->{pay_meth} == 6) {
	<br>
	<b><% $C->web_enc($C->prop('mail_prepayment_text')) %>:</b><br /><br />

	<% $C->prp('site_iban') %><br>
	<% $C->prp('site_bank_name') %><br><br>

	<b><% $C->web_enc($C->prp('mail_note_order_nr')) %>: <% $order_id %></b><br>
	<% $C->web_enc($C->prp('mail_receipt_payment')) %><br>
% }

<br />
<% $C->web_enc($C->prop('mail_following_link_text')) %>:<br>
<a href='https://<% $C->{CONFIG}->{HTTP_HOST} %>/account.html'>https://<% $C->{CONFIG}->{HTTP_HOST} %>/account.html</a><br><br>

<% $C->web_enc($C->prop('mail_inquiries_text')) %>

<& includes/company_signature.html, lang=>$lang, C=>$C &>
</td></tr></table>
% $C->saveSessData('_current_lang', $lang_sess);
