<%init>
	use utf8;
	my %args = $m->caller_args(0);

	my $opts = $args{opts};
	my $C    = $args{C};
	my $A    = $args{A};

	my $lang = 'de';
</%init>

% foreach my $opt_id (sort keys %$opts) {
%	my $opt_label = $C->query("select label from options_desc where option_id=$opt_id and lang='$lang'")->[0] || 'N/A';
	XX - Opt-ID <% $opt_id %> <% $opt_label %><br>
%	my $elems = $A->get_opt_details($opt_id, $lang, 0, 'ref ASC');
%	foreach (@$elems) {
%		my ($id, $style, $opt_label, $desc, $ref, $amount, $stock, $det_id) = split /\t/;
		XX ID <% $id %>, <% $desc %>: CHF <% $amount %><br>
%	}
% }
