<%init>
	my $C;
</%init>
	<!-- WIDGET : TASKS -->
	<div class="col-12 col-xl-4 mb-3">

		<div class="portlet">

		<div class="portlet-header">

		<ul class="nav nav-pills float-end " id="tabUserList" role="tablist">
		<li class="nav-item">
			<a class="nav-link py-1 px-2 active" id="usertab-1" data-toggle="tab" href="#usertab_1" role="tab" aria-controls="usertab_1" aria-selected="true">
		Today
			</a>
		</li>

		<li class="nav-item">
			<a class="nav-link py-1 px-2" id="usertab-2" data-toggle="tab" href="#usertab_2" role="tab" aria-controls="usertab_2" aria-selected="false">
		Month
			</a>
		</li>
		</ul>


		<span class="d-block text-muted text-truncate font-weight-medium">
		Tasks
		</span>
		</div>

		<div id="tabUserListContent" class="portlet-body max-h-500 tab-content">

		<!-- tab 1 -->
		<div class="h-100 tab-pane show active" id="usertab_1" role="tabpanel" aria-labelledby="usertab-1">

		<!--
			PLEASE PAY ATTENTION TO FORM ID : REQUIRED ,
			MUST BE UNIQUE AND SPECIFIED TO EACH BUTTON/LINK IN "selected items" AS ATTRIBUTE

		data-js-form-advanced-form-id="#FORM_TASK_LIST_TODAY"
		-->
		<form novalidate="" id="FORM_TASK_LIST_TODAY" method="post" action="../../html_frontend/php/demo.ajax_request.php" class="bs-validate h-100 d-flex align-items-stretch justify-content-lg-between align-items-start flex-column">

			<!--

		IMPORTANT
		The "action" hidden input is updated by "selected items" action
			data-js-form-advanced-hidden-action-id="..."
			data-js-form-advanced-hidden-action-value="..."

		PHP example of data backed processing:

			if($_POST['action'] === 'delete') {

			foreach($_POST['item_id'] as $item_id) {
			// ... delete $item_id from database
			}

			}

			-->
			<input type="hidden" id="action_today" name="action" value=""><!-- value populated by js -->

			<!-- task list -->
			<div id="task_list_today" class="max-h-500 scrollable-vertical scrollable-styled-dark align-self-baseline h-100 max-h-500 w-100">


		<!-- item -->
		<div class="border-bottom border-light">
			<div class="d-flex align-items-center p-3 border-left border-danger bw--3">

			<div class="flex-none w--30">
			<label class="form-checkbox form-checkbox-primary form-checkbox-inset">
			<input type="checkbox" name="item_id[]" value="1">
			<i></i>
			</label>
			</div>

			<div class="flex-fill text-truncate line-height-1">
			<a href="#!" class="text-muted">Retest Smarty and make a list of all bugs</a>
			<a href="#!" class="fs--13 d-block text-gray-500">by J. Doe</a>
			</div>

			<div class="w--180 fs--14 text-gray-500 font-weight-light text-align-end">
			30 min. ago
			</div>

			</div>
		</div>
		<!-- /item -->



		<!-- item -->
		<div class="border-bottom border-light">
			<div class="d-flex align-items-center p-3 border-left border-secondary-soft bw--3">

			<div class="flex-none w--30">
			<label class="form-checkbox form-checkbox-primary form-checkbox-inset">
			<input type="checkbox" name="item_id[]" value="2">
			<i></i>
			</label>
			</div>

			<div class="flex-fill text-truncate line-height-1">
			<a href="#!" class="text-muted">Check the documentation</a>
			<a href="#!" class="fs--13 d-block text-gray-500">by J. Doe</a>
			</div>

			<div class="w--180 fs--14 text-gray-500 font-weight-light text-align-end">
			2 days ago
			</div>

			</div>
		</div>
		<!-- /item -->


		<!-- item -->
		<div class="border-bottom border-light">
			<div class="d-flex align-items-center p-3 border-left border-warning bw--3">

			<div class="flex-none w--30">
			<label class="form-checkbox form-checkbox-primary form-checkbox-inset">
			<input type="checkbox" name="item_id[]" value="3">
			<i></i>
			</label>
			</div>

			<div class="flex-fill text-truncate line-height-1">
			<a href="#!" class="text-muted">Server gzip compression is failing</a>
			<a href="#!" class="fs--13 d-block text-gray-500">by J. Doe</a>
			</div>

			<div class="w--180 fs--14 text-gray-500 font-weight-light text-align-end">
			2 days ago
			</div>

			</div>
		</div>
		<!-- /item -->



		<!-- item -->
		<div class="border-bottom border-light">
			<div class="d-flex align-items-center p-3 border-left border-info bw--3">

			<div class="flex-none w--30">
			<label class="form-checkbox form-checkbox-primary form-checkbox-inset">
			<input type="checkbox" name="item_id[]" value="4">
			<i></i>
			</label>
			</div>

			<div class="flex-fill text-truncate line-height-1">
			<a href="#!" class="text-muted">New niche layout is required</a>
			<a href="#!" class="fs--13 d-block text-gray-500">by J. Doe</a>
			</div>

			<div class="w--180 fs--14 text-gray-500 font-weight-light text-align-end">
			4 days ago
			</div>

			</div>
		</div>
		<!-- /item -->



		<!-- item -->
		<div class="border-bottom border-light">
			<div class="d-flex align-items-center p-3 border-left border-success bw--3">

			<div class="flex-none w--30">
			<label class="form-checkbox form-checkbox-primary form-checkbox-inset">
			<input type="checkbox" name="item_id[]" value="5">
			<i></i>
			</label>
			</div>

			<div class="flex-fill text-truncate line-height-1">
			<a href="#!" class="text-muted"><del>Fix server headers</del></a>
			<a href="#!" class="fs--13 d-block text-gray-500">by J. Doe</a>
			</div>

			<div class="w--180 fs--14 text-gray-500 font-weight-light text-align-end">
			6 days ago
			</div>

			</div>
		</div>
		<!-- /item -->


		<!-- item -->
		<div class="border-bottom border-light">
			<div class="d-flex align-items-center p-3 border-left border-primary bw--3">

			<div class="flex-none w--30">
			<label class="form-checkbox form-checkbox-primary form-checkbox-inset">
			<input type="checkbox" name="item_id[]" value="6">
			<i></i>
			</label>
			</div>

			<div class="flex-fill text-truncate line-height-1">
			<a href="#!" class="text-muted">Check customer new data</a>
			<a href="#!" class="fs--13 d-block text-gray-500">by J. Doe</a>
			</div>

			<div class="w--180 fs--14 text-gray-500 font-weight-light text-align-end">
			2 weeks ago
			</div>

			</div>
		</div>
		<!-- /item -->

		<!-- item -->
		<div class="border-bottom border-light">
			<div class="d-flex align-items-center p-3 border-left border-primary bw--3">

			<div class="flex-none w--30">
			<label class="form-checkbox form-checkbox-primary form-checkbox-inset">
			<input type="checkbox" name="item_id[]" value="7">
			<i></i>
			</label>
			</div>

			<div class="flex-fill text-truncate line-height-1">
			<a href="#!" class="text-muted">Check server production logs</a>
			<a href="#!" class="fs--13 d-block text-gray-500">by J. Doe</a>
			</div>

			<div class="w--180 fs--14 text-gray-500 font-weight-light text-align-end">
			1 month ago
			</div>

			</div>
		</div>
		<!-- /item -->

			</div>
			<!-- /task list -->


			<div class="mt-3">

		<!-- SELECTED ITEMS -->
		<div class="d-flex align-self-baseline w-100"><!-- using .dropdown, autowidth not working -->
			<a href="#" class="btn btn-sm text-gray-500 b-0 fs--16 shadow-none font-weight-light" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
			<span class="group-icon">
			<i class="fi fi-dots-vertical-full"></i>
			<i class="fi fi-close"></i>
			</span>
			<span>Selected Items</span>
			</a>

			<div class="dropdown-menu dropdown-menu-clean dropdown-click-ignore max-w-250">

			<!-- buttons attributes : documentation/components-tables.html -->
			<div class="scrollable-vertical max-h-50vh">

			<a      href="#"
			class="dropdown-item text-truncate js-form-advanced-bulk"
			data-js-form-advanced-bulk-hidden-action-id="#action_today"
			data-js-form-advanced-bulk-hidden-action-value="mark_solved"
			data-js-form-advanced-bulk-container-items="#task_list_today"
			data-js-form-advanced-bulk-required-selected="true"
			data-js-form-advanced-bulk-required-txt-error="No Items Selected!"
			data-js-form-advanced-bulk-required-txt-position="top-center"
			data-js-form-advanced-bulk-required-custom-modal=""
			data-js-form-advanced-bulk-required-custom-modal-content-ajax=""
			data-js-form-advanced-bulk-required-modal-type="success"
			data-js-form-advanced-bulk-required-modal-size="modal-md"
			data-js-form-advanced-bulk-required-modal-txt-title="Please Confirm"
			data-js-form-advanced-bulk-required-modal-txt-subtitle="Selected Items: {{no_selected}}"
			data-js-form-advanced-bulk-required-modal-txt-body-txt="Set unsolved {{no_selected}} selected items?"
			data-js-form-advanced-bulk-required-modal-txt-body-info=""
			data-js-form-advanced-bulk-required-modal-btn-text-yes="Confirm"
			data-js-form-advanced-bulk-required-modal-btn-text-no="Cancel"
			data-js-form-advanced-bulk-submit-without-confirmation="false"
			data-js-form-advanced-form-id="#FORM_TASK_LIST_TODAY">
			<i class="fi fi-check"></i>
			Set : Solved
			</a>
			<a      href="#"
			class="dropdown-item text-truncate js-form-advanced-bulk"
			data-js-form-advanced-bulk-hidden-action-id="#action_today"
			data-js-form-advanced-bulk-hidden-action-value="mark_unsolved"
			data-js-form-advanced-bulk-container-items="#task_list_today"
			data-js-form-advanced-bulk-required-selected="true"
			data-js-form-advanced-bulk-required-txt-error="No Items Selected!"
			data-js-form-advanced-bulk-required-txt-position="top-center"
			data-js-form-advanced-bulk-required-custom-modal=""
			data-js-form-advanced-bulk-required-custom-modal-content-ajax=""
			data-js-form-advanced-bulk-required-modal-type="warning"
			data-js-form-advanced-bulk-required-modal-size="modal-md"
			data-js-form-advanced-bulk-required-modal-txt-title="Please Confirm"
			data-js-form-advanced-bulk-required-modal-txt-subtitle="Selected Items: {{no_selected}}"
			data-js-form-advanced-bulk-required-modal-txt-body-txt="Set unsolved {{no_selected}} selected items?"
			data-js-form-advanced-bulk-required-modal-txt-body-info=""
			data-js-form-advanced-bulk-required-modal-btn-text-yes="Confirm"
			data-js-form-advanced-bulk-required-modal-btn-text-no="Cancel"
			data-js-form-advanced-bulk-submit-without-confirmation="false"
			data-js-form-advanced-form-id="#FORM_TASK_LIST_TODAY">
			<i class="fi fi-close"></i>
			Set : Unsolved
			</a>

			<a      href="#"
			class="dropdown-item text-truncate js-form-advanced-bulk"
			data-js-form-advanced-bulk-hidden-action-id="#action_today"
			data-js-form-advanced-bulk-hidden-action-value="delete"
			data-js-form-advanced-bulk-container-items="#task_list_today"
			data-js-form-advanced-bulk-required-selected="true"
			data-js-form-advanced-bulk-required-txt-error="No Items Selected!"
			data-js-form-advanced-bulk-required-txt-position="top-center"
			data-js-form-advanced-bulk-required-custom-modal=""
			data-js-form-advanced-bulk-required-custom-modal-content-ajax=""
			data-js-form-advanced-bulk-required-modal-type="danger"
			data-js-form-advanced-bulk-required-modal-size="modal-md"
			data-js-form-advanced-bulk-required-modal-txt-title="Please Confirm"
			data-js-form-advanced-bulk-required-modal-txt-subtitle="Selected Items: {{no_selected}}"
			data-js-form-advanced-bulk-required-modal-txt-body-txt="Are you sure? Delete {{no_selected}} selected items?"
			data-js-form-advanced-bulk-required-modal-txt-body-info="Please note: this is a permanent action!"
			data-js-form-advanced-bulk-required-modal-btn-text-yes="Yes, Delete"
			data-js-form-advanced-bulk-required-modal-btn-text-no="Cancel"
			data-js-form-advanced-bulk-submit-without-confirmation="false"
			data-js-form-advanced-form-id="#FORM_TASK_LIST_TODAY">
			<i class="fi fi-thrash text-danger"></i>
			Set : Delete
			</a>

			</div>

			</div>

		</div>
		<!-- /SELECTED ITEMS -->

			</div>

		</form>

		</div>

		<!-- tab 2 -->
		<div class="h-100 tab-pane" id="usertab_2" role="tabpanel" aria-labelledby="usertab-2">

		<!--
			PLEASE PAY ATTENTION TO FORM ID : REQUIRED ,
			MUST BE UNIQUE AND SPECIFIED TO EACH BUTTON/LINK IN "selected items" AS ATTRIBUTE

		data-js-form-advanced-form-id="#FORM_TASK_LIST_MONTH"
		-->
		<form novalidate="" id="FORM_TASK_LIST_MONTH" method="post" action="../../html_frontend/php/demo.ajax_request.php" class="bs-validate h-100 d-flex align-items-stretch justify-content-lg-between align-items-start flex-column">

			<!--

		IMPORTANT
		The "action" hidden input is updated by "selected items" action
			data-js-form-advanced-hidden-action-id="..."
			data-js-form-advanced-hidden-action-value="..."

		PHP example of data backed processing:

			if($_POST['action'] === 'delete') {

			foreach($_POST['item_id'] as $item_id) {
			// ... delete $item_id from database
			}

			}

			-->
			<input type="hidden" id="action_month" name="action" value=""><!-- value populated by js -->

			<!-- task list -->
			<div id="task_list_month" class="max-h-500 scrollable-vertical scrollable-styled-dark align-self-baseline h-100 max-h-500 w-100">

		<!-- item -->
		<div class="border-bottom border-light">
			<div class="d-flex align-items-center p-3 border-left border-danger bw--3">

			<div class="flex-none w--30">
			<label class="form-checkbox form-checkbox-primary form-checkbox-inset">
			<input type="checkbox" name="item_id[]" value="1">
			<i></i>
			</label>
			</div>

			<div class="flex-fill text-truncate line-height-1">
			<a href="#!" class="text-muted">Check the documentation</a>
			<a href="#!" class="fs--13 d-block text-gray-500">by Mark Dennis</a>
			</div>

			<div class="w--180 fs--14 text-gray-500 font-weight-light text-align-end">
			5 hours ago
			</div>

			</div>
		</div>
		<!-- /item -->



		<!-- item -->
		<div class="border-bottom border-light">
			<div class="d-flex align-items-center p-3 border-left border-secondary-soft bw--3">

			<div class="flex-none w--30">
			<label class="form-checkbox form-checkbox-primary form-checkbox-inset">
			<input type="checkbox" name="item_id[]" value="2">
			<i></i>
			</label>
			</div>

			<div class="flex-fill text-truncate line-height-1">
			<a href="#!" class="text-muted">Server gzip compression is failing</a>
			<a href="#!" class="fs--13 d-block text-gray-500">by Mark Dennis</a>
			</div>

			<div class="w--180 fs--14 text-gray-500 font-weight-light text-align-end">
			8 hours ago
			</div>

			</div>
		</div>
		<!-- /item -->


		<!-- item -->
		<div class="border-bottom border-light">
			<div class="d-flex align-items-center p-3 border-left border-warning bw--3">

			<div class="flex-none w--30">
			<label class="form-checkbox form-checkbox-primary form-checkbox-inset">
			<input type="checkbox" name="item_id[]" value="3">
			<i></i>
			</label>
			</div>

			<div class="flex-fill text-truncate line-height-1">
			<a href="#!" class="text-muted">Retest Smarty and make a list of all bugs</a>
			<a href="#!" class="fs--13 d-block text-gray-500">by Mark Dennis</a>
			</div>

			<div class="w--180 fs--14 text-gray-500 font-weight-light text-align-end">
			1 days ago
			</div>

			</div>
		</div>
		<!-- /item -->



		<!-- item -->
		<div class="border-bottom border-light">
			<div class="d-flex align-items-center p-3 border-left border-info bw--3">

			<div class="flex-none w--30">
			<label class="form-checkbox form-checkbox-primary form-checkbox-inset">
			<input type="checkbox" name="item_id[]" value="4">
			<i></i>
			</label>
			</div>

			<div class="flex-fill text-truncate line-height-1">
			<a href="#!" class="text-muted">Fix server headers</a>
			<a href="#!" class="fs--13 d-block text-gray-500">by Mark Dennis</a>
			</div>

			<div class="w--180 fs--14 text-gray-500 font-weight-light text-align-end">
			3 days ago
			</div>

			</div>
		</div>
		<!-- /item -->



		<!-- item -->
		<div class="border-bottom border-light">
			<div class="d-flex align-items-center p-3 border-left border-success bw--3">

			<div class="flex-none w--30">
			<label class="form-checkbox form-checkbox-primary form-checkbox-inset">
			<input type="checkbox" name="item_id[]" value="5">
			<i></i>
			</label>
			</div>

			<div class="flex-fill text-truncate line-height-1">
			<a href="#!" class="text-muted">New niche layout is required</a>
			<a href="#!" class="fs--13 d-block text-gray-500">by Mark Dennis</a>
			</div>

			<div class="w--180 fs--14 text-gray-500 font-weight-light text-align-end">
			5 days ago
			</div>

			</div>
		</div>
		<!-- /item -->



		<!-- item -->
		<div class="border-bottom border-light">
			<div class="d-flex align-items-center p-3 border-left border-primary bw--3">

			<div class="flex-none w--30">
			<label class="form-checkbox form-checkbox-primary form-checkbox-inset">
			<input type="checkbox" name="item_id[]" value="6">
			<i></i>
			</label>
			</div>

			<div class="flex-fill text-truncate line-height-1">
			<a href="#!" class="text-muted">Check server production logs</a>
			<a href="#!" class="fs--13 d-block text-gray-500">by Mark Dennis</a>
			</div>

			<div class="w--180 fs--14 text-gray-500 font-weight-light text-align-end">
			3 weeks ago
			</div>

			</div>
		</div>
		<!-- /item -->



		<!-- item -->
		<div class="border-bottom border-light">
			<div class="d-flex align-items-center p-3 border-left border-primary bw--3">

			<div class="flex-none w--30">
			<label class="form-checkbox form-checkbox-primary form-checkbox-inset">
			<input type="checkbox" name="item_id[]" value="7">
			<i></i>
			</label>
			</div>

			<div class="flex-fill text-truncate line-height-1">
			<a href="#!" class="text-muted">Check customer new data</a>
			<a href="#!" class="fs--13 d-block text-gray-500">by Mark Dennis</a>
			</div>

			<div class="w--180 fs--14 text-gray-500 font-weight-light text-align-end">
			2 months ago
			</div>

			</div>
		</div>
		<!-- /item -->

			</div>
			<!-- /task list -->


			<div class="mt-3">

		<!-- SELECTED ITEMS -->
		<div class="d-flex align-self-baseline w-100"><!-- using .dropdown, autowidth not working -->

			<a href="#" class="btn btn-sm text-gray-500 b-0 fs--16 shadow-none font-weight-light" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
			<span class="group-icon">
			<i class="fi fi-dots-vertical-full"></i>
			<i class="fi fi-close"></i>
			</span>
			<span>Selected Items</span>
			</a>

			<div class="dropdown-menu dropdown-menu-clean dropdown-click-ignore max-w-250">

			<!--
			buttons attributes : documentation/components-tables.html
			-->
			<div class="scrollable-vertical max-h-50vh">

			<a      href="#"
			class="dropdown-item text-truncate js-form-advanced-bulk"
			data-js-form-advanced-bulk-hidden-action-id="#action_month"
			data-js-form-advanced-bulk-hidden-action-value="mark_solved"
			data-js-form-advanced-bulk-container-items="#task_list_month"
			data-js-form-advanced-bulk-required-selected="true"
			data-js-form-advanced-bulk-required-txt-error="No Items Selected!"
			data-js-form-advanced-bulk-required-txt-position="top-center"
			data-js-form-advanced-bulk-required-custom-modal=""
			data-js-form-advanced-bulk-required-custom-modal-content-ajax=""
			data-js-form-advanced-bulk-required-modal-type="success"
			data-js-form-advanced-bulk-required-modal-size="modal-md"
			data-js-form-advanced-bulk-required-modal-txt-title="Please Confirm"
			data-js-form-advanced-bulk-required-modal-txt-subtitle="Selected Items: {{no_selected}}"
			data-js-form-advanced-bulk-required-modal-txt-body-txt="Set unsolved {{no_selected}} selected items?"
			data-js-form-advanced-bulk-required-modal-txt-body-info=""
			data-js-form-advanced-bulk-required-modal-btn-text-yes="Confirm"
			data-js-form-advanced-bulk-required-modal-btn-text-no="Cancel"
			data-js-form-advanced-bulk-submit-without-confirmation="false"
			data-js-form-advanced-form-id="#FORM_TASK_LIST_MONTH">
			<i class="fi fi-check"></i>
			Set : Solved
			</a>
			<a      href="#"
			class="dropdown-item text-truncate js-form-advanced-bulk"
			data-js-form-advanced-bulk-hidden-action-id="#action_month"
			data-js-form-advanced-bulk-hidden-action-value="mark_unsolved"
			data-js-form-advanced-bulk-container-items="#task_list_month"
			data-js-form-advanced-bulk-required-selected="true"
			data-js-form-advanced-bulk-required-txt-error="No Items Selected!"
			data-js-form-advanced-bulk-required-txt-position="top-center"
			data-js-form-advanced-bulk-required-custom-modal=""
			data-js-form-advanced-bulk-required-custom-modal-content-ajax=""
			data-js-form-advanced-bulk-required-modal-type="warning"
			data-js-form-advanced-bulk-required-modal-size="modal-md"
			data-js-form-advanced-bulk-required-modal-txt-title="Please Confirm"
			data-js-form-advanced-bulk-required-modal-txt-subtitle="Selected Items: {{no_selected}}"
			data-js-form-advanced-bulk-required-modal-txt-body-txt="Set unsolved {{no_selected}} selected items?"
			data-js-form-advanced-bulk-required-modal-txt-body-info=""
			data-js-form-advanced-bulk-required-modal-btn-text-yes="Confirm"
			data-js-form-advanced-bulk-required-modal-btn-text-no="Cancel"
			data-js-form-advanced-bulk-submit-without-confirmation="false"
			data-js-form-advanced-form-id="#FORM_TASK_LIST_MONTH">
			<i class="fi fi-close"></i>
			Set : Unsolved
			</a>

			<a      href="#"
			class="dropdown-item text-truncate js-form-advanced-bulk"
			data-js-form-advanced-bulk-hidden-action-id="#action_month"
			data-js-form-advanced-bulk-hidden-action-value="delete"
			data-js-form-advanced-bulk-container-items="#task_list_month"
			data-js-form-advanced-bulk-required-selected="true"
			data-js-form-advanced-bulk-required-txt-error="No Items Selected!"
			data-js-form-advanced-bulk-required-txt-position="top-center"
			data-js-form-advanced-bulk-required-custom-modal=""
			data-js-form-advanced-bulk-required-custom-modal-content-ajax=""
			data-js-form-advanced-bulk-required-modal-type="danger"
			data-js-form-advanced-bulk-required-modal-size="modal-md"
			data-js-form-advanced-bulk-required-modal-txt-title="Please Confirm"
			data-js-form-advanced-bulk-required-modal-txt-subtitle="Selected Items: {{no_selected}}"
			data-js-form-advanced-bulk-required-modal-txt-body-txt="Are you sure? Delete {{no_selected}} selected items?"
			data-js-form-advanced-bulk-required-modal-txt-body-info="Please note: this is a permanent action!"
			data-js-form-advanced-bulk-required-modal-btn-text-yes="Yes, Delete"
			data-js-form-advanced-bulk-required-modal-btn-text-no="Cancel"
			data-js-form-advanced-bulk-submit-without-confirmation="false"
			data-js-form-advanced-form-id="#FORM_TASK_LIST_MONTH">
			<i class="fi fi-thrash text-danger"></i>
			Set : Delete
			</a>

			</div>

			</div>

		</div>
		<!-- /SELECTED ITEMS -->

			</div>

		</form>

		</div>

		</div>

		</div>

	</div>
	<!-- /WIDGET : TASKS -->

