
<br>

<form method=post name=form0 action='authen.html'>

<table align=center border=0 cellspacing=0 cellpadding=3>

<tr><td>Username:&nbsp;&nbsp;</td>
<td><input type=text name=user value=''>
</td></tr>

<tr><td>Passwort:</td>
<td><input type=password name=pass value=''>
</td></tr>

<tr><td></td>
<td><input type=submit value='Login'>
</td></tr>

</table><br>

</form>

<script language=JavaScript>
	document.form0.user.focus();
</script>

<br>
<a target='_blank' href='http://www.screenpoint.biz/programmierung/contact.html'><small class='admin_text'>Hilfe / Support</small></a>
