<table width="100%" border="0" cellpadding="8" cellspacing="0">
  <tr>
    <td width="21%" height="577" valign="top"><table width="158" border="0" cellpadding="1" bgcolor="#FFFFFF" >
      <tr>
        <td width="150" height="28" align="center"><img src="hersteller_logos/compaq.gif" width="80" height="24" /></td>
      </tr>
      <tr>
        <td align="center"><img src="produkte/18518_thmb.jpg" width="170" height="170" /></td>
      </tr>
      <tr>
        <td height="15" align="center" class="smallText">Produkte-Abbildung 
          nicht verbindlich</td>
      </tr>
      <tr>
        <td height="8" align="center" >&nbsp;</td>
      </tr>
      <tr>
        <td height="168" class="br" align="center" valign="top" bgcolor="#efefef"><table width="110" border="0" cellpadding="1" cellspacing="1">
          <tr>
            <td width="76" height="17">Artikel-Nr.</td>
            <td width="52" align="right">MON-7522</td>
          </tr>
          <tr>
            <td height="17">Verf&uuml;gbar</td>
            <td align="right">16</td>
          </tr>
          <tr>
            <td height="17">Zustand</td>
            <td align="right">A</td>
          </tr>
          <tr>
            <td height="17">Garantie</td>
            <td align="right">1 Monat</td>
          </tr>
          <tr>
            <td height="17" colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td height="17" colspan="2"><div align="center" class="preis_d">CHF 
              890.00</div></td>
          </tr>
          <tr>
            <td height="17" colspan="2"><div align="center">inkl. 
              7.6 % MWST</div></td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>
          <tr align="center">
            <td height="36" colspan="2"><table width="130" height="0" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td width="173" valign="top" class="toppreis"><table width="128" height="20" border="0" cellpadding="2" cellspacing="0" bgcolor="#FFFFFF">
                  <tr>
                    <td width="28" height="21"><a href="#"><img src="images/basket_orange.gif" alt="Produkt in den Warenkorb" width="27" height="17" border="0" /></a></td>
                    <td width="92" align="center"><a  class="small_link" href="#">In 
                      den Warenkorb</a></td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
    <td width="100%" align="right" valign="top"><table width="100%"  border="0" cellpadding="2" cellspacing="2">
      <tr>
        <td background="images/detail_titel_back.jpg" height="9" colspan="2"><strong class="product_name">Compaq 
          Evo N600C</strong></td>
      </tr>
      <tr>
        <td width="40%">Prozessor:</td>
        <td width="60%" >Core 2 Duo</td>
      </tr>
      <tr>
        <td>Prozessor Taktfrequenz:<br /></td>
        <td>2.8GHz</td>
      </tr>
      <tr>
        <td>Arbeitsspeicher (RAM):<br /></td>
        <td>2048 MB</td>
      </tr>
      <tr>
        <td>Festplatte (HDD):<br /></td>
        <td>10 GB</td>
      </tr>
      <tr>
        <td>Diskettenlaufwerk (FDD):<br /></td>
        <td>3.5&quot;</td>
      </tr>
      <tr>
        <td>Optisches Laufwerk:<br /></td>
        <td>CD-RW</td>
      </tr>
      <tr>
        <td>Wireless Karten:<br /></td>
        <td>WLAN, Bluetooth</td>
      </tr>
      <tr>
        <td>Netzwerkkarten:<br /></td>
        <td>RJ45</td>
      </tr>
      <tr>
        <td>Grafkkarte:<br /></td>
        <td>Intel X400</td>
      </tr>
      <tr>
        <td>Schnitstellen:<br /></td>
        <td>1394F-2*USB-COM-LPT-PS/2-TV-2*PCMCIA-IR-TV</td>
      </tr>
      <tr>
        <td>Bildschirmgr&ouml;sse / Aufl&ouml;sung:<br /></td>
        <td>14.1&quot; | 1024x768</td>
      </tr>
      <tr>
        <td >Tastatur:<br /></td>
        <td>CHD</td>
      </tr>
      <tr>
        <td valign="top">Lieferzubeh&ouml;r:</td>
        <td>Dieser Artikel wird mit Ladeger&auml;t und Stromkabel aber ohne Bedienungsanleitung und Treiber ausgeliefert. Dokumentationen, Bedienungsanleitungen, allgm. Informationen sowie Treiber sind auf der Webseite der jeweiligen Hersteller zu finden. </td>
      </tr>
      <tr>
        <td valign="top">Betriebsystem:</td>
        <td>Microsoft&reg; Windows&reg; nicht installiert/not installed<br />
          Installations-CD nicht im   Lieferumfang/CD not included</td>
      </tr>
      <tr>
        <td height="9" colspan="2">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2" background="images/detail_titel_back.jpg"><strong>Betriebssystem 
          (optional)</strong></td>
      </tr>
      <tr>
        <td colspan="2"><form action="" method="post" name="betriebssystem" id="betriebssystem">
          <select  class="detailform" name="select4">
            <option selected="selected">Betriebssystem zu diesem Artikel  w&auml;hlen...</option>
            <option>Microsoft® Windows® XP PRO installed &mdash; English &mdash; CHF 60.00</option>
            <option>Microsoft® Windows® XP PRO installiert &mdash; Deutsch &mdash; CHF 60.00</option>
          </select>
        </form></td>
      </tr>
      <tr >
        <td colspan="2" background="images/detail_titel_back.jpg"><strong>Zubeh&ouml;r (optional)</strong></td>
      </tr>
      <tr>
        <td colspan="2"><form action="" method="post" name="zubehoer" id="zubehoer">
          <select  class="detailform" name="select4">
            <option selected="selected">Zubehör zu diesem 
              Artikel wählen... </option>
            <option>VGA-Kabel 5m - CHF 20.-</option>
            <option>Notebooktasche - CHF 20.-</option>
          </select>
        </form></td>
      </tr>
      <tr >
        <td colspan="2" background="images/detail_titel_back.jpg"><strong>Garantieverlängerung (optional)</strong></td>
      </tr>
      <tr>
        <td colspan="2"><form action="" method="post" name="garantie" id="garantie">
          <select  class="detailform" name="select4">
            <option selected="selected">Garantieverlängerung zu diesem 
              Artikel wählen... </option>
            <option>6 Monate - CHF 220.-</option>
            <option>12 Monate - CHF 420.-</option>
          </select>
        </form></td>
      </tr>
      <tr>
        <td colspan="2">&nbsp;</td>
      </tr>
      <tr background="images/detail_titel_back.jpg">
        <td colspan="2"><strong>Beschreibung</strong></td>
      </tr>
      <tr valign="top">
        <td colspan="2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula   eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient   montes, nascetur ridiculus mus. Donec qua</td>
      </tr>
      <tr valign="top">
        <td colspan="2">&nbsp;</td>
      </tr>
      <tr>
        <td  background="images/detail_titel_back.jpg"height="17" colspan="2"><strong>Zusatz 
          Informationen </strong></td>
      </tr>
      <tr valign="top">
        <td height="56" colspan="2"><strong><a href="#" class="small_link">www.compaq.com/support/evo600.htm</a><br />
          <br />
          WICHTIG:</strong> Die im externen Link enthaltenen 
          Informationen sind ohne Gew&auml;hr, die richtige 
          Konfiguration der angebotenen Ger&auml;te finden 
          Sie oben in unserer Produktbeschreibung.</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="124">&nbsp;</td>
    <td align="right" valign="top"><table class="zubehoer" border="0" cellpadding="4" cellspacing="0" width="520">
      <tr>
        <td background="images/zubehoer_titel_back.jpg" height="15" colspan="3"><b> <font color="#FFFFFF">Wir empfehlen zu diesem Artikel:</font></b></td>
      </tr>
      <tr>
        <td width="430" valign="middle"><a href="#" class="small_link">IBM 
          NetVista 6793 - Windows 2000 Deitalansicht</a></td>
        <td width="21" align="right" valign="top"><strong>CHF</strong></td>
        <td width="33" height="22" align="right" valign="top"><strong> 760.-</strong></td>
      </tr>
      <tr>
        <td valign="middle"><a href="#" class="small_link">IBM 
          ThinkPad T23 - Windows 2000</a></td>
        <td align="right" valign="middle"><strong>CHF</strong></td>
        <td height="18" align="right" valign="middle"><strong> 890.-</strong></td>
      </tr>
      <tr>
        <td valign="middle"><a href="#" class="small_link">Windows 
          2000 CD &amp; Handbuch</a></td>
        <td align="right" valign="middle"><strong>CHF</strong></td>
        <td height="18" align="right" valign="middle"><strong>129.-</strong></td>
      </tr>
    </table>
     </td>
  </tr>
</table>

