<%init>
	use ScreenPoint::Auctionline;
	use ScreenPoint::Core;

	my $C = ScreenPoint::Core->new( $r, $m );
	my $A = ScreenPoint::Auctionline->new($C);

	my $lang = $C->getSessData('_current_lang') || 'de';

	my ($email, $newsletter) = @{$C->query("SELECT email, newsletter FROM users WHERE uname='" . $C->whoami() . "'")};

	$C->load_properties('account');
	my $prop = $C->{property}->{'account'};
	my $l = $lang eq 'de' ? '' : "_$lang";

	my %addr_label = ( 1 => $prop->{"bill_addr$l"}, 2 => $prop->{"deliv_addr$l"} );
</%init>
%

<!-- ######################################################################################################## -->
<form method=post>
	<b><% $prop->{"your_login_name$l"}%>:</b>&nbsp;&nbsp; <input type=text 
		value='<% $C->getSessData('uname') || $C->whoami() %>' name=uname size=28>

%	if ($C->whoami() =~ /\@/) {
		&mdash; Vorschlag: <b><% $C->propose_uname($C->whoami()) %></b>
%	}
	<br><br>

	<b>Passwort:</b>&nbsp;&nbsp;&nbsp;Alt: <input type=text name=pass_old size=12>&nbsp;&nbsp;
	Neu: <input type=text name=pass_new size=12><br><br>

	E-Mail:&nbsp;&nbsp;<% $email %>&nbsp;&nbsp;
		<input type=checkbox name=newsletter<% $newsletter ? ' checked' : '' %>> Newsletter<br><br>

<table border=0>
<tr valign=top>
%	for (my $i = 2; $i > 0; $i--) {
%		my $addr = $A->get_address($i);
		<td>
		<b><% $addr_label{$i} %></b><br><br>

		<table>
		<tr><td nowrap>Vor- / Nachname</td>
		<td><input type=text value='<% $addr->{firstname} %>' name=firstname_<% $i %> size=10>
		<input type=text value='<% $addr->{lastname} %>' name=lastname_<% $i %>>
		</td></tr>
		<tr><td>Firma</td> <td><input type=text value='<% $addr->{company} %>' name=company_<% $i %> size=34></td></tr>
		<tr><td>Adresse</td> <td><input type=text value='<% $addr->{street} %>' name=street_<% $i %> size=34></td></tr>
		<tr><td>PLZ / Ort</td>
		<td nowrap><input type=text value='<% $addr->{zip} %>' name=zip_<% $i %> size=5>&nbsp;&nbsp;&nbsp;
			<input type=text value='<% $addr->{city} %>' name=city_<% $i %> size=23>
		</td></tr>
		</table>
		</td>
%	}
</tr>
</table><br><br>

	<input type=submit value='Speichern' name='bSaveProfile'>
</form><br>

<table width="94%" border="0" class="br1" cellpadding="4" cellspacing="0">
</table>
<!-- ######################################################################################################## -->
