<%init>
        use ScreenPoint::Core;
        # use ScreenPoint::Auctionline;
	use JSON;

	# -- http://datatables.net/examples/data_sources/server_side.html

	my $C = ScreenPoint::Core->new( $r, $m );
	# my $A = ScreenPoint::Auctionline->new( $C );
	my $json = JSON->new();

	my $cgi = $C->{CGI};
	my $dbh = $C->{dbh};

	my @dbcols    = qw(vcode id valid_from valid_to instime amount perc status);
	my $sortcol   = $cgi->param('iSortCol_0');
	my $direction = $cgi->param('sSortDir_0');

	my @json = ();
	# -- (my $order = "$dbcols[$sortcol] $direction") =~ s/tstamp/id/;
	my $order = "$dbcols[$sortcol] $direction";

	my $iDisplayLength = $cgi->param('iDisplayLength');
	my $iDisplayStart  = $cgi->param('iDisplayStart');
	my $sEcho          = $cgi->param('sEcho');
	my $sSearch        = $cgi->param('sSearch');

	my @where_clause = ();
	push(@where_clause, "vcode LIKE '%" . $sSearch . "%'") if $sSearch;

	my $wcl = join ' AND ', @where_clause;
	   $wcl = "WHERE $wcl" if @where_clause;

	my $limit  = $iDisplayLength ? "LIMIT $iDisplayLength" : '';
	my $offset = $iDisplayStart  ? "OFFSET $iDisplayStart" : '';

	my $area = '';
	if ($iDisplayStart && $iDisplayLength != -1) {
		$area = "LIMIT $iDisplayStart, $iDisplayLength";
	}
	elsif ($iDisplayLength) {
		$area = "LIMIT $iDisplayLength";
	}

	my $stmt = 'SELECT ' . (join ', ', @dbcols) . qq~ 
			FROM 	vouchers
				$wcl
			ORDER 	BY $order 
			$area~;

	my $sth = $dbh->prepare($stmt);
	   $sth->execute() or print STDERR "ERR $DBI::errstr $stmt\n";

	my $count = $C->query('select COUNT(*) FROM vouchers')->[0];

	my %pay_meth_hr = ( 1=>'cc', 2=>'cod', 3=>'bill', 4=>'paypal', 5=>'postcard', 6=>'prepay' );

	while(my $r = $sth->fetch()) {
		my ($vcode, $id, $valid_from, $valid_to, $instime, $amount, $perc, $status) =  @{$r};
		$perc = $perc ? sprintf('%.1f', $perc) : '';
		$amount = '' if $amount < 0.01;
		my $status_symb = $status ? '<i style="color:green; font-weight:bold" class="icon-check"></i>' : '<i style="color:maroon" class="icon-check-empty"></i>';
		my $valid_to_l = my $valid_to_r = '';
		if ($valid_to gt $C->now(1)) {
			$valid_to_l = '<span class="label label-success">';
			$valid_to_r = '</span>';
		}
		$valid_to = $C->trans_date_short($valid_to);
		$valid_to = "<nobr>$valid_to_l$valid_to$valid_to_r</nobr>";
		my @arr = ();

		push(@arr, "<a style='font-weight:bold' href='adm_voucher.html?id=$id'>$vcode</a>");
		push(@arr, "<div style='text-align:right; padding-right:11px'>$id</div>");
		push(@arr, $C->trans_date_short($valid_from));
		push(@arr, $valid_to);
		push(@arr, $C->trans_date_very_short($instime));
		push(@arr, "<div style='text-align:center; font-weight:bold'>$amount</div>");
		push(@arr, "<div style='text-align:center'>$perc</div>");
		push(@arr, "<div style='text-align:center'>$status_symb</div>");

		push(@json, \@arr);
	}

	my $JSON = $json->encode(\@json);

	$r->content_type("text/plain; charset=utf-8");
</%init>
{"sEcho": <% $sEcho %>, "iTotalRecords": <% $count %>, "iTotalDisplayRecords": <% $count %>, "aaData": <% $JSON %> }
<%doc>
	__METACLONING__
</%doc>
