<%init>
	my %args = $m->caller_args(0);
	my $A = $args{A};
	my $C = $args{C};

	my $style_ident = q~margin-top:10px; width:145px; color:#666; font-size:13px; color:black~;
	   $style_ident = "$style_ident; background-color:#D6EAF8; font-weight:bold; font-size:1.0rem; letter-spacing:2px; border:0px solid"
				if $args{feat_key} eq 'GTIN';
</%init>
<input type='hidden' name='_featwei_<%$args{feat_id}%>' value='<%$args{weight}%>'>
<input type='hidden' name='_featnam_<%$args{feat_id}%>' value="<%$args{feat_name}%>">
<tr>
<td nowrap>
	<a href='_del_feat_from_product.html?id=<% $args{feat_id} %>&prod_id=<% $args{prod_id} %>'><i class='icon-remove'
		style='color:red'></i></a> <b>Exclude Value</b>
</td>
<td>
	<input type='text' name="_featkey_<%$args{feat_id}%>" style='<% $style_ident %>'
		value='<% $args{feat_key} %>'>
</td>
<td colspan=2>
	<abbr title="Exclude values are comma separated"><input type='text' name='_featval_<%$args{feat_id}%>'
		style='margin-top:10px; width:380px; font-weight:bold' value='<% $args{dat} %>'></abbr>
</td>
</tr>
<%doc>
	Algo-23
	__METACLONING__
</%doc>
