<%init>
	my %args = $m->caller_args(0);

	my $C    = $args{C};
	my $this = $C->this();
	my $cgi  = $C->{CGI};

	if ($cgi->param('bAdd')) {
		my $errstr = '';
		my $new_id = $C->query("select MAX(shop_id)+1 from shop_locator")->[0] + 0;

		$C->{dbh}->do("insert into shop_locator (shop_id, xname) values ($new_id, 'Foo')")
			or ($errstr=$DBI::errstr);

		if ($errstr) {
			# -- ERROR Table '<db_name>.newsletter_settings' doesn't exist ?
			my $stmt = q~
			CREATE TABLE IF NOT EXISTS shop_locator (
			  id smallint(5) unsigned NOT NULL AUTO_INCREMENT,
			  shop_id smallint(5) unsigned NOT NULL DEFAULT '0',
			  last_mod timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
			  xname char(127) DEFAULT NULL,
			  address char(255) DEFAULT NULL,
			  phone char(63) DEFAULT NULL,
			  latitude char(127) DEFAULT NULL,
			  longitude char(127) DEFAULT NULL,
			  addrtype char(63) DEFAULT NULL,
			  link varchar(511) DEFAULT NULL,

			  PRIMARY KEY (id),
			  UNIQUE KEY shop_id (shop_id)
			) ENGINE=MyISAM  DEFAULT CHARSET=utf8 AUTO_INCREMENT=1;~;

			$m->out("ERROR. Creating missing table...<br><pre>$stmt</pre>");
			$C->{dbh}->do($stmt);
		}
		else {
			my $last_id = $C->query('SELECT LAST_INSERT_ID()')->[0];
			$m->redirect("adm_edit_shop.html?id=$last_id");
		}
	}
</%init>
<div class="pull-right">
% #	<button style='margin-top:10px; margin-right:5px' onclick='document.location="adm_newsletter.html"'
% #		class="btn btn-primary btn-mini"><i class="icon-chevron-left"></i> Shop Locator</button>

	<button style='margin-top:10px; margin-right:5px' onclick='document.location="adm_shop_locator.html?bAdd=1"'
		class="btn btn-success btn-mini"><i class="icon-plus"></i></button>
</div>
<h2><span style='font-size:30px; margin-right:5px' class="icon-globe pull-left text-info"></span>Shop Locator</h2>

<div id="<% $this %>">

	<style type="text/css" media="screen">
		@import "DataTables-1.9.1/media/css/demo_table_jui.css";
		@import "DataTables-1.9.1/media/css/jui_themes/ui-lightness/my-jquery-ui.css";
		/*
		 * Override styles needed due to the mix of three different CSS sources! For proper examples
		 * please see the themes example in the 'Examples' section of this site
		 */
		.dataTables_info { padding-top: 0; }
		.dataTables_paginate { padding-top: 0; }
		.css_right { float: right; }
		#example_wrapper .fg-toolbar { font-size: 0.8em }
		#theme_links span { float: left; padding: 2px 10px; }
		table.dataTable tr.odd  { background-color: #eeeef0; line-height:2.5em; }
		table.dataTable tr.even { background-color: #d4d4d8; line-height:2.5em; }
		table.dataTable td.sorting_1 { background-color: #d4d4d8; }
	</style>
		
	<script type="text/javascript" src="DataTables/media/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready( function() {
			$('#example').dataTable( {
				"bJQueryUI": true,
%				# -- full_numbers
				"sPaginationType": "two_button",
				"iDisplayLength": 50,
				"bProcessing": true,
				"bFilter": false,
				"bServerSide": true,
				"sAjaxSource": "_includes/_server_processing_shop_locator.html"
			} );

			var oTable = $('#example').dataTable();
			oTable.fnSort( [ [0,'asc'] ] );
		} );
	</script>

<div id="fw_container">

% unless ($args{ready}) {
	<% $C->bootstrap_alert('Not ready.', 'danger') %>
% }

% if ($args{appmsg}) {
%	my $appmsg = $args{appmsg};
	<% $C->bootstrap_alert($appmsg, 'success') %>
% }

<table class='mytable table-hover' id='example'>
<thead>
<tr style='line-height:2.2em'>
	<th style="width:88px">ID</th>
	<th style="width:277px">Name</th>
	<th style="padding-right:20px">Address</th>
	<th>Link (URL)</th>
	<th style="width:150px">Last Mod.</th>
</tr>
</thead>
<tbody></tbody>
</table>

% if ($args{bCreateSett}) {
	<% $C->bootstrap_alert('Default Settings created.', 'success') %><br>
% }

</div>

</div>

<div style="margin-top:20px; font-size:11px" class="pull-right">
	<a href="store-locator.html">Store Locator</a> &mdash;
	<a href="store-locator-assets/data/stores.csv">Download CSV</a>&nbsp;
</div>
<br>

<%doc>
	__METACLONING__
</%doc>
