<%init>
	my %args = $m->caller_args(0);

	my $C           = $args{C};
	my $A           = $args{A};
	my $id          = $args{id};
	my $o_stat      = $args{o_stat};
	my $odat        = $args{odat};
	my $perma_debug = $args{perma_debug};

	my $perm = $C->get_user_perm();
	my $cgi  = $C->{CGI};

	my $bAddHist  = $cgi->param('bAddHist');
	my $bAdjQuant = $cgi->param('bAdjQuant');

	if ($bAddHist) {
		my $text         = $cgi->param('text') || '* Kein Text *';
		my $src          = $cgi->param('src')  || 'Admin';
		my $uid          = $cgi->param('uid');
		   $uid          = $perm->{uid} unless length($uid);
		my $time         = $cgi->param('time') || $C->now(1);
		my $cb_reminder  = $cgi->param('cb_reminder');
		my $cb_cust_info = $cgi->param('cb_cust_info');

		if ($cb_reminder) {
			my $r_set_o_stat = $A->set_order_status($id, 500, $text, $src);
			$C->{dbh}->do("update orders_status SET created_at='$time', uid=$uid where id=$r_set_o_stat->{status_dbid}");
		}

		if ($cb_cust_info) {
			my $r_set_o_stat = $A->set_order_status($id, 801, $text, $src);
			$C->{dbh}->do("update orders_status SET created_at='$time', uid=$uid where id=$r_set_o_stat->{status_dbid}");
		}

		if (!$cb_reminder && !$cb_cust_info) {
			my $r_set_o_stat = $A->set_order_status($id, 800, $text, $src);
			$C->{dbh}->do("update orders_status SET created_at='$time', uid=$uid where id=$r_set_o_stat->{status_dbid}");
		}

		if ($text =~ /zugestellt/i) {
			my $r_set_o_stat = $A->set_order_status($id, 251, 'Zugestellt / abgeschlossen', 'DHL');
			$C->{dbh}->do("update orders_status SET created_at='$time', uid=0 where id=$r_set_o_stat->{status_dbid}");
		}
		elsif ($text =~ /unterwegs/i) {
			my $r_set_o_stat = $A->set_order_status($id, 250, 'Sendung unterwegs. Details im Paketverfolgungslink.', 'DHL');
			$C->{dbh}->do("update orders_status SET created_at='$time', uid=0 where id=$r_set_o_stat->{status_dbid}");
		}

		$m->redirect("adm_order.html?id=$id");
	}
	elsif ($bAdjQuant) {
		my $text         = $cgi->param('text') || '* Kein Text *';
		my $quant        = $cgi->param('quant')  + 0;
		my $req_prod_id  = $cgi->param('req_prod_id')  + 0;
		$C->{dbh}->do("update orders_products SET `count`=$quant where order_id=$id AND prod_id=$req_prod_id LIMIT 1");
		my $newtot = $A->get_basket_total_from_order_v3(order_id=>$id)->{total};
		$C->{dbh}->do("update orders SET amount_incl_vat=$newtot where id=$id");
		$A->set_order_status($id, 800, "Man. Korr.: $quant &times; $req_prod_id $text", 'Admin');
		$C->log(msg=>"W503162: Man. Korrektur Order-ID $id", service=>'adm_inc_order_status');
		$m->redirect("adm_order.html?id=$id");
	}

	my $dhl_track_url = 'https://www.dhl.com/ch-de/home/tracking/tracking-express.html?submit=1';
	my $deeplink_url  = $C->get_safe_property('edi_1_deeplink_order', 'sys');
</%init>
	<span class="pull-right" style="margin-bottom:10px">
%		if ($perm->{is_devel}) {
			DHL zugestellt:
			<a style="margin-left:15px;" href="/adx/_update_order_hist.html?order_id=<% $id %>&before=48">vorgestern</a>
			<a style="margin-left:15px;" href="/adx/_update_order_hist.html?order_id=<% $id %>&before=24">gestern</a>
			<a style="margin-left:15px; margin-right:15px;" href="/adx/_update_order_hist.html?order_id=<% $id %>&before=0">heute</a>
%		}
		<span onclick="add_history(<% $id %>)" class="badge badge-success" rel="tooltip" data-original-title="History hinzuf&uuml;gen"
			data-placement="left" style="cursor:pointer; width:10px; text-align:center;">&plus;</span>
	</span>

	<table class="mytable table-hover">
%	if ( $#{ $o_stat->{status_recs}	} + 1  ) {
		<tr>
			<th>Date</th>
			<th>Status-ID <a target="_blank" href="/_systex/install/help/de/4/5/"><i class="icon-info-sign"></i></a></th>
			<th>Text</th>
			<th>Source</th>
			<th>By User</th>
		</tr>
%	}
%	foreach	my $d (@{$o_stat->{status_recs}}) {
%		my $uname = $C->query("select uname from users where id=$d->{uid}")->[0];
%		my $xval = $d->{xval};
%		my $pdf_ref = '';
%		if ($xval =~ /\bqr_bill_$id\_(\d+)\.pdf\b/ or $xval =~ /\bdn_$id\_(\d+)\.pdf\b/) {
%			$pdf_ref = $1;
%			my $lt = $C->_lt_(); my	$a_tag = $lt . 'a';
%			if ($xval =~ /\bqr_bill/) {
%				$xval =~ s/qr_bill_$id\_$pdf_ref\.pdf/$a_tag href="upload\/qr_bill_$id\_$pdf_ref\.pdf">qr_bill_$id\_$pdf_ref\.pdf<\/a>/;
%			}
%			else {
%				$xval =~ s/dn_$id\_$pdf_ref\.pdf/$a_tag href="upload\/dn_$id\_$pdf_ref\.pdf">dn_$id\_$pdf_ref\.pdf<\/a>/;
%			}
%		}
		<tr>
		<td nowrap><% $C->trans_date_short($d->{created_at}) %></td>
		<td style="color:#a1a1a1; text-align:center; font-size:0.9em;"><% $d->{status_id} %></td>
		<td class="td_max_w600">
%			if ($d->{status_id} == 226 && $xval =~ /.*\{\{(\d+)\}\}/) {
%				my $edi_order_nr = $1;
%				$xval = qq~EDI Order Nr. <a target="_blank" href="$deeplink_url$edi_order_nr">$edi_order_nr</a> &#8599;
%					<span style="font-size:0.66rem; color:#919191; margin-left:10px;">partner.galaxus.ch</span>~;
%				if ($perm->{is_devel}) {
%					$xval = "$xval &mdash; <a href=\"/_systex/data/import/edi/GORDP_10391065_$edi_order_nr\.xml\">XML</a>";
%				}
%			}
%			elsif ($xval =~ /\bE501092\b.*(\d+) x Prod-ID (\d+) requested/) {
%				my $count = $1; my $req_prod_id = $2;
%				$xval = qq~$xval &rarr; <a class="badge badge-success" onclick="adjust_quant($id, $count, $req_prod_id);"
%						style="cursor:pointer;">Out of stock!?</a>~;
%			}
			<% $d->{text_hr} || $xval %>
%			foreach	(sort keys %$d)	{
%				next if	$_ eq 'created_at' or $_ eq 'status_id'	or $_ eq 'uid' or $_ eq	'xval' or $_ eq	'id' or /^src/ or $_ eq 'text_hr';
				X -- <b><% $_ %></b> = <% $d->{$_} %><br>
%			}
%			if ($d->{status_id} == 400 && $odat->{dhl_shipmentTrackingNumber}) {
				/ <% $odat->{dhl_shipmentTrackingNumber} %>
				&middot; <a href="<% $odat->{dhl_doc_path} %>">Express Label <% $odat->{deliv_city} %></a>
				&middot; <a target="_blank" rel="noopener noreferrer"
			href="<% $dhl_track_url %>&tracking-id=<% $odat->{dhl_shipmentTrackingNumber} %>"><% $C->get_safe_property('unicode_truck_9951', 'sys') %></a>
				&middot; <a style="font-size:0.66rem;" href="/adx/dev-lab-shipment.html?order_id=<% $id %>">Tracking</a>
%			}
%			if ($d->{status_id} == 500) {
				&middot; <b>Handlungsbedarf!</b>
				&rarr; <a class="badge badge-success" rel="tooltip" data-original-title="Alarmierung beenden" data-placement="top"
					href="adm_order.html?id=<% $id %>&action=action&status_id=501&status_dbid=<% $d->{id} %>">Quittieren</a>
%			}
%			elsif ($d->{status_id} == 501 && $args{is_devel}) {
				&rarr; <a href="adm_order.html?XXXfunc=orders&id=<% $id %>&action=action&status_id=500&status_dbid=<% $d->{id} %>">Reakt.</a>
%			}
		</td>
		<td class="td_max_w150"><% $d->{src} %></td>
		<td>
%			if ($d->{uid} >	0) {
				<abbr title="UID <% $d->{uid} %> <% $uname %>"><% $C->shorten_title($uname, 15) %></abbr>
%			}
%			else {
				N/A
%			}
%			if ($args{is_devel} or $perma_debug) {
				<a class="pull-right" href="adm_db_edit.html?table=orders_status&wcl=id%3D<% $d->{id} %>"><i class="icon-pencil"></i><small>e</small></a>
%			}
		</td>
		</tr>
%	}
	</table>

<%doc>
	Algo-23
	__METACLONING__
</%doc>
