<%init>
	my %args = $m->caller_args(0);

	my $C = $args{C};
	my $suppress_shop_activity = $args{suppress_shop_activity};

	my $users = $C->get_logged_in_users(suppress_shop_activity=>$suppress_shop_activity);
</%init>
<table class="mytable">
<thead>
<tr>
	<th colspan="3" style='text-align:center'>Online</th>
</tr>
</thead>
% if ($suppress_shop_activity) {
	<tr>
		<td colspan="3" style="text-align:center">System is online. Many user activities</td>
	</tr>
% }
% else {
%     foreach (sort @{$users}) {
%	my ($age_m, $uid, $ts, $uname) = split /\t/;
%	$age_m += 0;
%	my $ago = "$age_m min ago";
%	if ($age_m > 59) {
%		my $age_h = sprintf('%d', $age_m / 60);
%		$ago = "$age_h hours ago";
%	}
	<tr><td nowrap><a href="user.html?id=<%$uid%>"><i style="margin-right:3px"
		class="icon-user"></i><%(split /\@/, $uname)[0]%></a></td>
	<td nowrap><%$C->trans_date_very_short($ts)%></td>
	<td nowrap style='text-align:right'><%$ago%></td></tr>
%     }
% }
</table><br>

<%doc>
	Algo-23
	__METACLONING__
</%doc>
