<%init>
	use ScreenPoint::Core;
	my $C = ScreenPoint::Core->new( $r, $m );
	my $cgi = $C->{CGI};

	my $id = $cgi->param('id');

	my $enduser_price = $C->query("select getProdFeat($id, 'enduser_price')")->[0];
	   $enduser_price = sprintf('%.2f', $enduser_price);

	my $raw_weight = $C->query("select getProdFeat($id, 'raw_weight')")->[0];

	my $product_type = $C->query("select getProdFeat($id, 'product_type')")->[0];

	my $title = $C->query("select title FROM products_desc WHERE product_id=$id AND lang='de' ORDER BY id DESC LIMIT 1")->[0];
</%init>
<script language=JavaScript>
	$('#myModax').modal();
</script>
<form method=post action="_product_tool.html">
<input type=hidden name=id value="<%$id%>">
<input type=hidden name=action value="update_extra">
<input type=hidden name=func value="edit_item">
<div id="myModax" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Update Extra Data: &laquo;<% $title %>&raquo;</h3>
  </div>
  <div class="modal-body">
	<center>
		Enduser Price [<% $C->{CONFIG}->{default_curr} %>]:
		<input style="margin-top:8px; width:120px; text-align:right; margin-left:10px; padding-right:10px; font-weight:bold"
			type="text" name="enduser_price" value="<% $enduser_price %>"><br><br>

		Raw Weight [kg]:
		<input style="margin-top:8px; width:50px; text-align:right; margin-left:10px; padding-right:10px; font-weight:bold"
			type="text" name="raw_weight" value="<% $raw_weight %>"><br><br>

		Product Type:
		<select style="margin-top:10px" name="product_type">
		<option value="general">General Product</option>
		<option value="swim_cap" <% $product_type eq 'swim_cap' ? ' selected' : '' %>>Swim Cap</option>
		<option value="diving_suit" <% $product_type eq 'diving_suit' ? ' selected' : '' %>>Diving Suit</option>
		</select>
	</center>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
	<input class="btn btn-primary" name=bXX type=submit value="Update">
  </div>
</div>
</form>
