<%init>
	my %args = $m->caller_args(0);
	my $C = $args{C};
	my $A = $args{A};

	my $cgi = $C->{CGI};

	my $status       = $cgi->param('status');
	my $company_from = $cgi->param('company_from');
	my $filterv      = $cgi->param('filterv');

	if ($cgi->param('bAdd')) {
		my %data = ( cust_email => "foo$$\@example.org" );
		$A->create_user(\%data);
		$m->redirect('user.html?id=' . $A->{uid});
	}

	my $this = $C->this();

	my @wcl = ();
	push(@wcl, 'showAnon=1') if $cgi->param('showAnon');
	push(@wcl, "filterv=$filterv") if $filterv;
	push(@wcl, "status=$status") if $status;
	push(@wcl, "company_from=$company_from") if $company_from;
	my $where_clause = join '&', @wcl;
</%init>
<a href="customers.html?status=5"><button class="btn pull-right btn-mini" style='margin-top:10px'>Bounces</button></a>
<a href="export_customers.html"><button class="btn pull-right btn-mini" style='margin-top:10px; margin-right:8px'>Export</button></a>
<a href="import_customers.html"><button class="btn pull-right btn-mini" style='margin-top:10px; margin-right:8px'>Import</button></a>
<a href="customers.html?bAdd=1"><button class="btn pull-right btn-mini" style='margin-top:10px; margin-right:8px'>Add (+1)</button></a>
<a href="customers.html?showAnon=1"><button class="btn pull-right btn-mini"
	style='margin-top:10px; margin-right:8px'>Anonymous</button></a>
<span class="cards">
<h2><span style='font-size:30px; margin-right:5px' class="icon-group pull-left text-info"></span>Your Customers
%	if ($C->is_devel()) {
		*** <a href="/adx/customers.html">Neue Version</a> ***
%	}
</h2>
</span>

<div id="<% $this %>">

	<style type="text/css" media="screen">
		@import "DataTables-1.9.1/media/css/demo_table_jui.css";
		@import "DataTables-1.9.1/media/css/jui_themes/ui-lightness/my-jquery-ui.css";
		/*
		 * Override styles needed due to the mix of three different CSS sources! For proper examples
		 * please see the themes example in the 'Examples' section of this site
		 */
		.dataTables_info { padding-top: 0; }
		.dataTables_paginate { padding-top: 20px; }
		.css_right { float: right; }
		#example_wrapper .fg-toolbar { font-size: 0.9em }
		#theme_links span { float: left; padding: 2px 10px; }
		table.dataTable tr.odd  { background-color: white; line-height:2.0 }
		table.dataTable tr.even { background-color: #f7f7f7; line-height:2.0 }
		table.dataTable td.sorting_1 { background-color: #e7e7e7; }
	</style>
		
	<script type="text/javascript" src="DataTables/media/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready( function() {
			$('#example').dataTable( {
				"bJQueryUI": true,
				"sPaginationType": "full_numbers",
				"iDisplayLength": 25,
				"bProcessing": true,
				"bServerSide": true,
			"sAjaxSource": "_includes/_server_processing_cust.html?<%$where_clause%>"
			} );

			var oTable = $('#example').dataTable();
			oTable.fnSort( [ [0,'desc'] ] );
		} );
	</script>

<div id="fw_container">
<div id="fw_content">

<div style="width:100%; margin-top: 1em; margin-left:auto; margin-right:auto;">
	
<div id="theme_links" class="fg-toolbar ui-widget-header ui-corner-all fg-buttonset fg-buttonset-multi">
	<div class="css_clear"></div>
</div>

<table class='mytable table-hover' id='example'>
<thead>
<tr>
	<th style="width:70px; text-align:center">ID</th>
	<th style='width:140px; padding-right:30px'>Loginname</th>
	<th style="width:132px">Update</th>
	<th style="">Firstname</th>
	<th style=''>Lastname</th>
	<th>E-Mail</th>
	<th style="text-align:right; padding-right:20px">Level</th>
</tr>
</thead>
<tbody></tbody>
</table>

</div>
</div>
</div>
</div>
<%doc>
	Algo-24
	__METACLONING__
</%doc>
