
	    <ul class="unstyled cards not-bottom">
		<li>
		<i class="icon-group pull-left text-info"></i>
		    <p class="title"><strong>Unlimited Users</strong></p>
		    <p class="info small">This is the kind of thing you really need.</p>
		</li>

		<li>
		<i class="icon-book pull-left text-info"></i>
		    <p class="title"><strong>Enhanced Reporting</strong></p>
		    <p class="info small">This is the kind of thing you really need.</p>
		</li>

	    </ul>
	    <button class="btn btn-primary pull-right">Upgrade Now</button>
