
<h2>Inbox</h2>

<table class="table table-first-column-check table-hover">
	<thead>
	    <tr>
	      <th class="span1"><i class="icon-star-empty"></i></th>
	      <th class="span2">From</th>
	      <th class="span9">Subject</th>
	      <th class="span2">Date</th>
	    </tr>
	</thead>
	<tbody>
	    <tr>
	      <td><a href="#"><i class="icon-star-empty"></i></a></td>
	      <td><strong>John Doe</strong></td>
	      <td><strong>Message body goes in here</strong> <span
		class="label label-success pull-right" style="margin-left: .5em;">Follow Up </span> <span class="label label-info pull-right">Work</span></td>
	      <td><strong>11:23 PM</strong></td>
	    </tr>
	</tbody>
</table>
