<div id="footer">
<div class="fhead">
	    <div class="inside clearfix">
	  <div class="fheadText">Zahlungs-Methoden</div>
	  <div class="fheadIcon"><IMG alt="Payment" src="images/icon_payment.png"></div>
	    </div>
  </div>
  <div class="inside clearfix">


<div id="footer_main">
      <dl id="footerBox">
        <h2>2015 © zzshop.ch </h2>
        <dd>by Screenpoint AG<br />
        <br />
        <br><br></dd>
        
      </dl>
      <dl id="footerBox1">
        <h2>Informationen:</h2>
        <dd><a href="info_customerservice.html">- Kundenservice</a><br>
        <a href="info_agb.html">- Unsere AGB's</a><br>
        <a href="info_impressum.html">- Impressum</a><br>
        </dd>
      </dl>

     <dl id="foterBox2">
        <h2>Besuchen Sie uns auf</h2>
        <dd></dd>        <a href="https://www.facebook.com/wlanbox" target="_blank" class="socialtag1">Facebook</a>
	<a class="socialtag2" target="_blank"  href="#">Google+</a>
      </dl>
</div>
    
	<div id="sitmap">
      <dd><A class="foot" href="info_agb.html">AGB's</A>&nbsp;&nbsp;|&nbsp;&nbsp;
        <A class="foot" href="info_impressum.html">Impressum</A>&nbsp;&nbsp;|&nbsp;&nbsp;
     <A class="foot" href="basket.html">Warenkorb</A>&nbsp;|&nbsp;&nbsp;
     <A class="foot" href="account.html">Mein Konto</A>&nbsp;&nbsp;|&nbsp;&nbsp;
     <A class="foot" href="contact.html">Kontakt</A>
	</dd>
	</div>
  

  </div><!-- end footer inside-->
</div><!-- end footer -->

<script type="text/javascript" src="http<%$ENV{HTTPS} ? 's' : ''%>://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.flexnav-min.js"></script>
<script type="text/javascript">
// Right Cl.
$(document).ready(function(){
$("img").bind("contextmenu",function(e){
        return false;
    });
});
</script>

<%doc>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://wp.pgate.net/zz-piwik/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "5"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->
</%doc>
