
    <meta charset="utf-8">
    <title>Bootstrap Admin</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">





    <!-- For sample logo only-->
    <!--Remove if you no longer need this font-->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Aguafina+Script">
    <!--For sample logo only-->






% # XXX    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css">
% # XXX    <script src="lib/jquery-1.7.2.min.js" type="text/javascript"></script>
% # XXX    <script src="javascripts/site.js" type="text/javascript"></script>
% # XXX	<link href="lib/datepicker/css/datepicker.css" rel="stylesheet">
    <link href="lib/colorpicker/css/colorpicker.css" rel="stylesheet">
    <link href="lib/bootstrap-toggle-buttons/static/stylesheets/bootstrap-toggle-buttons.css" rel="stylesheet">
    <link href="lib/bootstrap-timepicker/compiled/timepicker.css" rel="stylesheet">
    <link href="lib/bootstrap-formhelpers/css/bootstrap-formhelpers.css" rel="stylesheet">
    <link href="lib/bootstrap-notify/bootstrap-notify.css" rel="stylesheet">
    <link href="lib/bootstrap-notify/alert-bangtidy.css" rel="stylesheet">
    <link href="lib/bootstrap-notify/alert-blackgloss.css" rel="stylesheet">
    <link href="lib/bootstrap-spinner/bootstrap-spinner.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/isotope.css">
    
    <script src="lib/jquery.isotope.min.js"></script>
% # XXX    <script src="lib/datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="lib/colorpicker/js/bootstrap-colorpicker.js" type="text/javascript"></script>
    <script src="lib/bootstrap-toggle-buttons/static/js/jquery.toggle.buttons.js" type="text/javascript"></script>
% # XXX    <script src="lib/bootstrap-timepicker/js/bootstrap-timepicker.js" type="text/javascript"></script>
    <script src="lib/bootstrap-formhelpers/js/bootstrap-formhelpers-countries.en_US.js" type="text/javascript"></script>
    <script src="lib/bootstrap-formhelpers/js/bootstrap-formhelpers-countries.js" type="text/javascript"></script>
    <script src="lib/bootstrap-formhelpers/js/bootstrap-formhelpers-timezones.codes.js" type="text/javascript"></script>
    <script src="lib/bootstrap-formhelpers/js/bootstrap-formhelpers-timezones.js" type="text/javascript"></script>
    <script src="lib/bootstrap-formhelpers/js/bootstrap-formhelpers-languages.codes.js" type="text/javascript"></script>
    <script src="lib/bootstrap-formhelpers/js/bootstrap-formhelpers-languages.js" type="text/javascript"></script>
    <script src="lib/bootstrap-formhelpers/js/bootstrap-formhelpers-states.en_US.js" type="text/javascript"></script>
    <script src="lib/bootstrap-formhelpers/js/bootstrap-formhelpers-states.js" type="text/javascript"></script>
    <script src="lib/jquery-qrcode/jquery.qrcode.min.js" type="text/javascript"></script>
    <script src="lib/bootstrap-notify/bootstrap-notify.js" type="text/javascript"></script>
    <script src="lib/bootstrap-spinner/bootstrap-spinner.js" type="text/javascript"></script>

    <!--WYSI HTML EDITOR-->
    <link rel="stylesheet" type="text/css" href="lib/bootstrap-wysihtml5/dist/bootstrap-wysihtml5-0.0.2.css">
    <script src="lib/bootstrap-wysihtml5/lib/js/wysihtml5-0.3.0.js"></script>
    <script src="lib/bootstrap-wysihtml5/dist/bootstrap-wysihtml5-0.0.2.min.js"></script>

    <style type="text/css">
% # XXX	h2 { margin-top: 2em; }
	#dropdown-buttons .btn-group:first-child { margin-left: 0px; }
	#dropdown-buttons .btn-group { margin-left: 31px; }
	#dropdown-buttons2 .btn-group:first-child { margin-left: 0px; }
	#dropdown-buttons2 .btn-group { margin-left: 18px; }
	.sample-buttons .btn-group {
	    width: 115px;
	    height: 40px;
	    margin: 0em;
	}
	.filter-demo-item {
	    float: left;
	    width: 50px;
	    height: 50px;
	    margin: .5em;
	    background: #667;
	}
	.loading {
	    margin-right: .25em;
	}
    </style>


    <script type="text/javascript">
	$(function() {
<%doc>
	XXX:
	    $('.datepicker').datepicker();
	    $('.timepicker').timepicker();
	    $('.color').colorpicker();
	    $('.popover-btn').popover();
	    $('#MySpinner').spinner();
	    $('#some-textarea').wysihtml5({"stylesheets": ["lib/bootstrap-wysihtml5/lib/css/wysiwyg-color.css"]});
	    $('#qrcode').qrcode({render: 'table', width: 96,height: 96,text: "Hope you like the theme!"});
	/XXX
</%doc>
	    $('#warning-toggle-button').toggleButtons({
		style: {
		    enabled: "warning",
		    disabled: "danger"
		}
	    });



	    $('#danger-toggle-button').toggleButtons({
		style: {
		    enabled: "danger",
		    disabled: "info"
		}
	    });


	    $('#info-toggle-button').toggleButtons({
		style: {
		    enabled: "info",
		    disabled: "success"
		}
	    });


	    $('#success-toggle-button').toggleButtons({
		style: {
		    enabled: "success",
		    disabled: "warning"
		}
	    });



	    // Random Messages
	    var messages = [
	      [ 'bottom-right', 'success',     "What's up? This is a message." ],
	      [ 'bottom-right', 'info',     "What's up? This is a message."],
	      [ 'top-right',    'inverse',  "What's up? This is a message." ],
	      [ 'top-right',    'success',  "What's up? This is a message." ],
	      [ 'top-right',  'danger',   "What's up? This is a message." ],
	      [ 'bottom-left',  'warning',  "What's up? This is a message." ],
	      [ 'bottom-left', 'info',     "What's up? This is a message." ],
	      [ 'bottom-left',    'success',  "What's up? This is a message." ],
	    ];

	    $('.show-notification').click(function (e) {
		var message = messages[Math.floor(Math.random() * messages.length)];
	      
		$('.' + message[0]).notify({
		    message: { text: message[2] },
		    type: message[1]
		}).show();
	    });

	    $('#filter-demo').isotope();

	    fancyFilter('.filter', '#filter-demo');
	}); //<--document.ready
    </script>

    <link rel="stylesheet" type="text/css" href="stylesheets/my_theme.css">


    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">

