<%init>
	my %args = $m->caller_args(0);
	my $UINF = $args{UINF};
	# XXX my $newsletter = $args{newsletter};
</%init>
<table class='mytable table-hover'>

<tr>
<th style='border-right-style:solid; border-color:#cfcfd6; width:111px'>First Name</th>
<td><input type=text name=firstname style='margin-top:10px' value="<%$UINF->{firstname}%>"></td>
</tr>

<tr>
<th style='border-right-style:solid; border-color:#cfcfd6; width:111px'>Last Name</th>
<td><input type=text name=lastname style='margin-top:10px' value="<%$UINF->{lastname}%>"></td>
</tr>

<tr>
<th style='border-right-style:solid; border-color:#cfcfd6;'>Company</th>
<td><input type=text name=company_1 style='margin-top:10px; width:205px' value="<%$UINF->{company}%>">
% if ($UINF->{company}) {
	&middot; <a href="customers.html?company_from=<%$UINF->{uname}%>">Same Company</a>
% }
</td>
</tr>

<tr>
<th style='border-right-style:solid; border-color:#cfcfd6; widtx:111px'>DOB</th>
<td><input type=text name=dob style='margin-top:10px; width:78px' value="<%$UINF->{dob}%>"></td>
</tr>

<tr>
<th style='border-right-style:solid; border-color:#cfcfd6;'>E-Mail</th>
<td><input type=text name=email style='margin-top:10px; width:333px' value="<%$UINF->{email}%>"></td>
</tr>

<tr>
<th style='border-right-style:solid; border-color:#cfcfd6;'>Language Code</th>
<td><input type=text name=lang style='margin-top:10px; width:50px' value="<%$UINF->{lang} || 'de'%>"></td>
</tr>

</table>

% foreach (sort keys %{$UINF}) {
% # XXX	XX <%$_%> = <%$UINF->{$_}%><br>
% }
<%doc>
	__METACLONING__
</%doc>
