<%doc>
== STOP ================================================= STOP ==

	Screen Point AG

	Core function! Never touch this!

== STOP ================================================= STOP ==
</%doc>
%
<br>

<form method=post name=form0 action='authen.html'>

<table align=center border=0 cellspacing=0 cellpadding=3 style='font-size:13px'>

<tr><td>Username:&nbsp;&nbsp;</td>
<td><input type=text name=user value=''>
</td></tr>

<tr><td>Passwort:</td>
<td><input type=password name=pass value=''>
</td></tr>

<tr style='font-size:10px'><td></td>
<td><input id="LoginKeepLoggedIn" class="chbox" type="checkbox" name="stay_logged_in" value="1"> Eingelogged bleiben
</td></tr>

<tr><td></td>
<td><input type=submit value='Login' style='font-weight:bold; font-size:12px'>
</td></tr>

</table><br>

</form>

<script language=JavaScript>
	document.form0.user.focus();
</script>

<br>
<a target='_blank' href='http://www.screenpoint.biz/programmierung/contact.html'><small class='admin_text'>Hilfe / Support</small></a>
