<%init>
	my %args = $m->caller_args(0);
	my $C = $args{C};
	my $A = $args{A};

	my $order_id = $C->getSessData('order_id');
	$C->del_sess_key('order_id'); # -- Last chance to cleanup order_id in this session

	my $lang = $C->getSessData('_current_lang') || 'de';

	my $ship_meth = $C->getSessData('ship_meth');
	my $ship_meth_amount = sprintf('%.2f', $C->{CONFIG}->{"ship_$ship_meth"} * (1 + $C->{CONFIG}->{vat} / 100));

	my $order_inf = $A->get_order($order_id);
	my $total = $order_inf->{amount_incl_vat};
	   $total = sprintf('%.2f', $total); # -- important for Payment GW to prevent loosing trailing zeroes

	(my $total_no_dot = $total) =~ tr/\.//d;

	$C->{dbh}->do("UPDATE orders SET pay_meth=4 WHERE id=$order_id"); # -- Override if started with other pay_meth

	$C->del_sess_key('order_id');
	$A->empty_basket();
</%init>
 <div id="checkout_kk" class="clearfix">
      <div class="checkoutStatus">
        <UL>
          <LI><span class="number">1</span>Einkauf abschliessen</LI>
          <LI><span class="number">2</span>Übersicht</LI>
          <LI><span class="numberOn">3</span>Zahlung</LI>
          <LI><span class="number">4</span>Bestätigung</LI>
        </ul>
      </div>
      <!--checkoutStatus -->
<div class="checkoutText"> <h5><% $C->p('order') %> <% sprintf('%08d', $order_id) %></h5><br />

</div>

<h3>PayPal Zahlung</h3><br>

Sie werden zu PayPal umgeletet. Bitte warten oder auf &lsaquo;Zahlen&rsaquo; dr&uuml;cken.<br><br>

<%doc>
@ Patrick: Diesen Schritt auslassen und direkte Umleitung zu PayPal - OK?<br />
<br />

@ Reto: genau hier kann direkt zu Paypal umgeleitet werden, nach erfolgreicher Zahlung
zurück auf die Bestell Bestätigungs Seite
</%doc>

<%doc>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="G6TS63UDSPNJQ">
<input type="hidden" name="currency_code" value="CHF">
<br clear='all' /><br>
<input type='hidden' name='sp_foo' value='bar'>

<input type="image" src="https://www.paypal.com/de_DE/CH/i/btn/btn_paynowCC_LG.gif" border="0" name="submit"
	alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">

<img alt="" border="0" src="https://www.paypal.com/de_DE/i/scr/pixel.gif" width="1" height="1">
</form>
<hr>
</%doc>


<form name="ccform" action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="locale.x" value="de_DE"> <!-- de_DE / fr_FR / en_US -->
<input type="hidden" name="cmd" value="_xclick" />
% # -- <input type="hidden" name="business" value="hostmaster@screenpoint.ch" />
<input type="hidden" name="business" value="<%$C->{CONFIG}->{paypal_merchant_id}%>" />

<input type="hidden" name="item_name" value="<%$C->{CONFIG}->{paypal_item_name}%>" />
<input type="hidden" name="amount" value="<%$total%>" /> <!-- e.g. 43.45 -->
<!-- XX input type="hidden" name="shipping" value="0.00" / -->
	<input type="hidden" name="currency_code" value="CHF" />
<input type="hidden" name="invoice" value="<%$order_id%>">
	<input type="hidden" name="custom" value="first_name last_name">

<input type="hidden" name="return"        value="http<%$ENV{HTTPS} ? 's' : ''%>://<%$C->{CONFIG}->{HTTP_HOST}%>/" />
<input type="hidden" name="cancel_return" value="http<%$ENV{HTTPS} ? 's' : ''%>://<%$C->{CONFIG}->{HTTP_HOST}%>/" />

<input type="hidden" name="notify_url" value="http<%$ENV{HTTPS} ? 's' : ''%>://<%$C->{CONFIG}->{HTTP_HOST}%>/cgi-bin/paypal-return.cgi" />

% # -- <input type="submit" value="Bitte warten / Please wait ..." style="font-size:xx-small;border-color:black;border-width=1;">
<input class='blu_btn' type=submit value="Zahlen">
</form>

<script language=JavaScript>
	var updateDiv = function () {
		document.ccform.submit();
	}
	var myTimer = window.setTimeout(updateDiv, 3000);
</script>

</div> <!-- end checkout --> 

% if ($C->is_devel()) {
	<&debug.html, CORE=>$C, A=>$A&>
% }
