<div class="nav-button">Menu</div>
<nav>
<ul id="nav" role="navigation">


		<div class='menu-button'>DVDs und Blu-Rays</div>
		<div id="box" class="kategorie-box">
		<li class="top-level item-with-ul"><a class="link-with-ul"
			href="#">DVDs (<span class="numberMenu">7</span>)</a>
		<ul class="sub-menu">
		<li><a href="category.html?id=959">Horror (2)</a></li>
		</ul>
		<ul class="sub-menu">
		<li><a href="category.html?id=961">Diverse Filme (1)</a></li>
		</ul>
		<ul class="sub-menu">
		<li><a href="category.html?id=962">Cartoon (1)</a></li>
		</ul>
		<ul class="sub-menu">
		<li><a href="category.html?id=960">Science Fiction (2)</a></li>
		</ul>
		<ul class="sub-menu">
		<li><a href="category.html?id=956">Thriller (1)</a></li>
		</ul>
		</li>
	</div><!-- end kategorie-box -->

		<div class='menu-button1'>Informationen</div>
		<div id="box1" class="kategorie-box1">
		<li class="top-level item-with-ul"><a class="link-with-ul"
			href="#">Inhalte (<span class="numberMenu">1</span>)</a>
		<ul class="sub-menu">
		<li><a href="category.html?id=971">Allgemein (1)</a></li>
		</ul>
		</li>
	</div><!-- end kategorie-box -->

		<div class='menu-button2'>CDs & Vinyl</div>
		<div id="box2" class="kategorie-box2">
		<li class="top-level item-with-ul"><a class="link-with-ul"
			href="#">Vinyl (<span class="numberMenu">3</span>)</a>
		<ul class="sub-menu">
		<li><a href="category.html?id=965">Elektronisch Musik (3)</a></li>
		</ul>
		</li>
	</div><!-- end kategorie-box -->

		<div class='menu-button3'>Gutscheine</div>
		<div id="box3" class="kategorie-box3">
		<li class="top-level item-with-ul"><a class="link-with-ul"
			href="#">Geschenkgutscheine (<span class="numberMenu">0</span>)</a>
		<ul class="sub-menu">
		<li><a href="category.html?id=941">CHF 20.- (0)</a></li>
		</ul>
		</li>
	</div><!-- end kategorie-box -->

		<div class='menu-button4'>AKTIONEN</div>
		<div id="box4" class="kategorie-box4">
		<li class="top-level item-with-ul"><a class="link-with-ul"
			href="#">Filme (<span class="numberMenu">1</span>)</a>
		<ul class="sub-menu">
		<li><a href="category.html?id=958">Diverse Filme (1)</a></li>
		</ul>
		<li class="top-level item-with-ul"><a class="link-with-ul"
			href="#">Et cetera (<span class="numberMenu">3</span>)</a>
		<ul class="sub-menu">
		<li><a href="category.html?id=967">Tech Gadgets (1)</a></li>
		</ul>
		<ul class="sub-menu">
		<li><a href="category.html?id=968">Spirituosen (2)</a></li>
		</ul>
		</li>
		</div>
</ul>
</nav>


