<nav>
<ul id="nav" role="navigation">


		<div class='menu-button'>DVDs und Blu-Rays</div>
		<div id="box" class="kategorie-box">
		<li class="top-level item-with-ul"><a class="link-with-ul"
			href="#">DVDs (<span class="numberMenu">4</span>)</a>
		<ul class="sub-menu">
		<li><a href="category.html?id=959">Horror (2)</a></li>
		</ul>
		<ul class="sub-menu">
		<li><a href="category.html?id=961">Diverse Filme (1)</a></li>
		</ul>
		<ul class="sub-menu">
		<li><a href="category.html?id=962">Cartoon (0)</a></li>
		</ul>
		<ul class="sub-menu">
		<li><a href="category.html?id=960">Science Fiction (1)</a></li>
		</ul>
		<ul class="sub-menu">
		<li><a href="category.html?id=956">Thriller (0)</a></li>
		</ul>
		</li>
	</div><!-- end kategorie-box -->

		<div class='menu-button1'>CDs & Vinyl</div>
		<div id="box1" class="kategorie-box1">
		<li class="top-level item-with-ul"><a class="link-with-ul"
			href="#">Vinyl (<span class="numberMenu">3</span>)</a>
		<ul class="sub-menu">
		<li><a href="category.html?id=965">Elektronisch Musik (3)</a></li>
		</ul>
		</li>
	</div><!-- end kategorie-box -->

		<div class='menu-button2'>Gutscheine</div>
		<div id="box2" class="kategorie-box2">
		<li class="top-level item-with-ul"><a class="link-with-ul"
			href="#">Geschenkgutscheine (<span class="numberMenu">0</span>)</a>
		<ul class="sub-menu">
		<li><a href="category.html?id=941">CHF 20.- (0)</a></li>
		</ul>
		</li>
	</div><!-- end kategorie-box -->

		<div class='menu-button3'>AKTIONEN</div>
		<div id="box3" class="kategorie-box3">
		<li class="top-level item-with-ul"><a class="link-with-ul"
			href="#">Filme (<span class="numberMenu">2</span>)</a>
		<ul class="sub-menu">
		<li><a href="category.html?id=958">Diverse Filme (2)</a></li>
		</ul>
		<li class="top-level item-with-ul"><a class="link-with-ul"
			href="#">Etc. (<span class="numberMenu">1</span>)</a>
		<ul class="sub-menu">
		<li><a href="category.html?id=967">Et cetera (1)</a></li>
		</ul>
		</li>
		</div>
</ul>
</nav>


