<%init>
	my %args = $m->caller_args(0);
	my $C = $args{C};
</%init>
<nav>
<ul id="nav" role="navigation">
		    
	<div class='menu-button'>Kontaktlinsen</div>	
	<div id="box" class="kategorie-box">
	<li class="top-level item-with-ul"><a class="link-with-ul" href="categ.html?id=101">Tageslinsen (<span class="numberMenu">10</span>)</a>
			<ul class="sub-menu">
				<li><a href="#content">Acuvue</a></li>
				<li><a href="">Bioclear</a></li>
				<li><a href="">Biomedics</a></li>
				<li><a href="">Contact Day</a></li>
				<li><a href="">Daysoft</a></li>
			</ul>
		</li>

	<li class="top-level item-with-ul"><a class="link-with-ul" href="#">Wochenlinsen (<span class="numberMenu">30</span>)</a>
			<ul class="sub-menu">
				<li><a href="">Sub 1 Item #1</a></li>
				<li><a href="">Sub 1 Item #2</a></li>
				<li><a href="">Sub 1 Item #3</a></li>
				<li><a href="">Sub 1 Item #4</a></li>
			</ul>
		</li>

	<li class="top-level"><a href="">Multifunktionllinsen(<span class="numberMenu">100</span>)</a></li>

	<li class="top-level item-with-ul"><a class="link-with-ul" href="#">Monatslinsen(<span class="numberMenu">130</span>)</a>
			<ul class="sub-menu">
				<li><a href="">Sub 1 Item #1</a></li>
				<li><a href="">Sub 1 Item #1</a></li>
				<li><a href="">Sub 1 Item #1</a></li>
			</ul>
		</li>
     <li class="top-level item-with-ul"><a class="link-with-ul" href="#">14-Tageslinsen(<span class="numberMenu">130</span>)</a>
			<ul class="sub-menu">
				<li><a href="">Sub 1 Item #1</a></li>
				<li><a href="">Sub 1 Item #1</a></li>
				<li><a href="">Sub 1 Item #1</a></li>
			</ul>
		</li>
	    </div><!-- end kategorie-box -->
	    
	    <div class='menu-button1'>Zubehör</div>	
		
			<div id="box1" class="kategorie-box">
    <li class="top-level item-with-ul"><a class="link-with-ul" href="#">Linsenbehaelter (<span class="numberMenu">10</span>)</a>
			<ul class="sub-menu">
				<li><a href="#content">Sub 1 Item #1</a></li>
				<li><a href="">Sub 1 Item #2</a></li>
				<li><a href="">Sub 1 Item #3</a></li>
				<li><a href="">Sub 1 Item #4</a></li>
			</ul>
		</li>

	<li class="top-level item-with-ul"><a class="link-with-ul" href="#">Augentropfen (<span class="numberMenu">30</span>)</a>
			<ul class="sub-menu">
				<li><a href="">Sub 1 Item #1</a></li>
				<li><a href="">Sub 1 Item #2</a></li>
				<li><a href="">Sub 1 Item #3</a></li>
			</ul>
		</li>

	<li class="top-level"><a href="">Accessories(<span class="numberMenu">100</span>)</a></li>
	
	<li class="top-level item-with-ul"><a class="link-with-ul" href="#">Gutscheine(<span class="numberMenu">130</span>)</a>
			<ul class="sub-menu">
				<li><a href="">Sub 1 Item #1</a></li>
				<li><a href="">Sub 1 Item #1</a></li>
				<li><a href="">Sub 1 Item #1</a></li>
			</ul>
	</li>
</div><!-- end kategorie-box1 -->

 <div class='menu-button2'>Nützliches</div>	
		
	<div id="box2" class="kategorie-box">
    <li class="top-level item-with-ul"><a class="link-with-ul" href="#">Linsenbehaelter (<span class="numberMenu">10</span>)</a>
			<ul class="sub-menu">
				<li><a href="#content">Sub 1 Item #1</a></li>
				<li><a href="">Sub 1 Item #2</a></li>
				<li><a href="">Sub 1 Item #3</a></li>
				<li><a href="">Sub 1 Item #4</a></li>
			</ul>
		</li>

	<li class="top-level item-with-ul"><a class="link-with-ul" href="#">Augentropfen (<span class="numberMenu">30</span>)</a>
			<ul class="sub-menu">
				<li><a href="">Sub 1 Item #1</a></li>
				<li><a href="">Sub 1 Item #2</a></li>
				<li><a href="">Sub 1 Item #3</a></li>
			</ul>
		</li>

	<li class="top-level"><a href="">Accessories(<span class="numberMenu">100</span>)</a></li>				
		
	<li class="top-level item-with-ul"><a class="link-with-ul" href="#">Gutscheine(<span class="numberMenu">130</span>)</a>
			<ul class="sub-menu">
				<li><a href="">Sub 1 Item #1</a></li>
				<li><a href="">Sub 1 Item #1</a></li>
				<li><a href="">Sub 1 Item #1</a></li>
			</ul>
		</li>
</div><!-- end box2 -->

</ul>
</nav>
