<%init>
	my %s = %HTML::Mason::Commands::session;

	my $C = $s{C};
	my $A = $s{A};
	my $perm = $s{perm};
	my $debug = $s{debug};
</%init>
<div class="float-end mr-3">
	<a href="/adx/show.html?macro=products-export&bExport=1<% $debug ? "&debug=$debug" : '' %>" class="btn btn-sm btn-primary mb-0 w--150">
		<i class="fi fi-arrow-download m-0-md"></i>
			<span class="d-none d-lg-inline-block">Export</span>
	</a>

	<a href="/adx/show.html?macro=products-export&x_extra=1&bExport=1<% $debug ? "&debug=$debug" : '' %>" class="btn btn-sm btn-primary mb-0 w--180">
		<i class="fi fi-arrow-download m-0-md"></i>
			<span class="d-none d-lg-inline-block">Export NEW</span>
	</a>

	<a href="/adx/dev-edi-parse-order.html" class="btn btn-sm btn-secondary mb-0 w--200">
		<i class="fi fi-cart-3 m-0-md"></i>
			<span class="d-none d-lg-inline-block">Parse EDI Order</span>
	</a>

% #	<% ${ $A->modal( label=>'Export durchf&uuml;hren',
% #		url=>"/adx/_ajax/modal_export_products.html?id=4321&css_id=402171_19&debug=$s{debug}", css_id=>'402171_19') } %>

%	if ($s{debug}) {
<%perl>
	my @env = ();
	foreach (sort keys %s) {
		next if $_ eq 'C' or $_ eq 'comp_file' or $_ eq 'dir' or $_ eq 'theme' or $_ eq 'check_env' or $_ eq 'call_src';
		next unless length($s{$_});
		push(@env, qq~<b class="ml-3">$_</b>=<code>$s{$_}</code>~);
	}
	$m->out(join ' ', @env);
</%perl>
%	}
</div>

<div class="mt-3">
	<a href="/adm_log.html?importance=4&filter=galaxus_orders_dg2partner&debug=1">Job Log</a> &ndash;
%	if ($perm->{is_devel}) {
		<a href="/adx/show.html?macro=prism_sys_jobs&q=edi">Auto Jobs</a> &ndash;
		<a href="/adx/show.html?macro=work_table&q=edi\\_">Work Values</a> &ndash;
		[ Debug <a href="/adx/show.html?macro=products-export&debug=2">2</a> | <a href="/adx/show.html?macro=products-export">off</a> ] &ndash;
%	}
	<a target="_new" href="https://www.galaxus.ch/de/marketplace/swiss-solution-group-10391065">Partner-Shop @ Galaxus</a> &ndash;
	<a target="_new" href="https://drive.google.com/file/d/1_Ed_zJdDvL7YbgNFf6ZcQC7S0oF93ezz/view?usp=sharing">Muster-Lieferschein</a>
</div>
