<%init>
	my %args = $m->caller_args(0);

	my $C        = $args{C};
	my $A        = $args{A};
	my $order_id = $args{order_id};
	my $debug    = $args{debug};

	my $macro = $C->exec(comp_file=>'_foo.html', xfoo=>"bar$$", dir=>'macros', call_src=>$0);

	my $odat      = $A->get_order_prepare(order_id=>$order_id, debug=>1);
	my $get_ordr  = $A->get_order($order_id);
</%init>
<%doc>
<div class="portlet-header border-bottom">
	<span>Foo Sub Title</span>
</div>
</%doc>

<div class="portlet-body">

	<div class="float-end w--200">
		<& inc_select_redir_405141.html, this=>$C->this(), order_id=>$order_id &>
	</div>

	<p class="float-end">Get <a href="dev-get-order.html?order-id=<% $order_id %>">Order-ID <% $order_id %></a></p>

	<p>
		<a href="dev-get-order-items.html?order-id=<% $order_id %>">get_order_items()</a> &mdash;
		<a href="dev-get-order-stmt.html?order-id=<% $order_id %>">get_order_stmt()</a> &mdash;
		Gehe zu <a href="/admix.html?func=orders&id=<% $order_id %>">Order-ID <% $order_id %></a>
	</p>

	<h4 class="fs--20">get_order_positions( )</h4>
	<table class="table table-sm col-8 table-hover">
%	while(my $row = $A->get_order_positions()) {
		<tr>
		<td colspan="2">
			<span class="float-end pr--10">
				Art Nr. <% $row->{art_no} %>
			</span>
			<% $row->{count} %> &times; <a href="/adm_edit_product.html?id=<% $row->{prod_id} %>"><b><% $row->{title} %></b></a>
		</td>
		</tr>
%		foreach (sort keys %{$row}) {
%			next unless length($row->{$_});
%			next if $_ eq 'title' or $_ eq 'version' or $_ eq 'count' or $_ eq 'prod_id' or $_ eq 'position' or $_ eq 'art_no';
%			next if $_ eq 'campaign_id' && !$row->{$_};
			<tr>
			<td class="text-dark" style="width:38%"><% $_ %></td>
			<td class="pr--20" nowrap>
				<span class="float-end">
%				if ($_ eq 'id') {
					<a href="/adm_db_edit.html?table=orders_products&wcl=id%3D<% $row->{$_} %>"><code
							class="font-weight-bold"><% $row->{$_} %></code></a>
%				}
%				else {
					<code class="font-weight-bold"><% $row->{$_} %></code>
%				}
				</span>
			</td>
			</tr>
%		}
		<tr style="background-color:white !important"><td colspan="2">&nbsp;</td></tr>
%	}
	</table>

	<h4 class="fs--20">$A-&gt;get_order( <% $order_id %> )</h4>
	<table class="table table-sm col-8 table-hover">
%	foreach (sort keys %{ $get_ordr }) {
		<tr>
		<td><% $_ %></td><td><% $get_ordr->{$_} %></td>
		</tr>
%	}
	</table>

	<p class="mt-3">Siehe auch <a href="https://docs.ch2.be/w/publigate/get_order_positions">$A-&gt;get_order_positions()</a> (Wiki)</p>

	<p>Output von Makro <code>custom/<% $C->{CONFIG}->{theme} %>/macros/_foo.html</code>:</p>
	<div class="alert alert-info">
		<% $macro->{out} %>
	</div>

</div>
