<%init>
	my %args = $m->caller_args(0);

	my $C      = $args{C};
	my $id     = $args{id} + 0;
	my $det_id = $args{det_id} + 0;

	my $assigned = $C->query("SELECT COUNT(*) FROM products_feat WHERE featkey='_o$id'")->[0];
	my $ass_prod = $C->query("SELECT product_id FROM products_feat WHERE featkey='_o$id'")->[0];
	my $info = $assigned ? qq~ &rarr; <a href='edit-product.html?id=$ass_prod'>$ass_prod</a>~ : '';
</%init>
<a href="#" class="btn btn-sm btn-light rounded-circle mt--n5 mb--n5" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
	<span class="group-icon">
		<i class="fi fi-dots-vertical-full"></i>
		<i class="fi fi-close"></i>
	</span>
</a>

<div class="dropdown-menu dropdown-menu-clean dropdown-click-ignore max-w-220">
		
	<div class="scrollable-vertical max-h-50vh">
		<a class="dropdown-item text-truncate" href="#">
			<i class="fi fi-dots-vertical"></i>&Auml;ndern
		</a>

<%doc>
		<a class="dropdown-item text-truncate" href="/adm_db_edit.html?table=options_details&wcl=id%3D<% $det_id %>">
			<i class="fi fi-pencil"></i>
			Edit : Auswahl
		</a>
</%doc>

		<a href="#" class="dropdown-item text-truncate js-ajax-modal"
		        data-href="/_ajax/modal_edit_prodopt.html?id=<% $id %>&det_id=<% $det_id %>"
                		data-ajax-modal-size="modal-xl"
		                data-ajax-modal-centered="true"
		                ZZdata-ajax-modal-backdrop="static">
				<i class="fi fi-pencil"></i>
				Option Editieren
		</a>

		<a href="#" class="dropdown-item text-truncate js-ajax-confirm" 
			data-href="/_systex/common_lib/prodopt.html?id=<% $id %>&det_id=<% $det_id %>&action=set_active"
			data-ajax-confirm-method="GET" 
			data-ajax-confirm-mode="ajax" 
			data-ajax-confirm-size="modal-md" 
			data-ajax-confirm-centered="false" 
			data-ajax-confirm-callback-function="f401071_callback" 
			data-ajax-confirm-title="Bitte best&auml;tigen" 
			data-ajax-confirm-body="Diese Option aktivieren?"
			data-ajax-confirm-btn-yes-text="Best&auml;tigen" 
			data-ajax-confirm-btn-yes-class="btn-sm btn-success" 
			data-ajax-confirm-btn-yes-icon="fi fi-check" 
			data-ajax-confirm-btn-no-text="Cancel" 
			data-ajax-confirm-btn-no-class="btn-sm btn-light" 
			data-ajax-confirm-btn-no-icon="fi fi-close">
			<i class="fi fi-check"></i>
			Set : Active
		</a>
		<a href="#" class="dropdown-item text-truncate js-ajax-confirm" 
			data-href="/_systex/common_lib/prodopt.html?id=<% $id %>&det_id=<% $det_id %>&action=set_inactive"
			data-ajax-confirm-method="GET" 
			data-ajax-confirm-mode="ajax" 
			data-ajax-confirm-size="modal-md" 
			data-ajax-confirm-centered="false" 
			data-ajax-confirm-callback-function="f401071_callback" 
			data-ajax-confirm-title="Please Confirm" 
			data-ajax-confirm-body="Are you sure? Set this product to inactive?" 
			data-ajax-confirm-btn-yes-text="Confirm" 
			data-ajax-confirm-btn-yes-class="btn-sm btn-warning" 
			data-ajax-confirm-btn-yes-icon="fi fi-check" 
			data-ajax-confirm-btn-no-text="Cancel" 
			data-ajax-confirm-btn-no-class="btn-sm btn-light" 
			data-ajax-confirm-btn-no-icon="fi fi-close">
			<i class="fi fi-close"></i>
			Set : Inactive
		</a>

		<!--
		The request is sent by ajax to data-href="..."
		To change to regular submit, change:
		data-ajax-confirm-mode="regular" 	(or simply remove this param)
		-->
		
		<a href="#" class="dropdown-item text-truncate js-ajax-confirm" 
			data-href="/_systex/common_lib/prodopt.html?id=<% $id %>&action=del_opt"
			data-ajax-confirm-method="GET" 
			data-ajax-confirm-mode="ajax" 
			data-ajax-confirm-size="modal-md" 
			data-ajax-confirm-centered="false" 
			data-ajax-confirm-callback-function="f401071_callback" 
			data-ajax-confirm-title="L&ouml;schung Option-ID <% $id %>"
			data-ajax-confirm-body="Sind Sie sicher? Diese L&ouml;schung ist dauerhaft!<br><br>Anzahl Zuweisungen: <% $assigned %><% $info %>"
			data-ajax-confirm-btn-yes-text="L&ouml;schen" 
			data-ajax-confirm-btn-yes-class="btn-sm btn-danger" 
			data-ajax-confirm-btn-yes-icon="fi fi-check" 
			data-ajax-confirm-btn-no-text="Abbrechen" 
			data-ajax-confirm-btn-no-class="btn-sm btn-light" 
			data-ajax-confirm-btn-no-icon="fi fi-close">
			<i class="fi fi-thrash text-danger"></i> L&ouml;schen
		</a>

		</div>
</div>

