<%init>
	my %args = $m->caller_args(0);

	my $C     = $args{C};
	my $perm  = $args{perm};
	my $debug = $args{debug};
</%init>
<ul class="nav flex-column">

<li class="nav-item active">
	<a class="nav-link js-ajax" href="."><i class="fi fi-menu-dots"></i><b>Dashboard</b></a>
</li>

% if ($perm->{is_devel}) {
<li class="nav-item">
	<a class="nav-link" href="#">
		<span class="group-icon	float-end">
			<i class="fi fi-arrow-end-slim"></i>
			<i class="fi fi-arrow-down-slim"></i>
		</span>
		<i class="fi fi-code"></i><span class="badge badge-warning float-end fs--11 mt-1">new</span>
		Components
	</a>

	<ul class="nav flex-column">
		<li class="nav-item"><a class="nav-link js-ajax" href="components-alerts.html">Alerts</a></li>
		<li class="nav-item"><a class="nav-link js-ajax" href="components-accordions.html">Accordions</a></li>
		<li class="nav-item"><a class="nav-link js-ajax" href="components-badges.html">Badges</a></li>
		<li class="nav-item"><a class="nav-link js-ajax" href="components-breadcrumbs.html">Breadcrumbs</a></li>
		<li class="nav-item"><a class="nav-link js-ajax" href="components-buttons.html">Buttons</a></li>
		<li class="nav-item"><a class="nav-link js-ajax" href="components-cards.html">Cards</a></li>
		<li class="nav-item"><a class="nav-link js-ajax" href="components-carousel.html">Carousel</a></li>
		<li class="nav-item"><a class="nav-link js-ajax" href="components-collapse.html">Collapse</a></li>
		<li class="nav-item"><a class="nav-link js-ajax" href="components-dropdowns.html">Dropdowns</a></li>
		<li class="nav-item"><a class="nav-link js-ajax" href="components-forms.html">Forms</a></li>
		<li class="nav-item"><a class="nav-link js-ajax" href="components-icons.html">Icons</a></li>
		<li class="nav-item"><a class="nav-link js-ajax" href="components-lists.html">Lists</a></li>
		<li class="nav-item"><a class="nav-link js-ajax" href="components-media.html">Media</a></li>
		<li class="nav-item"><a class="nav-link js-ajax" href="components-modals.html">Modals</a></li>
		<li class="nav-item"><a class="nav-link js-ajax" href="components-navs.html">Navs</a></li>
		<li class="nav-item"><a class="nav-link js-ajax" href="components-navigation.html">Navigation</a></li>
		<li class="nav-item"><a class="nav-link js-ajax" href="components-pagination.html">Pagination</a></li>
		<li class="nav-item"><a class="nav-link js-ajax" href="components-progress.html">Progress</a></li>
		<li class="nav-item"><a class="nav-link js-ajax" href="components-popover.html">Popover</a></li>
		<li class="nav-item"><a class="nav-link js-ajax" href="components-scrollspy.html">Scrollspy</a></li>
		<li class="nav-item"><a class="nav-link js-ajax" href="components-spinners.html">Spinners</a></li>
		<li class="nav-item"><a class="nav-link js-ajax" href="components-tabs.html">Tabs</a></li>
		<li class="nav-item"><a class="nav-link js-ajax" href="components-tables.html">Tables</a></li>
		<li class="nav-item"><a class="nav-link js-ajax" href="components-timeline.html">Timeline</a></li>
		<li class="nav-item"><a class="nav-link js-ajax" href="components-thumbnails.html">Thumbnails</a></li>
		<li class="nav-item"><a class="nav-link js-ajax" href="components-tooltip.html">Tooltip</a></li>
		<li class="nav-item"><a class="nav-link js-ajax" href="components-typography.html">Typography</a></li>
	</ul>
</li>
% }

% ## =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
<li class="nav-item">
	<a class="nav-link" href="#">
		<span class="group-icon	float-end">
			<i class="fi fi-arrow-end-slim"></i>
			<i class="fi fi-arrow-down-slim"></i>
		</span>
		<span class="badge opacity-2 font-weight-light float-end fs--11	mt-1">Adm</span>
		<i class="fi fi-cart-5"></i>Produkte
	</a>
	<ul class="nav flex-column">
	<li class="nav-item"><a class="nav-link js-ajax" href="products">Liste</a></li>
	<li class="nav-item"><a class="nav-link js-ajax" href="options">Optionen, Upselling</a></li>
	</ul>
</li>
% ## =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

<li class="nav-item">
	<a class="nav-link" href="#">
		<span class="group-icon	float-end">
			<i class="fi fi-arrow-end-slim"></i>
			<i class="fi fi-arrow-down-slim"></i>
		</span>
		<i class="fi fi-mollecules"></i>Newsletter : Versand
	</a>

	<ul class="nav flex-column">
		<li class="nav-item"><!-- 25Jan2024 -->
			<a class="nav-link" href="/adm_newsletter.html">
				<span class="badge float-end font-weight-light mt--3 text-gray-400">Liste</span>
				&Uuml;bersicht
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link ZZjs-ajax" href="newsletter.html">
% #				<span class="badge float-end font-weight-light mt--3 text-gray-400">9Kb</span>
				Bearbeiten
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="nl-edit.html">
				<span class="badge float-end font-weight-light mt--3 text-gray-400">Neu</span>
				Bearbeiten 2
			</a>
		</li>
<%doc>
XXX:
/XXX
</%doc>
	</ul>
</li>

% # =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
<li class="nav-item">
	<a class="nav-link XXXjs-ajax" href="/adm_hiddenshop.html"><i class="fi fi-menu-dots"></i>Pro-Zone</a>
</li>

% # =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
<li class="nav-item">
	<a class="nav-link" href="#">
		<span class="group-icon	float-end">
			<i class="fi fi-arrow-end-slim"></i>
			<i class="fi fi-arrow-down-slim"></i>
		</span>
		<span class="badge opacity-2 font-weight-light float-end fs--11	mt-1">Sys</span>
		<i class="fi fi-shape-star"></i>Konfiguration
	</a>

	<ul class="nav flex-column">
	<li class="nav-item"><a class="nav-link js-ajax" href="config.html">Allgemein</a></li>
	<li class="nav-item"><a class="nav-link XXjs-ajax" href="/adm_mail_tpl.html">E-Mail Templates</a></li>
	<li class="nav-item"><a class="nav-link js-ajax" href="payment.html">Payment-Einstellungen</a></li>
	<li class="nav-item"><a class="nav-link js-ajax" href="custom-layout.html">Layout</a></li>
	<li class="nav-item"><a class="nav-link XXjs-ajax" href="/adx/forward-message.html">E-Mail-Versand</a></li>
	<li class="nav-item"><a class="nav-link XXjs-ajax" href="/adm_masterdata.html?pane=3">E-Mail-Versand (L)</a></li>
%	if ($perm->{is_devel}) {
		<li class="nav-item"><a class="nav-link js-ajax" href="config-dev.html">Devel</a></li>
%	}
	</ul>
</li>

% # =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
<li class="nav-item">
	<a class="nav-link" href="#">
		<span class="group-icon	float-end">
			<i class="fi fi-arrow-end-slim"></i>
			<i class="fi fi-arrow-down-slim"></i>
		</span>
		<i class="fi fi-mollecules"></i>Content / Inhalt
	</a>

	<ul class="nav flex-column">
		<li class="nav-item"><a class="nav-link js-ajax" href="content.html">Inhalte-1</a></li>
		<li class="nav-item"><a class="nav-link js-ajax" href="manage-property.html">Properties</a></li>
<%doc>
		<li class="nav-item">
			<a class="nav-link js-ajax" href="plugins-sow-lazyload.html">
				<span class="badge float-end font-weight-light mt--3 text-gray-400">1Kb</span>
				SOW : Lazyload
			</a>
		</li>
</%doc>
	</ul>
</li>
% # =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

% if ($perm->{is_devel}) {
<li class="nav-item">
	<a class="nav-link" href="#">
		<span class="group-icon	float-end">
			<i class="fi fi-arrow-end-slim"></i>
			<i class="fi fi-arrow-down-slim"></i>
		</span>
		<i class="fi fi-layers"></i> Vendor Plugins
	</a>

	<ul class="nav flex-column">
		<li class="nav-item"><a class="nav-link js-ajax" href="plugins-vendor-bootstrap-select.html">Vendor : Bootstrap Select</a></li>
		<li class="nav-item">
			<a class="nav-link js-ajax" href="#">
				<span class="group-icon	float-end">
					<i class="fi fi-arrow-end-slim"></i>
					<i class="fi fi-arrow-down-slim"></i>
				</span>Vendor : Pickers
			</a>
			<ul class="nav flex-column">
			<li class="nav-item"><a class="nav-link js-ajax" href="plugins-vendor-datepicker.html">Datepicker</a></li>
			<li class="nav-item"><a class="nav-link js-ajax" href="plugins-vendor-rangepicker.html">Rangepicker</a></li>
			</ul>
		</li>
		<li class="nav-item">
			<a class="nav-link js-ajax" href="#">
				<span class="group-icon	float-end">
					<i class="fi fi-arrow-end-slim"></i>
					<i class="fi fi-arrow-down-slim"></i>
				</span>Vendor : Charts
			</a>
			<ul class="nav flex-column">
			<li class="nav-item"><a class="nav-link js-ajax" href="plugins-vendor-chartjs.html">Chart.js</a></li>
			<li class="nav-item"><a class="nav-link js-ajax" href="plugins-vendor-flot.html">Flot Chart</a></li>
			<li class="nav-item"><a class="nav-link js-ajax" href="plugins-vendor-easypie.html">Easy Pie Chart</a></li>
			<li class="nav-item"><a class="nav-link js-ajax" href="plugins-vendor-sparkline.html">Sparkline Charts</a></li>
			</ul>
		</li>
		<li class="nav-item">
			<a class="nav-link js-ajax" href="#">
				<span class="group-icon float-end">
					<i class="fi fi-arrow-end-slim"></i>
					<i class="fi fi-arrow-down-slim"></i>
				</span>Vendor : Editors
			</a>
			<ul class="nav flex-column">
			<li class="nav-item"><a class="nav-link js-ajax" href="plugins-vendor-summernote.html">Summernote</a></li>
			</ul>
		</li>
		<li class="nav-item"><a class="nav-link js-ajax" href="plugins-vendor-fullcalendar.html">Vendor : Fullcalendar</a></li>
	</ul>
</li>
% }

% if ($perm->{is_devel}) {
<li class="nav-title mt-5">
	<h6 class="fs--15 mb-1 text-dark font-weight-normal">Pages</h6>
</li>

<li class="nav-item">
	<a class="nav-link js-ajax" href="#">
		<i class="nav-icon fi fi-database"><!--	main icon --></i>
		<span class="group-icon	float-end">
		<i class="fi fi-arrow-end-slim"></i>
		<i class="fi fi-arrow-down-slim"></i>
		</span>
		System
	</a>
	<ul class="nav flex-column">
	<li class="nav-item"><a class="nav-link" href="account-signin.html">Sign In/Up</a></li>
	<li class="nav-item"><a class="nav-link" href="/__datatables.html">DataTables</a></li>
	<li class="nav-item"><a class="nav-link" href="../custom/algonetic/html/_datatables_v2.html">DataTables V2</a></li>
	<li class="nav-item"><a class="nav-link" href="_datatables_v3.html">DataTables V3</a></li>
	<li class="nav-item"><a class="nav-link" href="https://dmsd.prismado.com/layout-defaults-4.html">X Original Layout</a></li>
	<li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
	</ul>
</li>
% }

% if ($perm->{is_devel}) {
<li class="nav-title mt-5">
	<h6 class="fs--15 mb-1 text-dark font-weight-normal">Admin Layouts</h6>
</li>

<li class="nav-item">
	<a class="nav-link" href="../layout_2/index.html">
		<i class="nav-icon fi fi-shape-star"><!-- main icon --></i>
		<span class="badge opacity-2 font-weight-light float-end fs--11	mt-1">layout_2</span>
		Smarty Fancy
	</a>
</li>
% }

</ul>

% if ($perm->{is_devel}) {
	<p class="ml-2 mt-3">
		<& ../../custom/algonetic/html/include/inc_debug.html, C=>$C &>
	</p>
% }
