<%init>
	my %args = $m->caller_args(0);
	my $C = $args{C};
	my $debug = $args{debug};
</%init>

% # XXX if ($debug) {
<!-- graph header -->
<div class="clearfix fs--18 pt-2 pb-3 mb-3 border-bottom">
	<!-- save image -->
	<a href="#" data-chartjs-id="visitsvsorders" data-file-name="visitsvsorders"
		class="btn btn-sm btn-light rounded-circle chartjs-save float-end m-0" title="Save Chart" aria-label="Save Chart">
			<i class="fi fi-arrow-download m-0"></i>
	</a>
	<!-- /save image -->

	Visits &amp; Orders <% $C->now(4) %>
	<small class="fs--11 text-muted d-block mt-1">MONTHLY REVENUE OF 2019 &mdash; <% $debug %></small>
</div>
<!-- /graph header -->
% # XXX }

<div class="row gutters-sm">
% # XXX if ($debug) {
	<!-- MAIN GRAPH -->
	<div class="col-12 col-lg-7 col-xl-9 mb-5">
		<div class="position-relative min-h-250 max-h-500 max-h-300-xs h-100">
		<canvas id="visitsvsorders" class="mb-5 chartjs"
			data-chartjs-dots="false"
			data-chartjs-legend="top"
			data-chartjs-grid="true"
			data-chartjs-tooltip="true"

			data-chartjs-title="Visits &amp; Orders"
			data-chartjs-xaxes-label=""
			data-chartjs-yaxes-label=""
			data-chartjs-line-width="5"

			data-chartjs-type="line"
			data-chartjs-labels='["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]'
			data-chartjs-datasets='[{
			"label":                                "Visits",
			"data":                                 [20, 22, 24, 21, 23, 26, 24, 23, 21, 24, 23, 22],
			"fill":                                 true,
			"backgroundColor":                      "rgba(255, 206, 86, 0.2)"
			},{
			"label":                                "Orders",
			"data":                                 [14, 16, 16, 14, 13, 12, 14, 14, 13, 14, 12, 10],
			"fill":                                 true,
			"backgroundColor":              "rgba(255, 206, 86, 0.4)"
			}]'></canvas>
		</div>
	</div>
	<!-- /MAIN GRAPH -->
% # XXX }

	<div class="col-12 col-lg-5 col-xl-3 mb-5">
		<& projects.html, C=>$C, debug=>$debug &>
	</div>

</div>

