<%init>
	my %s = %HTML::Mason::Commands::session;

	my $C = $s{C};
</%init>
<div class="row">

<div class="col-12 col-lg-4">

<div class="card shadow-md shadow-lg-hover transition-all-ease-250 transition-hover-top h-100 border-primary bl-0 br-0 bb-0 bw--2">
	<div class="card-body">
		<h5 class="card-title">Card title 1</h5>
		<p class="card-text">
			Some quick example text to build on the card title and make up the bulk of the card's content.
		</p>
		<a href="#" class="btn btn-sm btn-primary btn-soft">Go somewhere 1</a>
	</div>
</div>

</div>



<div class="col-12 col-lg-4">

<div class="card shadow-md shadow-lg-hover transition-all-ease-250 transition-hover-top h-100 border-success bl-0 br-0 bb-0 bw--2">
	<div class="card-body">
		<h5 class="card-title">Card title 2</h5>
		<p class="card-text">
			Some quick example text to build on the card title and make up the bulk of the card's content.
		</p>
		<a href="#" class="btn btn-sm btn-success btn-soft">Go somewhere 2</a>
	</div>
</div>

</div>



<div class="col-12 col-lg-4">

<div class="card shadow-md shadow-lg-hover transition-all-ease-250 transition-hover-top h-100 border-danger bl-0 br-0 bb-0 bw--2">
	<div class="card-body">
	<h5 class="card-title">Card title 3</h5>
	<p class="card-text">
		Some quick example text to build on the card title and make up the bulk of the card's content.
	</p>
	<a href="#" class="btn btn-sm btn-danger btn-soft">Go somewhere 3</a>
	</div>
</div>

</div>

</div>
