<%init>
	my $C;
</%init>
<div class="row gutters-sm">

	<div class="col-12 col-md-6 col-xl-3 mb-3">

		<!-- small graph widget -->
		<div class="bg-white shadow-md text-dark p-5 rounded text-center">

		<span class="badge badge-light fs--45 w--100 h--100 badge-pill rounded-circle">
		<i class="fi fi-user-plus mt-1"></i>
		</span>

		<h3 class="fs--20 mt-5">New Customers</h3>
		<p>Last 30 days</p>

		<div class="position-relative max-h-200">
		<canvas class="chartjs"
		    data-chartjs-dots="false"
		    data-chartjs-legend="false"
		    data-chartjs-grid="false"
		    data-chartjs-tooltip="true"

		    data-chartjs-line-width="3"
		    data-chartjs-type="line"

		data-chartjs-labels='["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]'
		    data-chartjs-datasets='[{
		"label":                    "Customers",
		"data":                     [11, 11, 17, 11, 15, 12, 13, 12, 11, 12, 7, 8],
		"fill":                     false,
		"backgroundColor":          "rgba(255, 159, 64, 1)"
		    }]'
		></canvas>
		</div>

		</div>
		<!-- /small graph widget -->
	</div>

	<div class="col-12 col-md-6 col-xl-3 mb-3">
		<!-- small graph widget -->
		<div class="bg-white shadow-md text-dark p-5 rounded text-center">

		<span class="badge badge-light fs--45 w--100 h--100 badge-pill rounded-circle">
		<i class="fi fi-cart-1 mt-1"></i>
		</span>

		<h3 class="fs--20 mt-5">
		Monthly Orders
		</h3>

		<p>
		Last 30 days
		</p>

		<div class="position-relative max-h-200">
		<canvas class="chartjs"
		    data-chartjs-dots="false"
		    data-chartjs-legend="false"
		    data-chartjs-grid="false"
		    data-chartjs-tooltip="true"

		    data-chartjs-line-width="3"
		    data-chartjs-type="line"

		data-chartjs-labels='["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]'
		    data-chartjs-datasets='[{
		"label":                    "Orders",
		"data":                     [11, 11, 17, 11, 15, 12, 13, 16, 11, 18, 20, 21],
		"fill":                     false,
		"backgroundColor":          "rgba(54, 162, 235, 1)"
		    }]'
		></canvas>
		</div>

		</div>
		<!-- /small graph widget -->
	</div>

	<div class="col-12 col-xl-6 mb-3">
		<div class="portlet">

		<div class="portlet-header">

		<div class="float-end dropdown">

		<!-- dropdown -->
		<button type="button" class="dropdown-toggle btn btn-sm btn-soft btn-primary px-2 py-1 fs--15 mt--n3" id="dropdownGraph1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="fi fi-dots-vertical m-0"></i>
		</button>

		<div class="prefix-link-icon prefix-icon-dot dropdown-menu dropdown-menu-invert mt-2" aria-labelledby="dropdownGraph1">

			<div class="dropdown-header">
		Export Options
			</div>

			<a href="#!" class="dropdown-item">
		Export CSV
			</a>

			<a href="#!" class="dropdown-item">
		Export XLS
			</a>

			<a href="#!" class="dropdown-item">
		Export PDF
			</a>

			<a href="#!" class="dropdown-item">
		Print
			</a>

		</div>
		<!-- /dropdown -->

		</div>

		<span class="d-block text-muted text-truncate font-weight-medium">
		Monthly Conversions
		</span>
		</div>

		<div class="portlet-body max-h-500 scrollable-vertical scrollable-styled-dark tab-content">


		<div class="position-relative min-h-250 max-h-300-xs h-100">
		<canvas class="chartjs"
		    data-chartjs-dots="false"
		    data-chartjs-legend="false"
		    data-chartjs-grid="true"
		    data-chartjs-tooltip="true"

		    data-chartjs-line-width="3"
		    data-chartjs-type="line"

		data-chartjs-labels='["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]'
		    data-chartjs-datasets='[{
		"label":                    "Orders",
		"data":                     [11, 11, 17, 11, 15, 12, 13, 16, 11, 18, 20, 21],
		"fill":                     true,
		"backgroundColor":          "rgba(201, 203, 207, 0.3)",
		"borderColor":                          "rgba(255, 99, 132, 1)",
		"borderWidth": 1
		    }]'
		></canvas>
		</div>


		</div>

		</div>



	</div>


		</div>
		<!-- /WIDGETS -->


		<!-- WIDGETS -->
		<div class="row gutters-sm">


	<& tasks.html, C=>$C &>


	<!-- WIDGET : TICKETS -->
	<div class="col-12 col-xl-4 mb-3">

		<div class="portlet">

		<div class="portlet-header">

		<div class="float-end dropdown">

		<!-- reload ajax content -->
		<a href="#!" id="summaryTicketListReloadBtn" aria-label="Reload Content" class="btn btn-sm btn-light px-2 py-1 fs--15 mt--n3">
			<span class="group-icon">
		<i class="fi fi-circle-spin"></i>
		<i class="fi fi-circle-spin fi-spin"></i>
			</span>
		</a>

		<!-- dropdown -->
		<button type="button" class="dropdown-toggle btn btn-sm btn-soft btn-primary px-2 py-1 fs--15 mt--n3" id="dropdownRecent" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="fi fi-dots-vertical m-0"></i>
		</button>

		<!--

			Note: .dropdown-menu-click-update
		is the key class to set the link active on click
		and close dropdown (if .dropdown-click-ignore is not set)

		-->
		<div class="prefix-link-icon prefix-icon-dot dropdown-menu dropdown-menu-invert dropdown-menu-click-update end-0 mt-2" aria-labelledby="dropdownRecent">

			<div class="dropdown-header">
		Filter Tickets
			</div>

			<!--

		Note: these are working ajax links!
		html_frontend/documentation/plugins-sow-ajax-navigation.html

		Both plugins are working together:
			SOW : Ajax Navigation
			SOW : Ajax Content

		data-href used here, instead of href to hide
		the link from "open in new tab" actions

			-->
			<a class="dropdown-item js-ajax"
		href="#!"
		data-href="_ajax/widget_tickets_recent.html"
		data-ajax-target-container="#summaryTicketList"
		data-ajax-update-url="false"
		data-ajax-show-loading-icon="true"
		data-ajax-autoscroll-to-content="false">
		Recent
			</a>

			<a class="dropdown-item js-ajax"
		href="#!"
		data-href="_ajax/widget_tickets_open.html"
		data-ajax-target-container="#summaryTicketList"
		data-ajax-update-url="false"
		data-ajax-show-loading-icon="true"
		data-ajax-autoscroll-to-content="false">
		Open
			</a>

			<a class="dropdown-item js-ajax"
		href="#!"
		data-href="_ajax/widget_tickets_closed.html"
		data-ajax-target-container="#summaryTicketList"
		data-ajax-update-url="false"
		data-ajax-show-loading-icon="true"
		data-ajax-autoscroll-to-content="false">
		Cosed
			</a>

			<small class="p-4 text-gray-500">* working ajax links</small>
		</div>
		<!-- /dropdown -->

		</div>

		<span class="d-block text-muted text-truncate font-weight-medium">
		Support Tickets
		</span>

		</div>


		<!-- content loaded via ajax! -->
		<div id="summaryTicketList"
		data-ajax-url="_ajax/widget_tickets_recent.html"
		data-ajax-btn-reload="#summaryTicketListReloadBtn"
		class="js-ajax portlet-body max-h-500 scrollable-vertical scrollable-styled-dark">

		<!-- ajax content pushed here -->
		<div class="text-center p-5"><!-- loader indicator -->
		<i class="fi fi-circle-spin fi-spin fs--30 text-gray-300"></i>
		</div>

		</div>

		<div class="d-flex align-self-baseline w-100 py-2">
		<a href="#!" class="btn btn-sm text-gray-500 b-0 fs--16 shadow-none font-weight-light">
		<i class="fi fi-arrow-end-slim"></i>
		<span>View All</span>
		</a>
		</div>

		</div>

	</div>
	<!-- /WIDGET : TICKETS -->



	<!-- WIDGET : LOGS/NOTIFICATIONS -->
	<div class="col-12 col-xl-4 mb-3">

		<div class="portlet">

		<div class="portlet-header">

		<div class="float-end dropdown">

		<!-- reload ajax content -->
		<a href="#!" id="summaryNotificationListReloadBtn" aria-label="Reload Content" class="btn btn-sm btn-light px-2 py-1 fs--15 mt--n3">
			<span class="group-icon">
		<i class="fi fi-circle-spin"></i>
		<i class="fi fi-circle-spin fi-spin"></i>
			</span>
		</a>

		<!-- dropdown -->
		<button type="button" class="dropdown-toggle btn btn-sm btn-soft btn-primary px-2 py-1 fs--15 mt--n3" id="dropdownLog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="js-trigger-text">Recent</span>
			<i class="fi fi-arrow-down"></i>
		</button>

		<!--
		Note: .dropdown-menu-click-update
		is the key class to set the link active on click
		and close dropdown (if .dropdown-click-ignore is not set)
		-->
		<div class="prefix-link-icon prefix-icon-dot dropdown-menu dropdown-menu-click-update dropdown-menu-invert end-0 mt-2" aria-labelledby="dropdownLog">

			<div class="dropdown-header">
		Filter Notif.
			</div>

			<!--

		Note: these are working ajax links!
		html_frontend/documentation/plugins-sow-ajax-navigation.html

		Both plugins are working together:
			SOW : Ajax Navigation
			SOW : Ajax Content

		data-href used here, instead of href to hide
		the link from "open in new tab" actions

		NOTE: .js-ajax-text-update
			Used by SOW : Dropdown to update the text
			on button trigger! The button must have the same class!

			-->
		<a class="dropdown-item js-ajax"
		href="#!"
		data-href="_ajax/widget_notification_recent.html"
		data-ajax-target-container="#summaryNotificationList"
		data-ajax-update-url="false"
		data-ajax-show-loading-icon="true"
		data-ajax-autoscroll-to-content="false">
		<span class="js-trigger-text">Recent</span>
		</a>

			<a class="dropdown-item js-ajax"
		href="#!"
		data-href="_ajax/widget_notification_errors.html"
		data-ajax-target-container="#summaryNotificationList"
		data-ajax-update-url="false"
		data-ajax-show-loading-icon="true"
		data-ajax-autoscroll-to-content="false">
		<span class="js-trigger-text">Errors</span>
			</a>

			<a class="dropdown-item js-ajax"
		href="#!"
		data-href="_ajax/widget_notification_warnings.html"
		data-ajax-target-container="#summaryNotificationList"
		data-ajax-update-url="false"
		data-ajax-show-loading-icon="true"
		data-ajax-autoscroll-to-content="false">
		<span class="js-trigger-text">Warnings</span>
			</a>

			<small class="p-4 text-gray-500">* working ajax links</small>
		</div>
		<!-- /dropdown -->

		</div>


		<span class="d-block text-muted text-truncate font-weight-medium">
		Notifications
		</span>

		</div>


		<!-- content loaded via ajax! -->
		<div id="summaryNotificationList"
		data-ajax-url="_ajax/widget_notification_recent.html"
		data-ajax-btn-reload="#summaryNotificationListReloadBtn"
		class="js-ajax portlet-body max-h-500 scrollable-vertical scrollable-styled-dark">

		<!-- ajax content pushed here -->
		<div class="text-center p-5"><!-- loader indicator -->
		<i class="fi fi-circle-spin fi-spin fs--30 text-gray-300"></i>
		</div>

		</div>



		<div class="d-flex align-self-baseline w-100 py-2">
		<a href="#!" class="btn btn-sm text-gray-500 b-0 fs--16 shadow-none font-weight-light">
		<i class="fi fi-arrow-end-slim"></i>
		<span>View All</span>
		</a>
		</div>

		</div>

	</div>
	<!-- /WIDGET : LOGS/NOTIFICATIONS -->



	<!-- ALERT : UPGRADE -->
	<div class="col-12 mb-3">
		<div class="bg-white shadow-xs fs--16 p-2 row-pill">

		<div class="clearfix bg-light p-2 rounded row-pill">
		<a href="#!" title="Upgrade" aria-label="Upgrade" class="btn btn-pill btn-sm btn-warning py-1 mb-0 float-start transition-hover-end">
		Upgrade
		</a>
		<span class="d-block pt-1 pl-2 pr-2 text-muted text-truncate">
		using 89% of total storage
		</span>
		</div>

		</div>
	</div>
	<!-- /ALERT : UPGDARE -->



	<!-- WIDGET : IMPORTS -->
	<div class="col-12 col-xl-8 mb-3">

		<div class="portlet">

		<div class="portlet-header">

		<div class="float-end dropdown">

		<a href="#!" class="btn btn-sm btn-light px-2 py-1 fs--15 mt--n3">
			View All
		</a>

		</div>


		<span class="d-block text-muted text-truncate font-weight-medium">
		Shop Imports
		</span>

		</div>


		<!-- content loaded via ajax! -->
		<div class="portlet-body max-h-500 scrollable-vertical scrollable-styled-dark">

		<!-- item -->
		<div class="d-flex align-items-center p-3 border-bottom border-light">

		<div class="flex-none w--40">
			<img width="40" height="40" class="img-fluid lazy" data-src="../../html_frontend/demo.files/svg/icons/files/csv.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="...">
		</div>

		<div class="flex-fill text-truncate px-3">
			<span class="text-muted">384 items imported, 766 updated, 12 ignored</span>
			<span class="fs--13 d-block text-gray-500">29 June, 2020 / 18:44</span>
		</div>

		<div class="w--180 fs--14 text-gray-500 font-weight-light text-align-end dropdown">

			<!-- dropdown -->
			<a id="dropdownImport_1" href="#!" class="dropdown-toggle btn btn-sm btn-soft btn-primary px-2 py-1 fs--15 mt--n3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<i class="fi fi-dots-vertical m-0"></i>
			</a>

			<div aria-labelledby="dropdownImport_1" class="prefix-link-icon prefix-icon-dot dropdown-menu mt-2">

		<a href="#!" class="dropdown-item">
			View Log
		</a>

		<a href="#!" class="dropdown-item">
			Download
		</a>

			</div>
			<!-- /dropdown -->

		</div>


		</div>
		<!-- /item -->



		<!-- item -->
		<div class="d-flex align-items-center p-3 border-bottom border-light">

		<div class="flex-none w--40">
			<img width="40" height="40" class="img-fluid lazy" data-src="../../html_frontend/demo.files/svg/icons/files/csv.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="...">
		</div>

		<div class="flex-fill text-truncate px-3">
			<span class="text-muted">12 items imported, 67 updated, 1 ignored</span>
			<span class="fs--13 d-block text-gray-500">15 February, 2020 / 16:51</span>
		</div>

		<div class="w--180 fs--14 text-gray-500 font-weight-light text-align-end">
			<a href="#!">view log</a>
		</div>

		</div>
		<!-- /item -->



		<!-- item -->
		<div class="d-flex align-items-center p-3 border-bottom border-light">

		<div class="flex-none w--40">
			<img width="40" height="40" class="img-fluid lazy" data-src="../../html_frontend/demo.files/svg/icons/files/jpg.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="...">
		</div>

		<div class="flex-fill text-truncate px-3">
			<span class="text-muted">384 images imported to 281 products</span>
			<span class="fs--13 d-block text-gray-500">1 February, 2020 / 13:43</span>
		</div>

		<div class="w--180 fs--14 text-gray-500 font-weight-light text-align-end">
			<a href="#!">view log</a>
		</div>

		</div>
		<!-- /item -->

		</div>

		<div class="d-flex align-self-baseline w-100 py-2">
		<a href="#!" class="btn btn-sm text-gray-500 b-0 fs--16 shadow-none font-weight-light">
		<i class="fi fi-arrow-end-slim"></i>
		<span>View All</span>
		</a>
		</div>

		</div>

	</div>
	<!-- /WIDGET : IMPORTS -->




	<!-- WIDGET : ORDERS -->
	<div class="col-12 col-xl-4 mb-3">

		<div class="portlet">

		<div class="portlet-header">

		<div class="float-end dropdown">

		<!-- dropdown -->
		<button type="button" class="dropdown-toggle btn btn-sm btn-soft btn-primary px-2 py-1 fs--15 mt--n3" id="dropdownOrders" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="js-trigger-text">Export</span>
			<i class="fi fi-arrow-down"></i>
		</button>

		<div class="prefix-link-icon prefix-icon-dot dropdown-menu dropdown-menu-invert mt-2" aria-labelledby="dropdownOrders">

			<div class="dropdown-header">
		Export Options
			</div>

			<a href="#!" class="dropdown-item">
		Export CSV
			</a>

			<a href="#!" class="dropdown-item">
		Export XLS
			</a>

			<a href="#!" class="dropdown-item">
		Export PDF
			</a>

			<a href="#!" class="dropdown-item">
		Print
			</a>

		</div>
		<!-- /dropdown -->

		</div>

		<span class="d-block text-muted text-truncate font-weight-medium">
		Orders
		</span>

		</div>


		<!-- content loaded via ajax! -->
		<div class="portlet-body max-h-500 scrollable-vertical scrollable-styled-dark">

		<!-- ORDER -->
		<a href="#!" class="clearfix d-block dropdown-item font-weight-medium p-3 rounded overflow-hidden border-bottom border-light">

		<!-- badge -->
		<span class="float-end font-weight-normal text-danger">$2155</span>

		<!-- icon -->
		<i class="text-success fi fi-cart-1 d-middle float-start fs--20 bg-light w--40 h--40 rounded-circle text-center"></i>

		<!-- products -->
		<p class="fs--14 m-0 text-truncate font-weight-normal">
			2 items
		</p>

		<!-- date -->
		<small class="text-muted d-block fs--11">
			3 hours ago
		</small>

		</a>
		<!-- /ORDER -->



		<!-- ORDER -->
		<a href="#!" class="clearfix d-block dropdown-item font-weight-medium p-3 rounded overflow-hidden border-bottom border-light">

		<!-- badge -->
		<span class="float-end font-weight-normal text-danger">$984.99</span>

		<!-- icon -->
		<i class="text-success fi fi-cart-1 d-middle float-start fs--20 bg-light w--40 h--40 rounded-circle text-center"></i>

		<!-- products -->
		<p class="fs--14 m-0 text-truncate font-weight-normal">
			3 items
		</p>

		<!-- date -->
		<small class="text-muted d-block fs--11">
			8 hours ago
		</small>

		</a>
		<!-- /ORDER -->



		<!-- ORDER -->
		<a href="#!" class="clearfix d-block dropdown-item font-weight-medium p-3 rounded overflow-hidden border-bottom border-light">

		<!-- badge -->
		<span class="float-end font-weight-normal text-danger">$2155</span>

		<!-- icon -->
		<i class="text-warning fi fi-cart-1 d-middle float-start fs--20 bg-light w--40 h--40 rounded-circle text-center"></i>

		<!-- products -->
		<p class="fs--14 m-0 text-truncate font-weight-normal">
			2 products
		</p>

		<!-- date -->
		<small class="text-warning d-block fs--11">
			12 hours ago
		</small>

		</a>
		<!-- /ORDER -->



		<!-- ORDER -->
		<a href="#!" class="clearfix d-block dropdown-item font-weight-medium p-3 rounded overflow-hidden border-bottom border-light">

		<!-- badge -->
		<span class="float-end font-weight-normal text-danger">$2155</span>

		<!-- icon -->
		<i class="text-danger fi fi-cart-1 d-middle float-start fs--20 bg-light w--40 h--40 rounded-circle text-center"></i>

		<!-- products -->
		<p class="fs--14 m-0 text-truncate font-weight-normal">
			2 products
		</p>

		<!-- date -->
		<small class="text-danger d-block fs--11">
			1 day ago
		</small>

		</a>
		<!-- /ORDER -->


		</div>


		<div class="d-flex align-self-baseline w-100 py-2">
		<a href="#!" class="btn btn-sm text-gray-500 b-0 fs--16 shadow-none font-weight-light">
		<i class="fi fi-arrow-end-slim"></i>
		<span>View All</span>
		</a>
		</div>

		</div>

	</div>
	<!-- /WIDGET : ORDERS -->

</div>


