<!-- Aero List -->
<ul class="list-group list-group-flush rounded overflow-hidden">

<li class="list-group-item">
	<div class="d-flex">
		<div class="badge badge-success badge-soft badge-ico-sm rounded-circle float-start">
			<i class="fi fi-check"></i>
		</div>

		<div class="pl--12 pr--12">
			<p class="text-dark font-weight-medium m-0">Admin Sign-in</p>
			<p class="m-0"><a href="account-signin.html">Sign-in</a> (Full page)</p>
		</div>
	</div>
</li>

<li class="list-group-item">
	<div class="d-flex">
		<div class="badge badge-primary badge-soft badge-ico-sm rounded-circle float-start">
			<i class="fi fi-check"></i>
		</div>

		<div class="pl--12 pr--12">
			<p class="text-dark font-weight-medium m-0">DataTables</p>
			<p class="m-0">
				<a href="/__datatables.html">Sample</a> (here)
				&ndash; <a href="/__datatables_v2.html">V-2</a>
			</p>
		</div>
	</div>
</li>

  <li class="list-group-item">
	<div class="d-flex">
		<div class="badge badge-primary badge-soft badge-ico-sm rounded-circle float-start"><i class="fi fi-pencil"></i></div>
		<div class="pl--12 pr--12">
			<p class="text-dark font-weight-medium m-0">Editor</p>
			<p class="m-0">
				<a href="/__editor.html">Wysiwyg Editor</a> (here)
			</p>
		</div>
	</div>
  </li>

<li class="list-group-item">
	<div class="d-flex">
		<div class="badge badge-primary badge-soft badge-ico-sm rounded-circle float-start">
			<i class="fi fi-check"></i>
		</div>

		<div class="pl--12 pr--12">
			<p class="text-dark font-weight-medium m-0">Layout Tabs</p>
			<p class="m-0"><a href="https://dmsd.prismado.com/html_frontend/documentation/components-tabs.html">Tabs</a> (dmsd.prism...)</p>
		</div>
	</div>
</li>

<li class="list-group-item">
	<div class="d-flex">
		<div class="badge badge-primary badge-soft badge-ico-sm rounded-circle float-start"><i class="fi fi-search"></i></div>
		<div class="pl--12 pr--12">
			<p class="text-dark font-weight-medium m-0">Such-Funktion</p>
			<p class="m-0">
				<a href="/__search.html">Search / Suche</a> (hier) &ndash;
				<a href="https://dmsd.prismado.com/html_frontend/search-result-2.html?s=">Search</a> (Orig)
			</p>
		</div>
	</div>
</li>

<li class="list-group-item">
	<div class="d-flex">
		<div class="badge badge-danger badge-soft badge-ico-sm rounded-circle float-start">
			<i class="fi fi-check"></i>
% #			<i class="fi fi-close"></i>
		</div>

		<div class="pl--12 pr--12">
			<p class="text-dark font-weight-medium m-0">Documentation</p>
			<p class="m-0"><a href="https://docs.ch2.be/w/auctionline2023/layout">Layout-2023</a> (Wiki)</p>
		</div>
	</div>
</li>

</ul>
<!-- /Aero List -->
