<%init>
	use JSON;
	use ScreenPoint::Core;

	my $json = JSON->new();
	my $C = ScreenPoint::Core->new( $r, $m );

	my $perm = $C->get_user_perm();
	unless ($perm->{is_admin}) {
		$m->out('Access denied');
		$m->abort();
	}

	my $cgi  = $C->{CGI};
	my $sortcol   = $cgi->param('order[0][column]') || 0;
	my $search    = $cgi->param('search[value]');
	my $direction = $cgi->param('order[0][dir]') || 'desc';
	my $length    = $cgi->param('length') + 0; $length ||= 10;
	my $start     = $cgi->param('start') + 0;
	my $draw      = $cgi->param('draw')  + 0; # -- https://datatables.net/manual/server-side
	my $debug     = $cgi->param('debug');

	($search ||= $cgi->param('q')) =~ s/'/''/g;
	my $search_num = $search =~ /^\d+$/ ? 1 : 0;
	my $search_phone = ($search =~ /^0\d\d.+/) ? 1 : 0;

	my $area = '';
	if ($start && length != -1) {
		$area = "LIMIT $start, $length";
	}
	elsif ($length > 0) {
		$area = "LIMIT $length";
	}

	my @db_cols = qw(id firstname lastname company city country phone email tstamp is_admin);

	my $order_by = $db_cols[$sortcol];

	my @wcl = ();

	if ($search_phone) {
		push(@wcl, "phone LIKE '$search%'");
	}
	elsif ($search_num) {
		push(@wcl, "id=$search") if length($search) > 1;
	}
	elsif (length($search) > 1) {
		push(@wcl, "lastname LIKE '%$search%' OR firstname LIKE '%$search%' OR company LIKE '%$search%' OR email LIKE '$search%'");
		# XXX push(@wcl, "lastname LIKE '%$search%' OR firstname LIKE '%$search%' OR company LIKE '%$search%'");
	}

	my $wcl_str = join ' AND ', @wcl;
	   $wcl_str = "WHERE $wcl_str" if @wcl;

	if ($debug) { print STDERR "[Debug] $wcl_str\n"; }

	my $sth = $C->{dbh}->prepare("select " . (join ', ', @db_cols) . " from vusers $wcl_str ORDER BY $order_by $direction $area");
	   $sth->execute();
	my $row_count = $C->query("select count(*) from vusers $wcl_str")->[0];

	my @json = ();
	my $i = 0;

	my @params = ();
	my $allparas = join "<br>\n", @params;
	   $allparas = "$start / $sortcol $direction / $length / $search";

	while(my $r = $sth->fetch()) {
		my ($id, $first, $last, $company, $city, $country,  $phone, $email, $ts, $is_adm) = @{$r};
		$ts   = $C->trans_date_short($ts);
		$last = $C->web_enc($last);
		$last = "$last &#128737;&#65039;" if $is_adm;
		$company = $C->shorten_title($company, 30) if length($company) > 30;

		my @row = ();
		push(@row, qq~<a href='/adm_user.html?id=$id'><b>$id</b></a>~);
		push(@row, $C->web_enc($first));
		push(@row, "<b>$last</b>");
		push(@row, $C->web_enc($company));
		push(@row, $C->web_enc($city));
		push(@row, $C->web_enc($phone));
		push(@row, "<nobr>$email</nobr>");
		push(@row, "<nobr>$ts</nobr>");
		push(@json, \@row);
	}

	my $JSON =  $json->encode(\@json);

	$r->content_type("text/plain; charset=utf-8");
</%init>
{
  "draw": <% $draw %>,
  "recordsTotal": <% $row_count %>,
  "recordsFiltered": <% $row_count %>,
  "data": <% $JSON %>
}

