<%init>
	use ScreenPoint::Core;

	my $C = ScreenPoint::Core->new( $r, $m );

	# -- Created: 07Feb2024 -- #

	my $cgi = $C->{CGI};
	my $table    = $cgi->param('table');
	my $macro    = $cgi->param('macro');
	my $q        = $cgi->param('q');
	my $fil      = $cgi->param('fil'); # -- Filter 16Feb2024
	my $omit     = $cgi->param('omit'); # -- 16Feb2024
	my $theme    = $cgi->param('theme');
	my $debug    = $cgi->param('debug');

	my $mdata = $C->prism_get_macro_param(macro=>$macro);

	my $page_size = ($mdata->{para}->{page_size} + 0) || 25;

	foreach (split /,/, $omit) {
		$mdata->{para}->{"db_col_$_\_omit"} = 1;
	}

	my @header = ();
	foreach (split /\|\|/, $mdata->{para}->{db_cols_de}) {
		push(@header, $C->trim($_));
	}
</%init>
<link rel="stylesheet" type="text/css" href="assets/css/datatables.min.css">
% if ($theme) {
	<link rel="stylesheet" type="text/css" href="/adx/assets/css/prism_datatables_1_10_color_<% $theme %>.css">
% }
% elsif ($mdata->{para}->{desc_css} && $mdata->{para}->{desc_css} =~ /\<link\b/) {
	<% $mdata->{para}->{desc_css} %>
% }
% elsif ($mdata->{para}->{desc_css}) {
	<style><% $mdata->{para}->{desc_css} %></style>
% }
% else {
	<link rel="stylesheet" type="text/css" href="assets/css/prism_datatables_1_10_x.css">
% }

% # -- DataTables 1.10.18
<script type="text/javascript" src="assets/js/datatables.min.js" language="javascript"></script>

% if ($debug) {
	<table class="table table-sm border col-9">
		<tr><td style="width:23%">This</td><td><code><% $C->this() %></code> <small>via P-Macro</small> <code><% $macro %></code></td></tr>
		<tr><td>Ajax Source</td><td><code>adx/_ajax/server_processing_generic</code> &rarr; <small>Table/View:</small> <code><% $table %></code></td></tr>
		<tr><td>DataTables</td><td><b>1.10.18</b> / CSS: DataTables <b>1.13.4</b> &mdash; <a href="assets/js/datatables.min.js">datatables.min.js</a></td></tr>
%		foreach (sort keys %{$mdata->{para}}) {
%			next if /^label\_.+/;
		<tr>
			<td nowrap>[ para ] &middot; <b><% $_ %></b></td><td><code><% $mdata->{para}->{$_} %></code></td>
		</tr>
%		}
	</table>
% }

	<table id="example" style="width:100%" data-searching="true">
	<thead>
	    <tr>
%		my $i = -1;
%		foreach (split / /, $mdata->{para}->{db_cols}) {
%			$i++;
%			if ($mdata->{para}->{"db_col_$_\_omit"}) {
%				next;
%			}
%			my $css = '';
%			if ($mdata->{para}->{"db_col_$_\_css"}) {
%				$css = $mdata->{para}->{"db_col_$_\_css"};
				<th style="<% $css %>"><% $header[$i] || "* $_ *" %>&nbsp;&nbsp;</th>
%			}
%			else {
				<th><% $header[$i] || "* $_ *" %></th>
%			}
%		}
	    </tr>
	</thead>
	</table>

<script language="JavaScript">
$(document).ready(function() {
    $('#example').DataTable( {
	"processing": true,
	"serverSide": true,
	"paging": true,
	"displayLength": <% $page_size %>,
	"lengthMenu": [[10, 15, 25, 50, 100, -1], [10, 15, 25, 50, 100, "All"]],
	"oLanguage": {  "sSearch": "<!-- Suche (Vor-, Nachname, Telefonnummer): -->",
			"sLengthMenu": "_MENU_",
			"sInfo": "Ansicht _START_ bis _END_ von insgesamt _TOTAL_ Eintr&auml;gen",
			"oPaginate": {
				"sPrevious": "R&uuml;ckw&auml;rts",
				"sNext":     "Vorw&auml;rts"
			},
			"sSearchPlaceholder": "Suchbegriff oder Kunden-Nr"
	},
	"ajax": "_ajax/server_processing_generic.html?table=<% $table %>&q=<% $q %>&fil=<% $fil %>&macro=<% $macro %>&omit=<% $omit %><% $debug ? "&debug=$debug" : '' %>",
	"order": []
    } );
<%doc>
	var oTable = $('#example').dataTable();
	    oTable.fnSort( [ [0,'desc'] ] );
</%doc>

	$('.dataTables_filter input').css({'width': '255px', 'border-radius': '8px'});
	$('.dataTables_filter input').removeClass('form-control-sm');
	$('.dataTables_filter input').attr('id', 'customSearchInput40130');

% #	$('.custom-select').addClass('font-weight-bold');
} );
</script>

% if ($debug) {
%	foreach ($cgi->all_parameters) {
%		next if $_ eq 'debug';
%		next unless length($cgi->param($_));
		[ cgi ] &middot; <b><% $_ %></b> = "<code><% $cgi->param($_) %></code>"<br>
%	}
% }
