<%init>
	use utf8;

	use ScreenPoint::Core;
	use ScreenPoint::Auctionline;

	my $C = ScreenPoint::Core->new($r, $m);
	my $A = ScreenPoint::Auctionline->new($C);

	my $cgi = $C->{CGI};

	my $code = $cgi->param('code');

	my $info = $A->get_voucher_info($code);
	   $info->{_msg} ||= 'gültig';

	# -- JSON-Ausgabe mit UTF-8-Kodierung
	$r->content_type('application/json; charset=utf-8');
</%init>
{
  "rc": <% $info->{is_valid} ? 0 : 1 %>,
  "amount": <% $info->{amount} %>,
  "perc": <% $info->{perc} // 0 %>,
  "message": "<% $info->{_msg} %>"
}
