<%init>
	use utf8;

	use ScreenPoint::Core;
	use ScreenPoint::Auctionline;

	my $C = ScreenPoint::Core->new($r, $m);
	my $A = ScreenPoint::Auctionline->new($C);

	my $lang = 'de';

	my $cgi = $C->{CGI};

	my $prod_id = $cgi->param('prod_id') + 0;
	my $opt_id  = $cgi->param('opt_id')  + 0;

	$C->del_sess_key("prod_id_$prod_id\_$opt_id");

	# -- JSON-Ausgabe mit UTF-8-Kodierung
	$r->content_type('application/json; charset=utf-8');
</%init>
{
  "rc": 0,
  "message": "okay: prod_id_<% $prod_id %>_<% $opt_id %>"
}
