<%init>
	use utf8;

	# -- dyn/set-customer-address

	use ScreenPoint::Core;
	use ScreenPoint::Auctionline;

	my $C = ScreenPoint::Core->new($r, $m);
	my $A = ScreenPoint::Auctionline->new($C);

	my $lang = 'de';

	my $cgi = $C->{CGI};

	my $rc  = 0;
	my $msg = 'constr';

	my $sid = $C->getSID();
	my $uid = $C->getUID();

	if ($uid > 0) {
		# -- Existierender Benutzer ist eingeloggt
	}
	else {
		# -- Benutzer existiert noch nicht
		$C->log(msg => "N610071: Benutzer existiert noch nicht",
				service => 'set-customer-address', importance => 1);
		my %data = ();
		   $data{cust_name}    = $cgi->param('firstname_2') // '';
		   $data{cust_surname} = $cgi->param('lastname_2')  // '';

		foreach my $key ($cgi->all_parameters) {
			(my $key_new = $key) =~ s/\_[12]$//;
			$data{"cust_$key_new"} = $cgi->param($key);
		}
		# XXX $data{cust_email} ||= "cust$$\@eshop.pub";
		($rc, $msg) = $A->create_user(\%data);
		$C->log(msg => "RC $rc $msg", importance => 1);
	}

	foreach ($cgi->all_parameters) {
		# XX $C->log(msg => "XX $_ = " . $cgi->param($_), service => 'set-customer-address', XXimportance => 1);
	}

	# -- JSON-Ausgabe mit UTF-8-Kodierung
	$r->content_type('application/json; charset=utf-8');
</%init>
{
  "rc": <% $rc %>,
  "message": "<% $msg %>, SID <% $C->{sid} %>"
}
