<%init>
	use ScreenPoint::Core;
	use ScreenPoint::Auctionline;

	my $C = ScreenPoint::Core->new($r, $m);
	my $A = ScreenPoint::Auctionline->new($C);

	my $cgi = $C->{CGI};
	my $debug = $C->{CGI}->param('debug') || $C->getSessData('debug') || 0;

	my $perm = $C->get_user_perm();

	my @breadcrumb = ();
	my @bc1 = ('ADX Layout', 'adx/_layout.html');
	my @bc2 = ('Foo Public', '__foo.html');
	my @bc3 = ('Foo Public No Left Nav', '__foo_no_left_nav.html');
	push(@breadcrumb, \@bc1);
	push(@breadcrumb, \@bc2);
	push(@breadcrumb, \@bc3);
</%init>
<!doctype html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml">
	<head>
	<meta charset="UTF-8">
	<title>Foo Public No Left Nav <% $C->{CONFIG}->{HTTP_HOST} %></title>
	<meta name="description" content="<% $C->{CONFIG}->{default_description} %>">
	<meta name="viewport" content="width=device-width, maximum-scale=5, initial-scale=1, user-scalable=0">
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
	<link rel="dns-prefetch" href="https://fonts.googleapis.com/">
	<link rel="dns-prefetch" href="https://fonts.gstatic.com/">
	<link rel="preconnect" href="https://fonts.googleapis.com/">
	<link rel="preconnect" href="https://fonts.gstatic.com/">
	<link rel="preload" href="assets/fonts/flaticon/Flaticon.woff2" as="font" type="font/woff2" crossorigin>
	<!-- non block rendering : page speed : js = polyfill for old browsers missing `preload` -->
	<link rel="stylesheet" href="assets/css/core.min.css">
	<link rel="stylesheet" href="assets/css/vendor_bundle.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap">
	<link rel="shortcut icon" href="favicon.ico">
% #	<link rel="apple-touch-icon" href="demo.files/logo/icon_512x512.png">
	<link rel="manifest" href="assets/images/manifest/manifest.json">
	<meta name="theme-color" content="#377dff">
% # 	<script src="assets/js/core.min.js"></script>
	</head>

	<body class="layout-admin XXaside-sticky header-sticky" data-s2t-class="btn-primary btn-sm bg-gradient-default rounded-circle b-0">

	<div id="wrapper" class="d-flex align-items-stretch flex-column">
		<& _includes/header.html, perm=>$perm, C=>$C, A=>$A, debug=>$debug &>

		<div id="wrapper_content" class="d-flex flex-fill">

			<div id="middle" class="flex-fill">
%				if ($perm->{is_devel}) {
					<div class="float-end"><& include/inc_debug.html, debug=>$debug, C=>$C &></div>
%                               }
				<div class="page-title shadow-xs XXmb-0 pb-0" stylx="background-color:yellow">
					<h1 class="h5 mt--10 mb--10 ml-3 font-weight-normal">Foo Public</h1>
					<& include/breadcrumb_2.html, breadcrumb=>\@breadcrumb, p_bottom=>'ml-3 mb-0', C=>$C, debug=>$debug &>
				</div>

				<div class="row XXmt-5 XXmt-0 XXpt-0 mt--n20" style="background-color:lightgreen">
					<div class="col-12 Xmt--n20 XXpt-0 Xp--0">
						<& include/__foo_no_left_nav.html, C=>$C, A=>$A, perm=>$perm, debug=>$debug &>
					</div>
				</div>
			</div>
		</div>

		<& _includes/footer.html, C=>$C &>
	</div>

	<script src="assets/js/core.min.js"></script>

%	my $jq_exp_v = '3.4.1';
	<script type="text/javascript">
		$(document).ready(function(){
		var msg = 'ok';
		if (jQuery.fn.jquery != '<% $jq_exp_v %>') {
			msg = 'Erwartung war <% $jq_exp_v %>';
		}
		document.getElementById('div81_307071').innerHTML='<code>jQuery ist aktiv; Version: ' + jQuery.fn.jquery + '</code> ' + msg;
	});
	</script>

	</body>
</html>
