<%init>
        use ScreenPoint::Core;

        my $C = ScreenPoint::Core->new( $r, $m );

        my $cgi = $C->{CGI};
	my $debug = $cgi->param('debug');

	my $perm = $C->get_user_perm();

	if (length($debug)) {
		$debug += 0;
		if ($debug) {
			$C->saveSessData('debug', $debug);
		}
		else {
			$C->del_sess_key('debug');
		}
	}

	my $cookies = $C->get_cookies_simple();

	my $SID = $cookies->{sid} + 0;

	my $sth = $C->{dbh}->prepare("select `key`, val from session where sid=$SID");
	   $sth->execute();
</%init>
<html>
<head>
<title>Debug &middot; <% $C->{CONFIG}->{site_title} %></title>
<link rel="stylesheet" href="assets/css/core.min.css">
<link rel="stylesheet" href="assets/css/vendor_bundle.min.css">
</head>

<body style="fonx-family:Arial; font-size:1.20rem">

<div class="container col-md-12">

	<h3 class="mt-3">Debug | <% $ENV{SERVER_SOFTWARE} %> &mdash; SID: <% $C->{sid} %> <% $SID %></h3>

	<p><a href=".">Dashboard</a></p>

%	if ($perm->{is_devel}) {
		<p>
		Persistent Debug: <a href="_debug.html?debug=1">On</a> | <a href="_debug.html?debug=0">Off</a>
		</p>
%	}

	<ul>
	<li>$C->is_logged_in( ) &rarr; <% $C->is_logged_in() %></li>
	<li>$C->getUID2( ) &rarr; <% $C->getUID2() %></li>
	<li>$C->getSessData('_uid') &rarr; <% $C->getSessData('_uid') + 0 %></li>
	</ul>

	<table class="table table-sm col-md-4 table-hover" style="font-size:1.15rem">
%	while (my $r = $sth->fetch()) {
%		my ($key, $val) = @{$r};
		<tr><td>[ Session ] &middot; <b><% $key %></b></td><td>"<% $val %>"</td></tr>
% 	}
	</table>

<h4 class="mt-4">Cookies</h4>
% foreach (sort keys %{$cookies}) {
	&bull; <b><% $_ %></b> = <code style="font-size:1.0rem"><% $cookies->{$_} %></code><br>
% }
<br />

% foreach (sort keys %$perm) {
%	next if /^\_\_.+/;
%	next unless length($perm->{$_});
	[ perm ] &middot; <b><% $_ %></b> = <% $perm->{$_} %><br>
% }

</div>
</body>
</html>
