<%init>
	use ScreenPoint::Core;
	use ScreenPoint::Auctionline;

	my $C = ScreenPoint::Core->new( $r, $m );
	my $A = ScreenPoint::Auctionline->new($C);

	my $SID      = $C->getSID();
	my $is_admin = $C->is_admin();
	my $lang     = $C->getSessData('_current_lang') || 'de';
</%init>
<!DOCTYPE html>
<html lang="<%$lang%>">
<head>
<title>Selbstabholer - <%$C->{CONFIG}->{site_title}%></title>
<&include/head_metablock.html, C=>$C&>
<&include/head_cssload.html&>
</head>

<body>
<& include/content_header.html, SID=>$SID, C=>$C, is_admin=>$is_admin &>

<div id="mainContainer">
 <div class="container">
 <div class="row-fluid">

<&include/content_sideblock.html, C => $C, A => $A&>

<div id="productBlock" class="span9">
<div class="well"><h1><% $C->prop('pickup') %></h1>
% if ($is_admin) {
	<div class="pull-right">
		<a href="adm_properties.html?filter=content_pickup">Edit Text</a>
	</div>
% }
</div>


<div id="contentBlock">
	<% $C->render_property('content_pickup') %>
% # XXX	<% $C->prop('content') %>

</div><!-- End contentBlock -->
</div><!-- End contentBlock -->
</div><!-- End container -->
</div><!-- End row -->
</div><!-- End mainContainer -->

<&include/footer.html, C => $C&>

</BODY>
</HTML>
