<%init>
	use ScreenPoint::Core;
	use ScreenPoint::Auctionline;

	my $C = ScreenPoint::Core->new($r, $m);
	my $A = ScreenPoint::Auctionline->new($C);

	my $cgi = $C->{CGI};
	my $debug = $C->{CGI}->param('debug') || $C->getSessData('debug') || 0;

	my $perm = $C->get_user_perm();
	my $lang = $C->getSessData('_current_lang') || 'de';
	my $UID  = $C->getSessData('_uid') || $C->getSessData('_anon_uid');
	my $order_id = $C->getSessData('order_id');

	$C->log(msg=>"N310202-1: Order-ID $order_id ready for online payment", service=>'payment_prx');

	my $font_1 = $C->txt('sys_font_1_family', 'sys');
	my $font_2 = $C->txt('sys_font_2_family', 'sys');

	my @breadcrumb = ();
	my @bc1 = ('Warenkorb', 'basket.html');
	my @bc2 = ('Kasse', 'checkout.html');
	my @bc3 = ("Online-Zahlung # $order_id", '');
	push(@breadcrumb, \@bc1);
	push(@breadcrumb, \@bc2);
	push(@breadcrumb, \@bc3);
</%init>
<!doctype html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml">
	<head>
	<meta charset="UTF-8">
	<title>Zahlung | <% $C->{CONFIG}->{HTTP_HOST} %></title>
% #	<meta name="description" content="...">
	<meta name="viewport" content="width=device-width, maximum-scale=5, initial-scale=1, user-scalable=0">
	<& include/inc_header_seo.html,	C=>$C &>
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
	<link rel="dns-prefetch" href="https://fonts.googleapis.com/">
	<link rel="dns-prefetch" href="https://fonts.gstatic.com/">
	<!-- non block rendering : page speed : js = polyfill for old browsers missing `preload` -->
	<link rel="stylesheet" href="assets/css/core.min.css">
% #	<link rel="stylesheet" href="assets/css/vendor_bundle.min.css">
	<link rel="shortcut icon" href="favicon.ico">
% #	<link rel="apple-touch-icon" href="demo.files/logo/icon_512x512.png">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=<% $C->uri_esc($font_1) %>:wght@400&family=<% $C->uri_esc($font_2) %>:wght@400&display=swap">
	<style>
		.product-name {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.prism-limit-len-450-405041 {
			max-width: 450px !important;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		p, td           { font-family: '<% $font_1 %>', sans-serif; color: #333; }
		h5, h6, th      { font-family: '<% $font_1 %>', sans-serif; font-weight: bold; }
		li, .breadcrumb { font-family: '<% $font_2 %>', sans-serif; }
	</style>
	</head>

	<body class="layout-admin aside-sticky header-sticky" data-s2t-class="btn-primary btn-sm bg-gradient-default rounded-circle b-0">

	<div id="wrapper" class="d-flex align-items-stretch flex-column">
		<& _includes/header.html, perm=>$perm, C=>$C, A=>$A, debug=>$debug &>

		<div id="wrapper_content" class="d-flex flex-fill">
			<aside id="aside-main"
				class="aside-start aside-secondary bg-gradient-light shadow-xs font-weight-light aside-hide-xs d-flex flex-column h-auto">
				<& _includes/sidebar.html, A=>$A, C=>$C &>
			</aside>

			<div id="middle" class="flex-fill">
				<div class="page-title shadow-xs">
					<h1 class="h5 mt--10 mb--10 font-weight-normal">Zahlung (via Payrexx)</h1>
					<& _includes/breadcrumb.html, breadcrumb=>\@breadcrumb, C=>$C, debug=>$debug &>
				</div>

				<div class="row gutters-sm">
					<div class="col-12 mb-3">
						<div class="portlet">
							<& include/payment_prx.html, C=>$C, A=>$A, UID=>$UID, lang=>$lang, perm=>$perm, debug=>$debug &>
						</div>
					</div>
				</div>
			</div>
		</div>

		<& _includes/footer.html, C=>$C &>
	</div>

	<script src="assets/js/core.min.js"></script>
% #	<div id="page_js_files"><!-- specific page javascript files here --></div>

	</body>
</html>
