<%init>
	my %args = $m->caller_args(0);
	my $C = $args{C};
	my $A = $args{A};
	my $id = $args{id};
	my $d = $A->get_product($id);
	my $lang = $C->getSessData('_current_lang') || 'de';
	my $aktionPreis = $d->{price_incl_vat} != $d->{price_orig_incl_vat} ? 1 : 0;
	my $in_basket = $C->query("select id FROM basket WHERE sid=$args{SID} AND prod_id=$id")->[0];
	my $sold_out = $d->{condition} eq 'SO' && $d->{count} < 1 ? 1 : 0;

	my $has_mandatory_options = $C->query(qq~SELECT mandatory FROM voptions WHERE mandatory=1 AND
		id IN (SELECT substr(featkey, 3, 8) from products_feat WHERE product_id=$id AND featkey LIKE '_o%') and lang='de'
		LIMIT 1
	~)->[0];
	my $is_offer = $d->{price_incl_vat} != $d->{price_orig_incl_vat} ? 1 : 0;
</%init>
<li class="span3">
<div class="thumbnail"><a href="article-<%$id%>-<%$d->{title_enc}%>.html" class="iconProduct"><i class="fa fa-info-circle"></i></a>
% if ($is_offer) {
	<span class="aktionsOffer"><%sprintf('%.0f', $d->{discount_perc})%>%</span>
% }
% if ($sold_out) {
	<span class="soldOut"><% $C->prop('sold_out') %></span>
% }
% if ($in_basket) {
	<span class="inBasket"><i class="fa fa-shopping-cart"></i> <% $C->prop('in_basket') %>
	<div data-toggle="tooltip" data-placement="bottom" data-original-title="<% $C->prop('del_frombasket') %>"
		onclick="document.location='_del_from_basket.html?id=<%$in_basket%>'" class="pull-right">&nbsp;<i class="fa fa-times"></i></div></span>
% }
<span style='display:none' class="inBasket" id="product_area_<%$id%>"><i class="fa fa-shopping-cart"></i> <% $C->prop('in_basket') %>
	<div data-toggle="tooltip" data-placement="bottom" data-original-title="Aus Warenkorb entfernen"
		onclick="document.location='_del_from_basket.html?id=<%$in_basket%>'" class="pull-right">&nbsp;<i class="fa fa-times"></i></div></span>
	<div class="overlayBasket" id="ajx_bask_<%$id%>"></div>

<a href="article-<%$id%>-<%$d->{title_enc}%>.html">
	                                   <div class="imgCut">
 <picture id="pic<%$id%>" <%($in_basket or $sold_out) ? 'class="blur"' : ''%> alt="<%$d->{title}%>">
    <!--[if IE 9]><audio><![endif]-->
    <source srcset="produkte/p<%$id%>_thmb.jpg"
            media="(max-width: 620px)" />

    <source srcset="produkte/p<%$id%>_large.jpg" />

    <!--[if IE 9]></audio><![endif]-->
    <img
            src="produkte/p<%$id%>_thmb.jpg"
            alt="image with artdirection" <%($in_basket or $sold_out) ? 'class="blur"' : ''%> id="pic<%$id%>" />
</picture>
</a>

</div>
                                <div class="thumbnailCaption">
                                    <h4><%$d->{title}%></h4>

                                    <p><%$d->{description}%></p>
% if ($d->{pfeat}->{"0000\t_redir_search\tREDIR"} or $d->{pfeat}->{"0000\t_redir_cat\tREDIR"}) {

                                    <div class="thumbnailPrice">
                                        <a class="btn btn-price" href="article-<%$id%>-<%$d->{title_enc}%>.html">ab <%$C->decimal_mark($C->round_amount($d->{price_incl_vat}))%></a>
                                    </div>

                                    <div class="thumbnailButtons">
                                    <a class="btn btn-basket" href="article-<%$id%>-<%$d->{title_enc}%>.html"><i class="fa fa-chevron-circle-right"></i><% $C->prop('group_view') %></a>
                                    </div>

% }
% elsif ($d->{condition} eq 'IP') {
<div class="thumbnailPrice">
                                        <a class="btn btn-price" href="article-<%$id%>-<%$d->{title_enc}%>.html"><% $C->prop('info') %></a>
                                    </div>

                                    <div class="thumbnailButtons">
                                    <a class="btn btn-basket" href="article-<%$id%>-<%$d->{title_enc}%>.html"><i class="fa fa-chevron-circle-right"></i><% $C->prop('to_page') %></a>
                                    </div>
% }
% else {
                                                 <div class="thumbnailPrice">
                                        <a class="btn btn-price <%$is_offer ? 'offer-color' : ''%>"
						href="article-<%$id%>-<%$d->{title_enc}%>.html">CHF <%$C->decimal_mark($C->round_amount($d->{price_incl_vat}))%><br>
% if ($is_offer) {
							<span class="offerPriceFront"> <% $C->prop('offer_price_text') %> <%$is_offer ? $C->decimal_mark($d->{price_orig_incl_vat}) : ''%></span></a>
%	}
% else {
							<span class="offerPriceFront"></span>
% }
</a>
                                    </div>
	<div class="thumbnailButtons">
%	if ($has_mandatory_options) {
		<a class="btn btn-basket" href="article-<%$id%>-<%$d->{title_enc}%>.html"><% $C->prop('buy_w_option') %></a>
% # direktkauf deaktiviert <a class="btn btn-basketdirect disabled" href="article-<%$id%>-<%$d->{title_enc}%>.html"><% $C->prop('expressbuy') %></a>
%	}
%	else {
                                        <a class="btn btn-basket <%$in_basket or $sold_out ? 'disabled' : ''%>" data-toggle="modal" onclick="addtobasket(<%$id%>, this)" <%$in_basket or $sold_out ? '' : 'href="#basketLightbox"'%>><i class="fa fa-shopping-cart"></i><% $C->prop('basket') %></a>
% # direktkauf deaktiviert<a class="btn btn-basketdirect  <%$in_basket or $sold_out ? 'disabled' : ''%>"  href="fast_checkout.html?id=<%$id%>"><i class="fa fa-cart-arrow-down"></i><% $C->prop('expressbuy') %></a>
%	}
	</div>

% }
                                </div>
                           </div>
 </li>

