<%init>
	use ScreenPoint::Auctionline;
	use ScreenPoint::Core;

	my $C = ScreenPoint::Core->new( $r, $m );
	my $A = ScreenPoint::Auctionline->new($C);

	my $SID = $C->getSID();
	# $C->set_workval("sid_$SID", "IP=$ENV{REMOTE_ADDR}\tUA=$ENV{HTTP_USER_AGENT}"); # -- Start record this session

	my $lang = $C->getSessData('_current_lang') || 'de';
</%init>
<!DOCTYPE html>
<html lang="de">
<head>
<title><%$C->{CONFIG}->{site_title}%> - <% $C->prop('privacy_title') %></title>
<&include/head_metablock.html, C=>$C&>
<&include/head_cssload.html&>
</head>

<body>
<&include/content_header.html, SID=>$SID, C=>$C&>

<div id="mainContainer">
 <div class="container">
 <div class="row-fluid ps-content">

<&include/content_sideblock.html, C => $C, A => $A&>


<div id="productBlock" class="span9">
<div class="well"><h1><% $C->prop('privacy_title') %></h1>
</div>

<div id="contentBlock">
<% $C->prop('content') %>

</div><!-- End contentBlock -->
 </div><!-- End contentBlock -->
</div><!-- End container -->
</div><!-- End row -->
</div><!-- End mainContainer -->

<&include/footer.html, C => $C&>

</BODY>
</HTML>
