<%init>
	use ScreenPoint::Core;

	my $C = ScreenPoint::Core->new( $r, $m );

	my $this = $C->this();
	my $perm = $C->get_user_perm(); # -- $perm->{uid}

	$m->redirect('/_error.html') unless $perm->{is_admin};

	my $css_id   = $C->{CGI}->param('css_id') || 'exampleModalFull';
	my $id       = $C->{CGI}->param('id') + 0;
	my $title    = $C->{CGI}->param('title');
	my $p        = $C->{CGI}->param('p');
	my $bUpdate  = $C->{CGI}->param('bUpdate');

	my @paras = ();
	foreach ($C->{CGI}->all_parameters) {
		# XXX push(@paras, "$_=" . $C->{CGI}->param($_));
	}
</%init>
% # <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
% # <link rel="stylesheet" href="/assets/css/prism_swal.css">

<div class="modal-header">
	<h2 class="modal-title fs--18 m-0">&#128203; Produkt kopieren</h2>
	<button type="button" class="close pointer" data-dismiss="modal" aria-label="Close">
		<span class="fi fi-close fs--18" aria-hidden="true"></span>
	</button>
</div>

<div class="modal-body" id="<% $css_id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelFull" aria-hidden="true">
	<form method="post" name="f407012_34" action="/adx/edit-product.html">
	<input type="hidden" name="id"     value="<% $id %>">
	<input type="hidden" name="bCopyProd" value="1">

	<p class="text-dark">
		<b>Produkte-ID <% $id %> kopieren?</b>
	</p>

	<p class="fs--15 font-weight-bold text-dark"><% $title %></p>

	<p class="fs--15">
		Nach dem Kopiervorgang werden Sie automatisch zum kopierten Produkt umgeleitet.
	</p>

% #	<p><span data-toggle="tooltip" data-placement="bottom"
% #		data-original-title="Die Zeilenumbr&uuml;che sind wichtig f&uuml;r die Darstellung auf dem PDF!">Tooltip</span></p>

		<div class="modal-footer pb-1">
			<button type="button" class="btn btn-secondary btn-sm btn-soft" data-dismiss="modal">
				<i class="fi fi-close"></i> Abbrechen
			</button>
			<button type="button" class="btn btn-success btn-sm btn-soft" onclick="document.f407012_34.submit()">
				<i class="fi fi-check"></i> Kopieren
			</button>
		</div>

	</form>
</div>

<%doc>
	Created: 01Jul2024
</%doc>
