<%init>
	use ScreenPoint::Core;

	# -- Created: 28Oct2024

	my $C = ScreenPoint::Core->new( $r, $m );

	my $this = $C->this();
	my $SID  = $C->getSID();
	my $perm = $C->get_user_perm(); # -- $perm->{uid}

	my $css_id   = $C->{CGI}->param('css_id') || 'exampleModalFull';
	my $order_id = ($C->{CGI}->param('order_id') + 0) || $C->query('select max(id) from orders where status=4')->[0];
	my $sig      = $C->md5_secret($SID);

	my @paras = ();
	foreach ($C->{CGI}->all_parameters) {
		push(@paras, "$_=" . $C->{CGI}->param($_));
	}

	# XXX my $info = join ', ', @paras;
</%init>
<div class="modal-header">
	<h2 class="modal-title fs--18 m-0">Inventur-Daten</h2>
	<button type="button" class="close pointer" data-dismiss="modal" aria-label="Close">
		<span class="fi fi-close fs--18" aria-hidden="true"></span>
	</button>
</div>

<div class="modal-body" id="<% $css_id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelFull" aria-hidden="true">
	<form method="post" name="f308281" action="/_sub.html">
	<input type="hidden" name="sig"    value="<% $sig %>">

	<p>Tbd <% $C->now(2) %> / <span data-toggle="tooltip" data-placement="bottom" data-original-title="asdf">Tooltip</span></p>

	<& ../include/inc_text_edit.html, label=>'Debug', value_enc=>0, info=>'Debug', id=>98 &>

	<img class="img-fluid" src="/service-portal/assets/images/temp_410282.jpg">

	<p>
%	foreach (sort keys %{$perm}) {
%		next if /^\_.+/;
% # XXX		[ perm ] &middot; <b><% $_ %></b> = <code><% $perm->{$_} %></code><br>
%	}
	</p>

		<div class="modal-footer">
			<button type="button" class="btn btn-secondary btn-sm btn-soft" data-dismiss="modal">
				<i class="fi fi-close"></i> Close
			</button>
			<button type="button" class="btn btn-primary btn-sm btn-soft" onclick="document.f308281.submit()">
				<i class="fi fi-check"></i> Aktion
			</button>
		</div>

	</form>
</div>
