<%init>
	use ScreenPoint::Core;
	my $C = ScreenPoint::Core->new( $r, $m );
	my $css_id = $C->{CGI}->param('css_id') || 'exampleModalFull';
</%init>
<div class="modal fade" id="<% $css_id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelFull" aria-hidden="true">
	<div class="modal-dialog modal-full" role="document">

		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabelFull">Modal title</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span class="fi fi-close fs--18" aria-hidden="true"></span>
				</button>
			</div>

			<div class="modal-body">
				CSS-ID: <% $css_id %><br><br>

				<code><% $C->this() %></code>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-primary">
					<i class="fi fi-check"></i> Save changes
				</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">
					<i class="fi fi-close"></i> Close
				</button>
			</div>
		</div>

	</div>
</div>
