<table class="table table-sm border table-striped fs--14 mt-4 hidden-md-down">
	<tr>
	<td nowrap><b>Betriebssystem</b></td>
	<td>
			<span class="hidden-lg-down">Windows 11 Pro</span>
			<span class="fs--10 hidden-xl-up hidden-md-down">Windows 11 Pro</span>
	</td>
	</tr>
	<tr>
	<td nowrap><b>Festplatte</b></td>
	<td>
			<span class="hidden-lg-down">512 GB SSD</span>
			<span class="fs--10 hidden-xl-up hidden-md-down">512 GB SSD</span>
	</td>
	</tr>
	<tr>
	<td nowrap><b>Grafikkarte</b></td>
	<td>
			<span class="hidden-lg-down">Intel UHD Graphics 620</span>
			<span class="fs--10 hidden-xl-up hidden-md-down">Intel UHD Graphics 620</span>
	</td>
	</tr>
	<tr>
	<td nowrap><b>Hauptspeicher / RAM</b></td>
	<td>
			<span class="hidden-lg-down">16 GB</span>
			<span class="fs--10 hidden-xl-up hidden-md-down">16 GB</span>
	</td>
	</tr>
	<tr>
	<td nowrap><b>Prozessor</b></td>
	<td>
			<span class="hidden-lg-down">Intel Core i5-8265U, 8th Gen</span>
			<span class="fs--10 hidden-xl-up hidden-md-down">Intel Core i5-8265U, 8th Gen</span>
	</td>
	</tr>
	<tr>
	<td nowrap><b>Touchscreen</b></td>
	<td>
			<span class="hidden-lg-down">Ja</span>
			<span class="fs--10 hidden-xl-up hidden-md-down">Ja</span>
	</td>
	</tr>
	<tr>
	<td nowrap><b>Bildschirm</b></td>
	<td>
			<span class="hidden-lg-down">13,3 Zoll</span>
			<span class="fs--10 hidden-xl-up hidden-md-down">13,3 Zoll</span>
	</td>
	</tr>
	<tr>
	<td nowrap><b>Farbe</b></td>
	<td>
			<span class="hidden-lg-down">silber</span>
			<span class="fs--10 hidden-xl-up hidden-md-down">silber</span>
	</td>
	</tr>
	<tr>
	<td nowrap><b>Tastatur</b></td>
	<td>
			<span class="hidden-lg-down">CH</span>
			<span class="fs--10 hidden-xl-up hidden-md-down">CH</span>
	</td>
	</tr>
	<tr>
	<td nowrap><b>Zustands-Klasse</b></td>
	<td>
			<span class="hidden-lg-down">A</span>
			<span class="fs--10 hidden-xl-up hidden-md-down">A</span>
	</td>
	</tr>
</table>
