<%init>
	my %args = $m->caller_args(0);

	my $C        = $args{C};
	my $A        = $args{A};
	my $perm     = $args{perm};
	my $debug    = $args{debug};
</%init>

<span class="float-end">
	<a class="link-muted fs--11" target="_blank" href="https://claude.site/artifacts/977ac9e7-9c5d-4f5e-9c89-3a99bfe773cb">Claude-Entwurf</a>
</span>

<p>
	<a href="approve.html"><big>Bewilligen</big></a>
</p>

<button type="button" class="btn btn-primary position-relative">
	Notifications <span class="badge badge-danger position-absolute right-0 mt--n4 mr--n4 rounded-circle">7</span>
</button>

<img class="img-fluid" src="assets/images/temp_410260.png">
